.river-wave-area {
    /* height: 5%; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e77422;
    z-index: 1;
}
.river-wave {
    background: url('../images/wave.svg') ;
    position: absolute;
    top: -70px;
    width: 6400px;
    height: 100px;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}
.river-wave:nth-of-type(1) {
  top: -26px;
  animation: river-wave 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.325s infinite, swell 9s ease -3.25s infinite
}
.river-wave:nth-of-type(2) {
    top: -26px;
    animation: river-wave 40s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -2.25s infinite;
    opacity: 0.2;
}

.river-wave:nth-of-type(3) {
  top: -26px;
  animation: river-wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.225s infinite, swell 7s ease -3.25s infinite;
  opacity: 0.6;
}

@keyframes river-wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-45px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }


  /* hoanlt */
  .gioithieu2 {
    overflow: hidden;
  }

  #header {
    padding: 20px 25px 0px 25px;
    width: 100%;
  }

  #header button span{
    color: #fff;
    font-size: 12px;
    font-weight: 700!important;
  }

  #header button .nav-close img {
    margin-right: 7px!important;
  }

  #header a img {
    width: 130px;
  }

  #header button strong {
    font-size: 17px;
  }

  #header div {
    margin: auto;
  }

  #header label span:nth-child(1) {
    color: #E7AB21;
  }

  #header label span:nth-child(2) {
    margin-left: 10px;
    color: #fff;
  }

  #header .logo_class {
    width: 105px;
  }

  #header button .nav-close strong {
    color: black;
  }

  .carousel-indicators-right {
    top: 40%;
    list-style: none;
    right: calc(10%/2);
    width: 0;
    left: auto;
  }

  .carousel-indicators .active {
    background-color: #E7AB21;
    border: 1px solid #E7AB21;
  }

  #fp-nav {
    display: none;
  }

  .carousel-full {
    height: calc(100vh);
  }
  /* row-1 */
  .row-1 .slogan  .carousel-caption {
    height: calc(100vh);
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-caption h1 {
    font-size: 60px;
  }

  .carousel-caption span {
    color: #E7AB21;
  }
  /*#fp-nav {
    display: none;
  }*/

  .carousel-full {
    height: calc(100vh);
  }
  /* row-1 */
  .row-1 .slogan  .carousel-caption {
    height: calc(100vh);
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #myCarousel .item {
    position: relative;
    .transition(.6s ease-in-out right);
  }
  .carousel-caption h1 {
    font-size: 50px;
  }

  .carousel-caption span {
    color: #E7AB21;
  }

  /* row-2 */

  .row-2 .col-md-5 ul li {
    margin-bottom: 25px;
  }

  .row-2 .col-md-5 ul li i {
    font-weight: 700;
    font-size: 20px;
  }

  .row-2 .col-md-5 ul li i:hover {
    color: #E7AB21;
    cursor: pointer;
  }

  .row-2 .col-md-5 div:nth-child(2) {
    justify-content: center;
  }

  #page2 {
    height: 100vh;
    padding: 0 calc(10%/2);
  }
  #page2 .col-md-9 {
    height: 70%;
    overflow: auto;
  }
  #page2 .col-md-9::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
  }
  #page2 .col-md-9::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e99134;
  }
  #page2 .col-md-9::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ddd;
  }
  .row-2 .col-md-7>b, #page2 .col-md-9>b:nth-child(1) {
    font-size: 40px;
  }

  .row-2 .col-md-7 .align-items-center span:nth-child(2), #page2 .col-xs-9 .align-items-center span:nth-child(2) {
    margin-left: 25px;
  }

  .row-2 .col-md-7 .align-items-center p, #page2 .col-xs-9 .align-items-center p {
    margin: 0;
  }

  .row-2 .col-md-7 .xemthem, #page2 .col-md-9 .xemthem  {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .row-2 .col-md-7 .xemthem  span, #page2 .col-md-9 .xemthem  span {
    float: right;
    color: #E7AB21;
  }

  .row-2 .col-md-7 p, #page2 .col-md-9 p {
    text-align: justify;
    line-height: 25px;
  }

  .row-2 .slogan{
    padding: 20px calc(10%/2);
  }

  .row-2 #page1 .tree_class{
    margin-top: -50px;
    position: absolute;
  }


  #page2 h4{
    margin: 20px 0px;
  }

  #page2 .col-md-1 li i{
    margin-bottom: 25px;
    font-size: 20px;
  }

  #page2 .col-md-1 {
    padding: 0;
  }

  #page2 .col-md-1 li i:hover {
    color: #E7AB21;
    cursor: pointer;
  }

  #page2 ul li .d-flex p{
    margin: 0px 0px 0px 15px;
    line-height: 30px;
  }

  #page2 .col-md-9 ul li i{
    color: #20AB1D;
  }
  
  /* row-5 */

  .row-5 {
    background: url("../images/icon/website otp 3-27.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -3px;
  }

  .row-5 img {
    margin: 20px 0px;
  }

  .row-5 p,.row-5 h4,.row-5 h3{
    padding-bottom: 10px;
  }

  .row-5 h4 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .row-5-page1 {
    padding: 0px calc(15%);
    line-height: 30px;
  }
  /* row-6 */

  .row-6 #map {
    width: 100%;
    height: calc(100vh);
    border: 0;
    margin-top: 106px;
  }

  .row-6 .contact_class {
    background: linear-gradient(to right,#E87022,#f9780a);
    padding: 30px calc(10%/2 - 20px);
    position: absolute;
    width: 30%;
    color: #fff;
    border-radius: 0px 0px 15px 15px;
    top: 63px;
    left: calc(10%/2);
    display: none;
  }

  .row-6 .contact_class h3 {
    margin-top: 0;
  }
  .row-6 .contact_class .line {
    width: 20%;
    height: 5px;
    background: #fff;
    margin: 10px 0px 30px 0px;
  }

  .row-6 .contact_class ul {
    margin-bottom: 20px;
  }

  .row-6 .contact_class p {
    text-align: justify;
    padding: 0 0 30px;
  }

  .row-6 .contact_class table tr td:nth-child(1) {
    vertical-align: top;
  }

  .row-6 .contact_class table tr td:nth-child(2) {
    padding-left: 10px;
  }

  .row-6 .contact_class ul li {
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .row-6 .contact_class .mail_class {
    margin-bottom: 15px;
  }

  .row-6 .contact_class .mail_class a {
    padding: 15px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#f98e0a,#e45a00);
    -webkit-box-shadow: 2px 7px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 20px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 20px 4px rgba(0, 0, 0, 0.2);
  }

  /* class dùng chung */
  .d-flex {
    display: flex;
  }
  .align-items-center {
    align-items: center!important;
    display: flex;
  }
  .margin-left {
    margin-left: auto!important;
  }
  .color_class {
    color: #E7AB21;
  }
  .responsive {
    width: 70%;
    height: auto;
  }

  .header {
    background: #fff;
    padding: 12px calc(10%/2);
  }
