/* ipad pro */

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	#header {
  		padding: 10px calc(10%/2);
  	}
  	footer {
  		display: none;
  	}
  	.img-background{
	    object-fit: cover;
	}
}


@media screen and (min-width: 1367px) and (max-width: 1920px) {
  	.row-6 .contact_class {
  		padding: 64px calc(10%/2 - 20px)
  	}
}






@media screen and (max-width: 1199px) {
	/* row-2 */
	.responsive {
	    width: 75%;
	    height: auto;
	}

	.row-2 .col-xs-7>b, .row-2 .col-xs-8>b:nth-child(1) {
		font-size: 35px;
	}

	.row-2 .col-xs-7 .xemthem, .row-2 .col-xs-8 .xemthem {
		margin-bottom: 10px;
	}
	.row-2 .col-xs-7 table p, .row-2 .col-xs-8 table p {
		margin: 0 0 5px;
	}
	.row-2 .col-xs-5 .align-items-center {
		padding: 0;
	}

	.row-5 {
		margin-left: -2px;
	}
}

@media screen and (max-width: 767px) {
	.gioithieu2 {
		overflow: auto;
	}
	#header {
		padding: 10px calc(10%/2);
	}

	#header div {
		margin: auto;
	}

	#header button strong {
		display: none;
	}

	#header button .nav-close img {
	    margin-right: 10px!important;
	}

	footer {
		display: none;
	}

	#header .logo_class {
		width: 85px;
	}
	/* row-1 */

	.carousel-caption h1 {
		font-size: 40px;
	}

	/* row-2 */
/*
	#page1.align-items-center, #page2.align-items-center {
		align-items: inherit;
	}*/
	#page2 {
		overflow: auto;
		height: auto;
	}

	#page1 .col-md-5 {
		display: none;
	}

	.row-2 .slogan {
		padding: 0 calc(10%/2)!important;
		margin-top: 45px;
	}

	.row-2 #page1, #page2 {
	    padding: 10px calc(10%/2);
	}

	#page2 .col-md-9 {
		padding: 0;
	}

	.row-2 .col-md-7 {
		padding: 0;
	}

	#page1 .col-md-7>b, #page2 .col-md-9>b:nth-child(1) {
		font-size: 25px;
	}

	.row-2 .fp-tableCell {
		vertical-align: top;
	}

	#page2 .col-md-1, #page2 .col-md-2 {
		display: none;
	}

	#page2 ul li p {
	    line-height: 25px;
	}

	#page2 .col-md-9 {
		margin-top: 45px;
	}

	/*#page2 {
		overflow:hidden;
	}*/


	/* row-5 */

	.row-5 .row-5-page1,.row-5 .row-5-page2 {
		padding: 10px calc(10%/2);
	}

	.row-5 .row-5-page1 {
		line-height: 25px;
	}

	.row-5 h2 {
		font-size: 25px;
	}

	.row-5 {
	    margin-left: -1px;
	}

	/* row-6 */

	.row-6 .contact_class {
		padding: 24px calc(10%/2);
		bottom: 0;
		left: 0;
		width: 100%;
		top: auto;
	    border-radius: 15px 15px 0 0;
	}

	.row-6 .contact_class .line {
	    margin: 10px 0 10px;
	}

	.row-6 .contact_class p {
	    padding: 0 0 4px;
	}

	.row-6 .contact_class ul {
		margin: 0;
	}

	.row-6 .contact_class .mail_class a {
	    padding: 10px 20px;
	}

	.row-6 .d-flex {
		float: right;
		margin-top: 15px;
	}

	.row-6 .mail_class {
		float: left;
		margin-top: 15px;
	}

	.row-6 .contact_class ul li {
	    margin-right: 16px;
	}
	.map_class iframe {
		height: 90vh!important;
	}
}