

/*====================================== MOBILE =====================================*/

@media only screen and (max-width: 575px) {


	.nav-close, .nav-open{
		margin-left: 0px!important;
	}

	.home-theme .dropdown-nav.full{
		padding: 60px 0 6% 0;
	}

	.img-background{
		width: 100%;
		height: 100%!important;
    object-fit: cover;
	}

	/* PAGE MENU */
	.page-menu{
		margin-top: 20px
	}

	.page-menu .col-right{
		display: none;
	}

	.page-menu .col-left{
		width: 100%!important;
		height: calc(100vh - 100px);
	}

	.page-menu .col-left .list-menu{
		margin-left: 0px!important;
	}

	.page-menu .col-left .list-social{
		margin: 30px 0!important;
	}

	/* PAGE customer */
	.customer-main-conntent{
		width: auto!important;
		margin-left: 0px!important;
		padding: 65px calc(10%/2) 0 calc(10%/2)!important;
		display: block!important;
	}

	.customer-col-right{
		width: 100%!important;
		padding: 0px !important;

	}

	.customer-col-left{
		width: 100%!important;
		padding: 0px !important;
	}

	.customer-main-conntent .owl-stage-outer {
		height: 30vh!important;
	}

	.customer-main-conntent .owl-stage-outer .owl-stage{
		height: inherit;
	}

	.customer-col-right h1{
		margin: 0px!important;
		font-size: 22px;
	}

	.customer-list-customer li{
		padding: 20px 0 !important;
	}

	.customer-list-customer li.active{
		padding: 30px 0 !important;
	}

	.customer-col-right h4{
		margin: 0px!important;
		font-size: 15px;
	}

	.customer-col-left .owl-carousel .owl-stage-outer{
		border-radius: 15px!important;
	}


	/* PAGE PRODUCT */
	.page-product{
		width: auto!important;
		margin-left: 0px!important;
		padding: 25px calc(10%/2) 0 calc(10%/2)!important;
	}

	.page-product .content-left{
		width: 100%!important;
		padding: 0!important;
	}

	.page-product .content-left .head-3-1-1{
		font-size: 17px!important;
		margin-bottom: 10px!important;
	}

	.page-product .nav.nav-pills li a{
		padding-right: 10px!important;
		font-size: 12px!important;
	}

	.page-product .content-right{
		display: none
	}

	.page-product .head-3{
		margin-top: 0!important;
    position: static!important;
    margin-left: 0!important;
    height: auto!important;
	}

	.page-product .img-back{
		display: none;
	}

	.page-product .tab-content{
		height: calc(100vh - 250px)!important;
		padding: 10px 0 !important;
	}

	.section.row-3{
		margin-top: 45px;
	}

	.page-product .tab-mobile{
		display: block!important;
	}
	
	.page-product .tab-desktop{
		display: none;
	}

	.page-product .tab-content .thumbnail .desc{
    text-align: justify!important;
	}

	#product-detail{
		padding: 20px calc(10%/2) 0!important;
	}

	#product-detail .col-md-1,  #product-detail .col-md-2{
		display: none!important;
	}

	#product-detail .col-md-9 .content{
		padding: 0 10px 0 0!important;
		height: calc(100vh - 160px)!important;
	}

	#product-detail .col-md-9.col-xs-12{
		padding: 0!important;
	} 

	#product-detail .col-md-9 h3{
		font-size: 18px!important;
	}

	.img-back{
		display: none!important;
	}

}

/*====================================== IPAD =====================================*/

@media only screen and (min-width: 576px) and  (max-width: 767px) {
	.page-menu{
	}
}

/*====================================== DESKTOP =====================================*/

@media only screen and (min-width: 768px) and  (max-width: 991px) {

}

/*====================================== DESKTOP =====================================*/

@media only screen and (min-width: 992px) and  (max-width: 1199px) {

}

/*====================================== DESKTOP FHD =====================================*/

@media only screen and (min-width: 1200px){

}