.main-container-3 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: white;
}

.head-3-scroll{
    overflow-y: scroll;
    height: 200px;
}

.next-prev{
    position: absolute;
    margin-top: 255px;
    margin-left: 470px;

}

.head-3-1-1{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 20px 0;
    margin-bottom: 25px;
}

.head-3-1-1::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,#ffc477 ,#E45A21)!important;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100px;
}

.prev{
    background-color:transparent;
    border:none;
    cursor:pointer;
    overflow: hidden;
    margin: 5px;

}
.next{
    background-color:transparent;
    border:none;
    cursor:pointer;
    overflow: hidden;
    margin: 5px;
}