a, p, h1, h2, h3, h4, span{
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button:focus{
    outline: none;  
}

.clearfix {
    overflow: auto;
}

.thumbnail{
    background-color: transparent;
}

/* ===================================================================================================================== */
/* PAGE CUSTOMER */
/* ===================================================================================================================== */

.customer-main-background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.customer-main-background img {
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -5%;
}

.customer-main-conntent{
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding: 0px calc(10%/2);
}

.customer-col-left{
    width: calc(100% / 2);
    float: left;
    padding: 10px 0px 10px 0;
}

.customer-col-right{
    width: calc(100% / 2);
    float: right;
    padding: 10px 0px 10px 0;
}

.customer-col-left .owl-carousel .owl-stage-outer{
    border-radius: 35px;
    -webkit-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    -moz-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
}

.customer-col-left .owl-carousel .owl-dot{
    width: 12px;
    background-color: #bfbfbf;   
    height: 12px;
    margin: 15px 5px 0 5px;
    border-radius: 12px;
    border: none
}

.customer-col-left .owl-carousel .owl-dot.active {
    background-image: linear-gradient(to right, #E69122 , #E45A21);
}


.customer-col-left .owl-carousel .owl-nav{
    float: right;
    color: #E9BF67;
    font-weight: bold;
}

.customer-col-left .owl-carousel .owl-nav button{
    width: 35px;
    height: 33px;
    /* border-radius: 25px; */
    margin: 10px 0px;
}

.customer-col-left .owl-carousel .owl-nav button.owl-next.active{
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

.customer-col-left .owl-carousel .owl-nav button.owl-next{
    /* background-image: linear-gradient(to right, #E69122 , #E45A21)!important; */
    background-image: url('../images/icon/NR-12.png');
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

.customer-col-left .owl-carousel .owl-nav button.owl-next:hover{
    /* background-image: linear-gradient(to right, #E69122 , #E45A21)!important; */
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

.customer-col-left .owl-carousel .owl-nav button.owl-prev{
    background-image: url('../images/icon/NR-12.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

.customer-col-left .owl-carousel .owl-nav button.owl-prev:hover{
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.customer-col-left .owl-carousel .owl-nav button span {
    display: none;
}

.customer-list-customer ul{
    padding: 0;
}

#list-customer{
    height: 45vh;
    overflow: auto;
}

/* width */
.customer-list-customer::-webkit-scrollbar {
    width: 5px;
 }
 
 /* Track */
 .customer-list-customer::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px #b3a29bb5; 
     border-radius: 5px;
 
 }
 
 /* Handle */
 .customer-list-customer::-webkit-scrollbar-thumb {
     background: #ec7739;
     background-repeat: no-repeat;
     border-radius: 5px;
 }

 .customer-list-customer ul li img{
     max-width: 120px;
     max-height: 40px;
 }

.customer-list-customer ul li img:first-child{
    display: none;
}

.customer-list-customer ul li img:last-child{
    display: block;
}

.customer-list-customer ul li.active{
    transition: all .3s;
}

.customer-list-customer ul li.active img:last-child{
    display: none;
}

.customer-list-customer ul li.active img:first-child{
    display: block;
}

.customer-list-customer li .thumbnail{
    float: left;
    border: none;
    margin: 0;
}

.customer-col-right h1{
    border-bottom: 2px solid #B9B9B9;
    font-weight: 700;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    margin: 0 0 0 60px;
    position: relative;
    color: #333;
}

.customer-col-right h4{
    border-top: 2px solid #B9B9B9;
    font-weight: bold;
    margin: 0 0 20px 60px;
    text-transform: uppercase;
    /* position: fixed;
    width: calc((100% - 150px)/2); */
    bottom: 0px;
    padding-top: 10px;
    color: #858585;
}

.customer-col-right h1::after { 
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #ffc477 , #E45A21)!important;
    bottom:0px;
    left: 0px;
    height: 7px;
    width: 100px;
}
.customer-list-customer li span{
    height: 33px;
    color: #888888;
    font-size: 13px;
}
.customer-list-customer li span:nth-child(2){
    margin: 0 10px 0 30px;
    padding: 0px 10px 0 15px;
    border-right: 2px solid #B9B9B9;
    border-left: 2px solid #B9B9B9;
    font-weight: bold;
    width: 200px;
}

.customer-list-customer li.active span{
    color: #333;
}

.customer-list-customer li.active span:nth-child(2){
    font-size: 15px;
    height: 40px;
    width: 250px;
}


.customer-list-customer li{
    padding: 20px 0 20px 60px;
    display:flex;
    /* align-items: center; */
}

.customer-list-customer li.active{
    background-color:#b9b9b91a;
    padding: 50px 0 50px 60px;
}

.customer-list-customer li.active span:nth-child(3){
    font-size: 13px;
    font-weight: 550
}

.customer-col-left .owl-stage-outer{
    width: 100%;
    height: 55vh;
}

.customer-col-left .owl-stage-outer .owl-item img{
    height: -webkit-fill-available;
    object-fit: cover;
}
/* ===================================================================================================================== */
/* PAGE MENU */
/* ===================================================================================================================== */

.page-menu{
    height: -webkit-fill-available;
    padding-left: calc(10%/2);
    padding-right: calc(10%/2);
    background-color: #fff;
    width: 100vw;
    padding-top: 20px
}
.page-menu .col-left{
    /* background-color: #888888; */
    float: left;
    width: 20%;
    height: 100vh;
}

.page-menu .list-menu li{
    padding: 0 0 25px 0;
}

.page-menu .list-menu li:hover a{
    font-style: italic;
    color: #f5a600f5
}

.page-menu .list-menu li a{
    text-transform: uppercase;
    color: #000000c2;
    font-size: 15px;
    font-weight: 600;
    transition: all .5s!important;
}

.page-menu .list-menu li.active a{
    font-style: italic;
    color: #f5a600f5
}

/* .page-menu .col-left .list-menu{
    margin-left: 25px
} */

.page-menu .col-right{
    /* background-color: #E45A21; */
    float: right;
    width:80%;
    height: 100vh;
}

.page-menu .col-left .list-social{
    margin: 30px 0 30px 0;
}

.page-menu .col-left .list-social ul li{
    float: left;
    margin: 10px 25px 10px 0;
}

.page-menu .col-left .list-social ul li{
    float: left;
    margin: 10px 25px 10px 0;
}

.page-menu .col-left .list-social ul li:hover img{
    display: none;
}

.page-menu .col-left .list-social ul li:hover img.active{
    display: block;
}

.page-menu .col-left .list-social img{
    display: block;
}

.page-menu .col-left .list-social img.active{
    display: none;
}

.page-menu .col-left .group-register button{
    padding: 12px 16px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f9af0a , #fb5510);
    border: none;
}

.page-menu .col-left .group-register button:hover{
    cursor: pointer;
}

.page-menu .col-left .group-register button span{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.page-menu .col-right h2{
    text-transform: uppercase;
    color: #191111cc;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 25px;
}

.page-menu .col-right .post-content {
    position: relative;
    height:70vh;
    /* overflow-y :scroll; */
}

.page-menu .col-right .post-content .img-gallery{
    float:left;
    width: 80%;
    height:70vh;
    overflow: auto;
}

.page-menu .col-right .post-content .content{
    float: right;
    width: calc(20%);
    height: 1000px;
    padding: 0 15px;
    color: #333;
}

.page-menu .col-right .post-content .content .title{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 17px;

}

.page-menu .col-right .post-content .content .create-date{
    display: flex;
    font-size: 12px;
    margin-bottom: 15px;
    align-items: center;
}

.page-menu .col-right .post-content .content .content-des{
    font-weight: normal;
    font-size: 12px;
    text-align: justify;
}

.page-menu .col-right .post-content .content .create-date img{
    margin-right: 10px;
    height: 10px
}


.page-menu .col-right .owl-carousel .owl-item img{
    width: auto;
}


 .page-menu .post-content .owl-nav button.owl-prev{
    background-image: url('../images/icon/NR-12.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

 .page-menu .post-content .owl-nav button.owl-prev:hover{
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.page-menu .owl-carousel .owl-nav{
    position: absolute;
    right: 88px;
}

 .page-menu .owl-carousel .owl-nav button{
    width: 35px;
    height: 33px;
    /* border-radius: 25px; */
    margin: 10px 5px;
}

.page-menu .owl-carousel .owl-nav button span{
    display: none;
}

 .page-menu .owl-carousel .owl-nav button.owl-next{
    /* background-image: linear-gradient(to right, #E69122 , #E45A21)!important; */
    background-image: url('../images/icon/NR-12.png');
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

.page-menu .owl-carousel .owl-nav button.owl-next:hover{
    /* background-image: linear-gradient(to right, #E69122 , #E45A21)!important; */
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

.page-menu .owl-carousel .owl-nav button.owl-next.active{
    /* background-image: linear-gradient(to right, #E69122 , #E45A21)!important; */
    background-image: url('../images/icon/NR-11.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
}


/* width */
.page-menu .col-right .img-gallery ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.page-menu .col-right .img-gallery ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3a29bb5; 
}

/* Handle */
.page-menu .col-right .img-gallery ::-webkit-scrollbar-thumb {
    background: #fbae10f0;
    border-radius: 5px;
}

.page-menu .col-right .products .product-wrapper .product-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #ffcf3fbd , #ff6e07c7);
    cursor: pointer;
}

.page-menu .col-right .product-overlay .plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%,-50%);
}

.page-menu .col-right .products .product-wrapper:hover .product-overlay {
    display: block;
}

.page-menu .col-right .products .product-wrapper {
    position: relative;
    display: inline-block;
}

.page-menu .col-right .products .product-wrapper .product-image{
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: 260px
}

.toggle-nav span{
    display: none;
}

.toggle-nav span.active{
    display: block;
}

#myCarousel .item{
    height: 100vh;
    overflow: hidden;
}

.back-ground-opacity{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
}

#header button .nav-open img,#header button .nav-close img{
    margin-right: 10px;
    width: 27px;
}

.page-menu .page-content{
    position: fixed;
    width: 60px;
    height: 40px;
    right: 0;
}

.page-menu .page-content span:first-child{
    color: #E69122;
    font-size: 22px;
}

.page-menu .page-content span:nth-child(2){
    position: absolute;
    transform: rotate(10deg);
    font-size: 34px;
    color: #666;
    top: -3px;
    right: 25px;
}

.page-menu .page-content span:last-child{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #666;
}


/* ===================================================================================================================== */
/* PAGE PRODUCT */
/* ===================================================================================================================== */

.page-product{
    width: calc(100%);
    height: -webkit-fill-available;
    padding: 20px calc(10%/2);
    display: flex;
    align-items: center;
}

.page-product .content-right{
    width: 40%;
    float: right;
}

.page-product .content-left{
    width: calc(58%);
    float: left;
    padding: 10px 30px 10px 0;
}

.page-product #canvas-content canvas{
    border-radius: 400px;
}

.page-product #canvas-content canvas {
    border-radius: 400px;
    box-shadow: 8px 18px 114px -32px rgba(0, 0, 0, 0.32);
}

.page-product #canvas-content {
    position: relative;
    width: min-content;
    padding-bottom: 30px
}

.page-product #canvas-content img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-100%);
    margin-left: -45px;
}

.page-product .img-back{
    position: absolute;
    bottom: 0;
    left: 64%;
    z-index: 0;
    transform: translate(-50% , -50%);
    display: none;
}

.page-product .nav.nav-pills li a{
    padding-left: 0;
    padding-right: 35px;
    background: transparent;
    color: #615d5d;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.page-product .nav.nav-pills li.active a{
    color: #000;
}

.page-product .nav.nav-pills li.active::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,#ffc477 ,#E45A21)!important;
    bottom: 0;
    left: 0;
    height: 3px;
    width: calc(100% - 15px);
}

.page-product .tab-content{
    padding: 10px 30px 10px 0;
    height: 60vh;
    overflow: auto;

}

.page-product .tab-content .thumbnail{
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    border-radius: unset;
}

.page-product .tab-content .thumbnail:last-child{
    border: none!important;
}

.page-product .tab-content .thumbnail .title{
    text-transform: uppercase;
    font-weight: bold;
    color: #ce6b1d;
    margin-bottom: 10px;
}

.page-product .tab-content .thumbnail .desc{
    font-size: 12px;
}

.thumbnail .caption{
    padding: 10px 0;
}

.img-background{
    opacity: 1;
}
/* width */
.page-product .tab-content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.page-product .tab-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3a29bb5; 
}

/* Handle */
.page-product .tab-content::-webkit-scrollbar-thumb {
    background: #ec7739;
    border-radius: 5px;
}

.page-product .tab-mobile{
    display: none;
}


#product-detail {
    height: 100vh;
    padding: 80px calc(10%/2) 0 calc(10%/2);
  }

  #product-detail .col-md-1{
    height: 70vh;
    display: flex;
    align-items: center;
  }


  #product-detail .col-md-9 .content {
    height: 60vh;
    overflow: auto;
    padding: 0 30px 0 0;
  }
  #product-detail .content::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
  }
  #product-detail .content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e99134;
  }
  #product-detail .content::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ddd;
  }
  .row-2 .col-md-7>b, #product-detail .col-md-9>b:nth-child(1) {
    font-size: 40px;
  }

  .row-2 .col-md-7 .align-items-center span:nth-child(2), #product-detail .col-xs-9 .align-items-center span:nth-child(2) {
    margin-left: 25px;
  }

  .row-2 .col-md-7 .align-items-center p, #product-detail .col-xs-9 .align-items-center p {
    margin: 0;
  }

  .row-2 .col-md-7 .xemthem, #product-detail .col-md-9 .xemthem  {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .row-2 .col-md-7 .xemthem  span, #product-detail .col-md-9 .xemthem  span {
    float: right;
    color: #E7AB21;
  }

  .row-2 .col-md-7 p, #product-detail .col-md-9 p {
    text-align: justify;
    line-height: 25px;
  }

  .row-2 .slogan{
    padding: 20px calc(10%/2);
  }

  .row-2 #page1 .tree_class{
    margin-top: -50px;
    position: absolute;
  }


  #product-detail h4{
    margin: 20px 0px;
  }

  #product-detail .col-md-1 li i{
    margin-bottom: 25px;
    font-size: 20px;
  }

  #product-detail .col-md-1 {
    padding: 0;
  }

  #product-detail .col-md-1 li i:hover {
    color: #E7AB21;
    cursor: pointer;
  }

  #product-detail ul li p{
    margin: 0px 0px 0px 25px;
    line-height: 30px;
  }

  #product-detail .col-md-9 ul li i{
    color: #20AB1D;
  }