.river-wave-area {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1;
}
.river-wave {
    background: url(https://phamngocson.com/wp-content/themes/flatsome/homepro/media/designer/wave.svg) repeat-x;
    position: absolute;
    top: -100px;
    width: 6400px;
    height: 100px;
    animation: river-wave 35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.river-wave:nth-of-type(2) {
    top: -56px;
    animation: river-wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -2.25s infinite;
    opacity: 1;
}
@keyframes river-wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-45px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }


  /* hoanlt */
  #header {
    padding: 40px;
    width: 100%;
  }

  #header button span{
    color: #fff;
    margin-left: 10px;
    font-size: 20px
  }

  #header div {
    margin: auto;
  }

  #header label span:nth-child(1) {
    color: #E7AB21;
  }

  #header label span:nth-child(2) {
    margin-left: 10px;
  }

  .carousel-indicators-right {
    position: absolute;
    width: 100%;
    z-index: 15;
    top: 50%;
    left: 95%;
    list-style: none;
  }

  .carousel-indicators-right .active {
    width: 12px;
    height: 12px;
    background-color: #E7AB21;
  }

  .carousel-indicators-right li {
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  /*#fp-nav {
    display: none;
  }*/

  .carousel-full {
    height: calc(100vh);
  }
  /* row-1 */
  .row-1 .slogan  .carousel-caption {
    height: calc(100vh);
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-caption h1 {
    font-size: 50px;
  }

  .carousel-caption span {
    color: #E7AB21;
  }

  /* row-2 */
  .row-2 .col-xs-5 .align-items-center {
    padding: 0px 25px;
  }

  .row-2 .col-xs-5 ul li {
    margin-bottom: 25px;
  }

  .row-2 .col-xs-5 ul li i {
    font-weight: 700;
    font-size: 20px;
  }

  .row-2 .col-xs-5 ul li i:hover {
    color: #E7AB21;
    cursor: pointer;
  }

  .row-2 .col-xs-5 div:nth-child(2) {
    justify-content: center;
  }

  .row-2 .col-xs-5 div:nth-child(2) img{
    margin-left: 20%;
  }

  .row-2 .col-xs-7 {
    padding-right: 65px;
  }

  .row-2 .col-xs-7>b, .row-2 .col-xs-8>b:nth-child(1) {
    font-size: 45px;
  }

  .row-2 .col-xs-7 .align-items-center span:nth-child(2), .row-2 .col-xs-8 .align-items-center span:nth-child(2) {
    margin-left: 25px;
  }

  .row-2 .col-xs-7 .align-items-center p, .row-2 .col-xs-8 .align-items-center p {
    margin: 0;
  }

  .row-2 .col-xs-7 .xemthem, .row-2 .col-xs-8 .xemthem  {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .row-2 .col-xs-7 .xemthem  span, .row-2 .col-xs-8 .xemthem  span {
    float: right;
    color: #E7AB21;
  }

  .row-2 .col-xs-7 p, .row-2 .col-xs-8 p {
    text-align: justify;
    line-height: 25px;
  }

  .row-2 #page2 {
    width: 100%;
    background: #fff;
    height: 100vh;
  }

  .row-2 #page2 h4{
    margin-top: 20px;
  }

  .row-2 #page2 .text-center li i{
    margin-bottom: 25px;
    font-size: 20px;
  }

  .row-2 #page2 .text-center li i:hover {
    color: #E7AB21;
    cursor: pointer;
  }

  .row-2 #page2 ul li p{
    margin: 0px 0px 0px 25px;
    line-height: 30px;
  }

  .row-2 #page2 .col-xs-8 ul li i{
    color: #20AB1D;
  }
  
  /* class dùng chung */
  .d-flex {
    display: flex;
  }
  .align-items-center {
    align-items: center;
    display: flex;
  }
  .margin-left {
    margin-left: auto!important;
  }
  .color_class {
    color: #E7AB21;
  }