@import url(animate.css);
@import url(jquery.fullpage.min.css);
@font-face { font-family: 'SVN-Nexa Rush Sans Black'; src: url("../fonts/SVN-NexaRushSansBlack.ttf"); }
@font-face { font-family: 'SVN-Russell'; src: url("../fonts/SVN-Russell.ttf"); }
@font-face { font-family: 'SVN-Square'; src: url("../fonts/SVN-Square.ttf"); }
@font-face { font-family: 'SVN-Batman Forever Alternate'; src: url("../fonts/SVN-BatmanForeverAlternate.otf"); }
/*------------------------------
			Global
------------------------------*/
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mBody { font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; color: #2a2a2a; overflow-x: hidden; }
.mBody a, .mBody a:hover, .mBody a:focus { color: inherit; text-decoration: none; }
.mBody ul { list-style: none; padding: 0; margin: 0; }
.mBody .portlet { margin: 0; }
.mBody .portlet .portlet-content { padding: 0; border: 0; background-color: transparent; }
.mBody .portlet .portlet-content h2 { display: none; }
.mBody #content { min-height: calc(100vh - 215px); padding-top: 0; padding-bottom: 0; }
.mBody .truncated { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }
.mBody .text-medium { font-weight: 500; }
.mBody .text-bold { font-weight: bold; }
.mBody .pointer:hover { cursor: pointer; }

/*------------------------------
			Header
------------------------------*/
#header { position: fixed; z-index: 5; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 40px; width: 100%; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
#header .toggle-nav { background: none;border: 0 }
#header .toggle-nav i { color: #E7AB21; font-size: 24px; }
#header a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
#header a img { margin-right: 15px; }
#header a label { font-weight: normal; font-size: 16px; text-transform: uppercase; margin-bottom: 0; text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white; color: #f5821f; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
#header a label span { display: block; font-weight: bold; color: #085097; }
#header.has-nav { top: 15px; left: 15px; }
#header.has-nav a label { opacity: 0; }

/*------------------------------
			Navbar
------------------------------*/
.home-theme .dropdown-nav { height: 0; width: 100%; position: fixed; z-index: 101; top: 0; left: 0; background-color: #f6f6f6; overflow: hidden; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; font-size: 16px; }
.home-theme .dropdown-nav.full { height: 100vh; }
.home-theme .dropdown-nav .head { font-size: 24px; color: #085097; margin-top: 250px; margin-bottom: 30px; font-family: 'SVN-Nexa Rush Sans Black'; }
.home-theme .dropdown-nav .head a { padding: 0; }
.home-theme .dropdown-nav .head a:before { content: "" !important; }
.home-theme .dropdown-nav .head a:hover, .home-theme .dropdown-nav .head a:focus { padding: 0; color: #f5821f !important; padding: 0 !important; }
.home-theme .dropdown-nav li { padding: 5px 0; }
.home-theme .dropdown-nav a:not(.closebtn) { display: block; overflow: hidden; padding-left: 0; position: relative; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.home-theme .dropdown-nav a:not(.closebtn):before { content: "\f0da"; font-family: FontAwesome; position: absolute; top: -1px; left: 50%; color: #085097; opacity: 0; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.home-theme .dropdown-nav a:not(.closebtn):hover, .home-theme .dropdown-nav a:not(.closebtn):focus { color: #085097; font-weight: bold; padding-left: 15px; }
.home-theme .dropdown-nav a:not(.closebtn):hover:before, .home-theme .dropdown-nav a:not(.closebtn):focus:before { left: 0; opacity: 1; }
.home-theme .dropdown-nav .col-1 { text-align: justify; padding-right: 30px; }
.home-theme .dropdown-nav .col-1 li:not(.head) a { color: #085097; margin-top: 15px; display: inline-block; }
.home-theme .dropdown-nav .col-1 li:not(.head) a:before { content: "" !important; }
.home-theme .dropdown-nav .col-1 li:not(.head) a:hover, .home-theme .dropdown-nav .col-1 li:not(.head) a:focus { color: #f5821f; padding: 0 !important; }
.home-theme .dropdown-nav .col-4 .icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; font-size: 16px; }
.home-theme .dropdown-nav .col-4 i { width: 20px; text-align: center; margin-right: 5px; -ms-flex-negative: 0; flex-shrink: 0; }
.home-theme .dropdown-nav .col-4 i.fa-map-marker { font-size: 18px; }
.home-theme .dropdown-nav .col-4 i.fa-mobile { font-size: 22px; }
.home-theme .dropdown-nav .closebtn { margin-top: 90px; font-size: 60px; padding: 0; opacity: 0.5; display: inline-block; }
.home-theme .dropdown-nav .closebtn:hover, .home-theme .dropdown-nav .closebtn:focus { opacity: 1; text-decoration: none; }

@media screen and (max-width: 1599px) { .home-theme .dropdown-nav .head { margin-top: 100px; font-size: 22px; } }
/*------------------------------
			Global
------------------------------*/
#fp-nav ul li a span, .fp-slidesNav ul li a span { margin: -6px 0 0 -6px; height: 12px; width: 12px; border: 3px solid white; background-color: transparent; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); }

#fp-nav ul li a.active span { background-color: white; }

.mBody .fancybox-button, .mBody .fancybox-button:visited, .mBody .fancybox-button:link { color: #ccc; }

/*------------------------------
			Row 1
------------------------------*/

/*------------------------------
			Row 2
------------------------------*/


/*------------------------------
			Row 3
------------------------------*/

/*------------------------------
			Row 4
------------------------------*/

/*------------------------------
			Row 5
------------------------------*/

/*------------------------------
			Row 6
------------------------------*/

/*------------------------------
			Row 7
------------------------------*/

@media screen and (min-width: 1600px) and (max-width: 1680px) { /*---------- Row 1 ----------*/
  
@media screen and (min-width: 1366px) and (max-width: 1599px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  
@media screen and (min-width: 1000px) and (max-width: 1199px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  
@media screen and (min-width: 768px) and (max-width: 999px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  
@media screen and (max-width: 767px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  #header .toggle-nav { width: 40px; height: 40px; margin-right: 15px; line-height: 45px; text-align: center; display: block; }
  #header .toggle-nav i { font-size: 16px; }
  #header a img { margin: 0; height: 40px; }
  /*---------- Navbar ----------*/
  .home-theme .dropdown-nav { font-size: 14px; overflow: auto; }
  .home-theme .dropdown-nav .head { font-size: 18px; padding: 0; margin: 30px 0 15px; }
  .home-theme .dropdown-nav .col-1 li:not(.head) a { margin: 0; }
  .home-theme .dropdown-nav .closebtn { margin-top: 60px; }
  /*---------- Row 1 ----------*/
  
/*---------- List ----------*/
.products-list { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 60px; }
.products-list .box { background-color: white; -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); border-radius: 10px; text-align: center; font-weight: bold; color: #085097; background-size: auto 50px; background-position: center 30px; background-repeat: no-repeat; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; }
.products-list .box:hover, .products-list .box.active { background-color: #085097; color: white; }
.products-list div[class*="col-"]:nth-child(1) .box { background-image: url("../images/icon-product-1b.png"); -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.products-list div[class*="col-"]:nth-child(1) .box:hover, .products-list div[class*="col-"]:nth-child(1) .box.active { background-image: url("../images/icon-product-1w.png"); }
.products-list div[class*="col-"]:nth-child(2) .box { background-image: url("../images/icon-product-2b.png"); -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.products-list div[class*="col-"]:nth-child(2) .box:hover, .products-list div[class*="col-"]:nth-child(2) .box.active { background-image: url("../images/icon-product-2w.png"); }
.products-list div[class*="col-"]:nth-child(3) .box { background-image: url("../images/icon-product-3b.png"); -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.products-list div[class*="col-"]:nth-child(3) .box:hover, .products-list div[class*="col-"]:nth-child(3) .box.active { background-image: url("../images/icon-product-3w.png"); }
.products-list div[class*="col-"]:nth-child(4) .box { background-image: url("../images/icon-product-4b.png"); -webkit-animation-delay: 1.8s; animation-delay: 1.8s; }
.products-list div[class*="col-"]:nth-child(4) .box:hover, .products-list div[class*="col-"]:nth-child(4) .box.active { background-image: url("../images/icon-product-4w.png"); }
.products-list div[class*="col-"]:nth-child(5) .box { background-image: url("../images/icon-product-5b.png"); -webkit-animation-delay: 2.1s; animation-delay: 2.1s; }
.products-list div[class*="col-"]:nth-child(5) .box:hover, .products-list div[class*="col-"]:nth-child(5) .box.active { background-image: url("../images/icon-product-5w.png"); }
.products-list div[class*="col-"]:nth-child(6) .box { background-image: url("../images/icon-product-6b.png"); -webkit-animation-delay: 2.4s; animation-delay: 2.4s; }
.products-list div[class*="col-"]:nth-child(6) .box:hover, .products-list div[class*="col-"]:nth-child(6) .box.active { background-image: url("../images/icon-product-6w.png"); }
.products-list div[class*="col-"] a { display: block; padding: 100px 10px 15px; width: 100%; height: 100%; }

.products-content { padding-bottom: 30px; }
.products-content .description { display: none; }
.products-content .description.show { display: block; }
.products-content .portal .title { margin-bottom: 20px; }
.products-content .portal .sub-title { margin: 20px 0; }
.products-content .portal label { color: #085097; text-align: center; margin-bottom: 15px; }
.products-content .portal ul { margin-top: 20px; }
.products-content .portal ul li { position: relative; margin-bottom: 20px; padding-left: 30px; }
.products-content .portal ul li:before { content: "\f111"; font-family: FontAwesome; position: absolute; left: 15px; top: 3px; color: #00bff3; font-size: 10px; }
.products-content .portal .not-title { margin: 30px auto; }
.products-content .opencps label { font-size: 18px; text-transform: uppercase; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; margin: 25px 0; text-align: center; display: block; }
.products-content .opencps label.label-sm { font-size: 16px; font-family: Tahoma, Geneva, Verdana, sans-serif; }
.products-content .opencps label span { color: #f5821f; }
.products-content .opencps img { margin-top: 15px; margin-bottom: 30px; }
.products-content .opencps img.img-title { width: calc(100% + 60px); margin-left: -30px; max-width: inherit; }
.products-content .opencps ul { margin: 15px 0; }
.products-content .opencps ul li { padding: 0 0 0 45px; position: relative; }
.products-content .opencps ul li:before { content: ""; position: absolute; top: 7px; left: 25px; width: 6px; height: 6px; background-color: #085097; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.products-content .opencps ul.special-list-icon li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.products-content .opencps ul.special-list-icon li:before { display: none; }
.products-content .opencps ul.special-list-icon li img { margin: 0 15px 0 0; }
.products-content .opencps ul.space-out { margin-top: 0; }
.products-content .opencps ul.space-out li { padding: 10px 0 10px 45px; }
.products-content .opencps ul.space-out li:before { top: 17px; }
.products-content .opencps a { display: inline-block; margin: 15px auto 30px; color: white; background-color: #085097; border-radius: 6px; padding: 10px 20px; }
.products-content .opencps a:hover, .products-content .opencps a:focus { color: white; background-color: #f5821f; }
.products-content .opencps .logos-wrapper .line { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.products-content .opencps .logos-wrapper .line span { font-weight: bold; width: 50%; color: #085097; }
.products-content .opencps .logos-wrapper .line img { margin-left: 30px; }
.products-content .opencps .slider .slick-slide { margin: 0 15px; }
.products-content .integrated .title { margin-bottom: 20px; }
.products-content .integrated .sub-title { margin: 20px 0; }
.products-content .integrated .sub-title-lv2 { margin: 40px 0 20px -30px; }
.products-content .integrated label { color: #085097; text-align: center; }
.products-content .integrated ul.list-style-1 li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 15px 0; }
.products-content .integrated ul.list-style-1 li img { margin-right: 15px; margin-left: -20px; }
.products-content .integrated ul.list-style-2 { margin-bottom: 30px; }
.products-content .integrated ul.list-style-2 li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 15px 0; }
.products-content .integrated ul.list-style-2 li img { margin-right: 15px; margin-left: -20px; }
.products-content .integrated ul.list-style-3 li { position: relative; padding-left: 20px; margin: 15px 0; }
.products-content .integrated ul.list-style-3 li:before { content: "\f111"; font-family: FontAwesome; position: absolute; top: 3px; left: 0; font-size: 10px; color: #085097; }
.products-content .integrated .icons-round { text-align: center; margin: 30px 0 0; color: #085097; }
.products-content .integrated .icons-round > div { margin-bottom: 30px; }
.products-content .integrated .icons-round > div:nth-last-child(-n+3) { margin-bottom: 0; }
.products-content .integrated .icons-round img { margin-bottom: 15px; }
.products-content .integrated .group-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.products-content .integrated .group-icons > div { margin-top: 30px; }
.products-content .integrated .group-icons b { color: #085097; display: block; margin: 15px 0 0; }
.products-content .integrated .group-icons .box { text-align: center; background-color: #d8f0fe; height: 100%; padding: 20px 5px; }
.products-content .integrated .not-title { margin: 30px auto; }
.products-content .mobilink > div { background: url("../images/product-mobilink-bg.png") center top no-repeat; background-size: 100% auto; }
.products-content .mobilink > div .row:not(.icons-row) { margin-top: 45px; margin-bottom: 45px; }
.products-content .mobilink .title { font-family: 'SVN-Nexa Rush Sans Black'; font-size: 36px; text-transform: uppercase; color: #085097; text-align: center; padding: 90px 0; }
.products-content .mobilink .sub-title { color: #f5821f; text-align: center; text-transform: uppercase; margin-bottom: 30px; }
.products-content .mobilink .sub-title span { font-size: 22px; font-family: 'SVN-Batman Forever Alternate'; display: block; margin-bottom: 5px; }
.products-content .mobilink label { font-family: 'SVN-Nexa Rush Sans Black'; font-size: 18px; margin-bottom: 30px; color: #085097; }
.products-content .mobilink .icons-row { color: #085097; text-align: center; margin: 30px -15px 0; }
.products-content .mobilink .icons-row .box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #085097; border-radius: 50%; width: 100px; height: 100px; margin: 0 auto 10px; }
.products-content .mobilink .icons-row .box img { height: 45%; }
.products-content .mobilink a { display: inline-block; margin-top: 35px; }
.products-content .mobilink a img { -webkit-box-shadow: -3px 5px 0px 0px #d0f0f5; box-shadow: -3px 5px 0px 0px #d0f0f5; border-radius: 25px; }
.products-content .mobilink .mobilink-list-utilities { -webkit-column-count: 2; column-count: 2; -webkit-column-gap: 30px; column-gap: 30px; }
.products-content .mobilink .mobilink-list-utilities li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.products-content .mobilink .mobilink-list-utilities li i { margin-right: 10px; color: #085097; }
.products-content .hsm .title { margin-bottom: 120px; }
.products-content .hsm .content-wrapper { width: 100%; height: 610px; position: relative; clear: both; }
.products-content .hsm .content-wrapper > img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.products-content .hsm .content-wrapper div[class*="box-"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; position: absolute; }
.products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 550px; top: -50px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-top: 10px; }
.products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 100%; }
.products-content .hsm .content-wrapper .box-2 { width: 500px; top: 180px; right: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-2 img { margin-right: 10px; }
.products-content .hsm .content-wrapper .box-3 { width: 485px; top: 350px; right: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-3 img { margin-right: 10px; }
.products-content .hsm .content-wrapper .box-4 { width: 485px; top: 350px; left: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-left: 10px; }
.products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
.products-content .hsm .content-wrapper .box-5 { width: 480px; top: 180px; left: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-left: 10px; }
.products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
.products-content .hsm label { display: block; color: #085097; margin-bottom: 15px; }
.products-content .agriculture > div { background: url("../images/product-agriculture-bg.png") center top no-repeat; background-size: 100% auto; }
.products-content .agriculture label { display: block; text-align: center; font-size: 30px; font-family: 'SVN-Nexa Rush Sans Black'; padding: 105px 0 60px; color: white; text-shadow: 1px 1px 5px black; }

@media screen and (min-width: 1200px) { .products-content .integrated .col-lg-4 { width: 30%; } }
@media screen and (min-width: 1000px) and (max-width: 1199px) { .products-content .integrated .col-sm-6 { width: 49%; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; width: 83.33333333%; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; } }
@media screen and (min-width: 768px) and (max-width: 999px) { #products-list { margin: 100px 0 45px; }
  .products-content .integrated .col-sm-6 { width: 49%; }
  .products-content .mobilink > div .row:not(.icons-row) { margin-top: 15px; margin-bottom: 15px; }
  .products-content .mobilink > div .row:not(.icons-row) img { margin: 15px auto; display: block; max-width: 100%; }
  .products-content .mobilink .sub-title span { font-size: 24px; }
  .products-content .mobilink .col-md-pull-2 { margin-left: 0; }
  .products-content .mobilink label { margin-bottom: 15px; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; width: 83.33333333%; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; }
  .products-content .agriculture label { font-size: 26px; padding-bottom: 30px; }
  .products-content .agriculture label br { display: none; } }
@media screen and (max-width: 767px) { #products-list { margin: 100px 0 45px; }
  .products-content { padding-bottom: 30px; }
  .products-content .integrated .sub-title-lv2 { margin: 30px 0 15px; }
  .products-content .integrated ul.list-style-1 li img { margin-left: 0; height: 30px; }
  .products-content .integrated ul.list-style-2 li img { margin-left: 0; height: 30px; }
  .products-content .integrated .icons-round { text-align: center; margin: 30px 0 0; color: #085097; }
  .products-content .integrated .icons-round > div { margin-bottom: 30px; }
  .products-content .integrated .icons-round > div:nth-last-child(-n+3) { margin-bottom: 30px; }
  .products-content .integrated .icons-round img { margin-bottom: 15px; }
  .products-content .integrated .group-icons > div { margin-top: 15px; width: 100%; }
  .products-content .integrated .group-icons b { color: #085097; display: block; margin: 15px 0 0; }
  .products-content .integrated .group-icons .box { text-align: center; background-color: #d8f0fe; height: 100%; padding: 20px 5px; }
  .products-content .integrated .not-title { margin: 30px auto; }
  .products-content .mobilink > div .row:not(.icons-row) { margin-top: 15px; margin-bottom: 15px; }
  .products-content .mobilink > div .row:not(.icons-row) img { margin: 15px auto; display: block; max-width: 100%; }
  .products-content .mobilink .title { font-size: 20px; padding: 60px 0 30px; }
  .products-content .mobilink .title br { display: none; }
  .products-content .mobilink .sub-title { margin-bottom: 30px; }
  .products-content .mobilink .sub-title span { font-size: 18px; }
  .products-content .mobilink label { font-size: 16px; margin-bottom: 10px; }
  .products-content .mobilink .icons-row { margin: 15px 0; }
  .products-content .mobilink .icons-row > div:not(:last-child) { margin-bottom: 15px; }
  .products-content .mobilink a { display: inline-block; margin-top: 35px; }
  .products-content .mobilink a img { -webkit-box-shadow: -3px 5px 0px 0px #d0f0f5; box-shadow: -3px 5px 0px 0px #d0f0f5; border-radius: 25px; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .mobilink .mobilink-list-utilities { -webkit-column-count: 1; column-count: 1; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; }
  .products-content .agriculture > div { background: url("../images/product-agriculture-bg.png") center top no-repeat; background-size: 100% auto; }
  .products-content .agriculture label { font-size: 20px; padding: 60px 0 30px; } }
.about { background: url("../images/bg-about.png") center top no-repeat; background-size: 1920px auto; }
.about .company-name { color: #f5821f; font-size: 18px; margin-top: 350px; margin-bottom: 150px; }
.about .company-name span { display: block; font-size: 40px; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; margin-bottom: 5px; }
.about .short-description { font-size: 18px; color: #085097; max-width: 700px; position: relative; margin-bottom: 192px; }
.about .short-description span { position: relative; }
.about .short-description:before { content: ""; position: absolute; top: -40px; left: -40px; width: 90px; height: 90px; background-color: #d8f0fe; }
.about .scope-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 60px; }
.about .scope-wrapper .box { background-size: 100% 100%; background-repeat: no-repeat; background-position: center center; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); padding: 0 15px 15px; height: 100%; }
.about .scope-wrapper .box-1 { background-image: url("../images/about-scope-bg-1.png"); }
.about .scope-wrapper .box-2 { background-image: url("../images/about-scope-bg-2.png"); }
.about .scope-wrapper .box-3 { background-image: url("../images/about-scope-bg-3.png"); }
.about .scope-wrapper .box-4 { background-image: url("../images/about-scope-bg-4.png"); }
.about .scope-wrapper img { margin: 0 auto 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%); display: block; }
.about .scope-wrapper label { display: block; font-size: 18px; font-family: 'SVN-Nexa Rush Sans Black'; text-align: center; color: #085097; margin: -72px 0 15px; }
.about .credo { margin-bottom: 90px; }
.about .credo label { font-size: 24px; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; text-align: center; display: block; margin-bottom: 30px; }
.about .credo label b { color: #f5821f; }
.about .credo label span { color: white; background-color: #f5821f; padding: 0 10px 3px; }
.about .credo div[class*="article"] { background: url("../images/about-credo-bg.png") left center no-repeat; background-size: 100% auto; padding: 15px 30px; height: 75px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 20px 0; font-size: 16px; color: #085097; }
.about .credo div[class*="article"] img { margin-right: 10px; }
.about .credo div[class*="article"] span { text-transform: uppercase; font-weight: bold; color: #f5821f; }
.about .history-wrapper { font-size: 16px; }
.about .history-wrapper div { margin-bottom: 30px; }
.about .history-wrapper div:last-child { margin-bottom: 60px; }
.about .history-wrapper label { color: white; background-color: #f5821f; padding: 0 5px; position: relative; }
.about .history-wrapper label:before { content: ""; position: absolute; top: 0; right: 100%; background-color: #f5821f; width: 10px; height: 100%; }
.about .album { margin-top: 60px; margin-bottom: 60px; }
.about .album .img-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.about .album .img-group div { width: calc((100% - 20px) / 5); margin: 0 5px 5px 0; }
.about .album .img-group div:nth-child(5n) { margin-right: 0; }
.about .album .img-group div:nth-child(n+10) { margin-bottom: 0; }
.about .album .img-group a { padding-top: 100%; display: block; width: 100%; position: relative; }
.about .album .img-group img { position: absolute; min-width: 100%; min-height: 100%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.about .album .img-group img:hover { border: 5px solid #085097; border-radius: 8px; -webkit-transform: translate(-50%, -50%) scale(1.4); transform: translate(-50%, -50%) scale(1.4); z-index: 3; }

@media screen and (min-width: 1200px) and (max-width: 1365px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; } }
@media screen and (min-width: 1000px) and (max-width: 1199px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; }
  .about .credo { margin-bottom: 60px; }
  .about .history-wrapper { font-size: 16px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; } }
@media screen and (min-width: 768px) and (max-width: 999px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; }
  .about .company-name { margin-top: 350px; margin-bottom: 60px; }
  .about .company-name span { font-size: 30px; }
  .about .scope-wrapper > div:nth-child(-n+2) { margin-bottom: 105px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; } }
@media screen and (max-width: 767px) { .about { background: url("../images/bg-about-v2.png") left top no-repeat; background-size: 1920px auto; }
  .about .company-name { margin-top: 30px; margin-bottom: 30px; font-size: 14px; }
  .about .company-name span { font-size: 20px; }
  .about .short-description { font-size: 14px; margin-bottom: 90px; }
  .about .short-description:before { display: none; }
  .about .scope-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 0; }
  .about .scope-wrapper > div { margin-bottom: 60px; }
  .about .scope-wrapper img { height: 90px; }
  .about .scope-wrapper label { font-size: 16px; margin: -45px 0 15px; }
  .about .credo { margin-bottom: 45px; }
  .about .credo label { font-size: 16px; }
  .about .credo div[class*="article"] { margin: 0; font-size: 14px; }
  .about .credo div[class*="article"] img { margin-right: 10px; height: 20px; }
  .about .history-wrapper { font-size: 14px; }
  .about .history-wrapper div { margin-bottom: 15px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; }
  .about .album .img-group { margin-top: 30px; } }
@media (min-width: 768px) { .about .col-sm-6 { width: 49%; } }
@media (min-width: 992px) { .about .col-md-3 { width: 24%; } }
