a, p, h1, h2, h3, h4, span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button:focus{
    outline: none;
}

.clearfix {
    overflow: auto;
}

.customer-main-background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.customer-main-background img {
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -5%;
}

.customer-main-conntent{
    width: calc(100% - 100px );
    margin-left: 50px;
    height: -webkit-fill-available;
}

.customer-col-left{
    width: calc((100% - 20px)/2);
    float: left;
    padding: 10px 0 10px 10px;
}

.customer-col-right{
    width: calc((100% - 20px)/2);
    float: right;
    padding: 10px 10px 10px 0;
}

.customer-col-left .owl-carousel .owl-stage-outer{
    border-radius: 35px;
    -webkit-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    -moz-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
}

.customer-col-left .owl-carousel .owl-dot{
    width: 12px;
    background-color: #E0E0E0;   
    height: 12px;
    margin: 15px 5px 0 5px;
    border-radius: 12px;
    border: none
}

.customer-col-left .owl-carousel .owl-dot.active {
    background-image: linear-gradient(to right, #E69122 , #E45A21);
}


.customer-col-left .owl-carousel .owl-nav{
    float: right;
    color: #E9BF67;
    font-weight: bold;
}

.customer-col-left .owl-carousel .owl-nav button{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #E9BF67!important;
    margin: 10px 5px;;
    background-color: transparent
}

.customer-col-left .owl-carousel .owl-nav button.owl-next{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #E45A21!important;
    color: #fff!important;
    background-image: linear-gradient(to right, #E69122 , #E45A21)!important;
}

.customer-list-customer ul{
    padding: 0;
}

.customer-list-customer ul li img:first-child{
    display: none;
}

.customer-list-customer ul li img:last-child{
    display: block;
}

.customer-list-customer ul li.active img:last-child{
    display: none;
}

.customer-list-customer ul li.active img:first-child{
    display: block;
}

.customer-list-customer li .thumbnail{
    float: left;
}

.customer-col-right h1{
    border-bottom: 2px solid #B9B9B9;
    font-weight: 700;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    margin: 0 0 0 60px;
    position: relative;
    color: #333;
}

.customer-col-right h4{
    border-top: 2px solid #B9B9B9;
    font-weight: bold;
    margin: 0 0 20px 60px;
    text-transform: uppercase;
    /* position: fixed;
    width: calc((100% - 150px)/2); */
    bottom: 0px;
    padding-top: 10px;
    color: #858585;
}

.customer-col-right h1::after { 
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #ffc477 , #E45A21)!important;
    bottom:0px;
    left: 0px;
    height: 7px;
    width: 100px;
}
.customer-list-customer li span{
    height: 33px;
    color: #888888;
    font-size: 15px;
}
.customer-list-customer li span:nth-child(2){
    margin: 0 10px 0 30px;
    padding: 0px 10px 0 15px;
    border-right: 2px solid #B9B9B9;
    border-left: 2px solid #B9B9B9;
    font-weight: bold;
    width: 200px;
}

.customer-list-customer li.active span{
    color: #333;
}

.customer-list-customer li.active span:nth-child(2){
    font-size: 18px;
    height: 40px;
    width: 250px;
}


.customer-list-customer li{
    padding: 20px 0 20px 60px;
    display:flex;
    align-items: center;
}

.customer-list-customer li.active{
    background-color:#b9b9b91a;
    padding: 50px 0 50px 60px;
}

.customer-list-customer li.active span:nth-child(3){
    font-size: 16px;
    font-weight: 550
}

.customer-col-left .owl-stage-outer{
    width: 100%;
    height: 400px;
}

.customer-col-left .owl-stage-outer .owl-item img{
    height: -webkit-fill-available;
}

/* ===================================================================================================================== */
/* PAGE MENU */
/* ===================================================================================================================== */

.page-menu{
    height: -webkit-fill-available;
    padding-left: calc(10%/2);
    padding-right: calc(10%/2);
    background-color: #F4F4F4;
}
.page-menu .col-left{
    /* background-color: #888888; */
    float: left;
    width: 20%;
    height: 100vh;
}

.page-menu .list-menu li{
    padding: 0 0 30px 0;
}

.page-menu .list-menu li:hover a{
    font-style: italic;
    color: #f5a600f5
}

.page-menu .list-menu li a{
    text-transform: uppercase;
    color: #000000c2;
    font-size: 15px;
    font-weight: 600;
    transition: all .3s;
}

.page-menu .list-menu li.active a{
    font-style: italic;
    color: #f5a600f5
}

.page-menu .col-left .list-menu{
    margin-left: 25px
}

.page-menu .col-right{
    /* background-color: #E45A21; */
    float: right;
    width:80%;
    height: 100vh;
}

.page-menu .col-left .list-social{
    margin: 50px 0 30px 25px;
}

.page-menu .col-left .list-social ul li{
    float: left;
    margin: 10px 25px 10px 0;
}

.page-menu .col-left .list-social ul li{
    float: left;
    margin: 10px 25px 10px 0;
}

.page-menu .col-left .list-social ul li:hover img{
    display: none;
}

.page-menu .col-left .list-social ul li:hover img.active{
    display: block;
}

.page-menu .col-left .list-social img{
    display: block;
}

.page-menu .col-left .list-social img.active{
    display: none;
}

.page-menu .col-left .group-register button{
    padding: 19px 16px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f9af0a , #fb5510);
    border: none;
}

.page-menu .col-left .group-register button:hover{
    cursor: pointer;
}

.page-menu .col-left .group-register button span{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.page-menu .col-right h2{
    text-transform: uppercase;
    color: #1911119c;
    margin-bottom: 20px;
    font-weight: 800;
}

.page-menu .col-right .post-content {
    height:70vh;
    overflow-y :scroll;
}

.page-menu .col-right .post-content .img-gallery{
    float:left;
    width: 80%;
    height:1000px;
}

.page-menu .col-right .post-content .content{
    float: right;
    width: calc(20% - 30px);
    height: 1000px;
    padding: 0 15px;
    color: #333;
}

.page-menu .col-right .post-content .content .title{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 17px;

}

.page-menu .col-right .post-content .content .create-date{
    display: flex;
    font-size: 12px;
    margin-bottom: 15px;
    align-items: center;
}

.page-menu .col-right .post-content .content .content-des{
    font-weight: 500;
}

.page-menu .col-right .post-content .content .create-date img{
    margin-right: 10px;
    height: 10px
}


.page-menu .col-right .owl-carousel .owl-item img{
    width: auto;
}




/* width */
.page-menu .col-right ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.page-menu .col-right ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3a29bb5; 
}

/* Handle */
.page-menu .col-right ::-webkit-scrollbar-thumb {
    background: #fbae10f0;
    border-radius: 5px;
}

.page-menu .col-right .products .product-wrapper .product-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(249, 183, 12, 0.64);
    cursor: pointer;
}

.page-menu .col-right .product-overlay .plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%,-50%);
}

.page-menu .col-right .products .product-wrapper:hover .product-overlay {
    display: block;
}

.page-menu .col-right .products .product-wrapper {
    position: relative;
    display: inline-block;
}