<div class="customer-main-background">
    <img src="./images/wave-background.png">
</div>

<div class="customer-main-conntent">
    <div class="customer-col-left">
        <div class="owl-carousel owl-theme owl-carousel-customer">
            <img src="./images/hnx.jpg" alt="image">
            <img src="./images/BIDV 2_1.jpg" alt="image">
            <img src="./images/bo-tai-chinh.jpg" alt="image">
            <img src="./images/bidv.jpg" alt="image">
        </div>
    </div>

    <div class="customer-col-right">
        <h1>Khách hàng</h1>

        <div class="customer-list-customer" id="list-customer">
            <ul>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/vietcombank.png" alt="">
                        <img src="./images/logo/vietcombank.png" alt="">
                    </div>

                    <span>Ngân hàng thương mại cổ phần ngoại thương Việt Nam - VIETCOMBANK</span>

                    <span>Ngân hàng tài chính</span>
                </li>
                <li class="clearfix active">
                    <div class="thumbnail">
                        <img src="./images/logo/vgs.png" alt="">
                        <img src="./images/logo/vgs.png" alt="">
                    </div>

                    <span>Công ty cổ phần chứng khoán toàn cầu -VGS</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-29.png" alt="">
                        <img src="./images/logo/website otp 3 bidv-35.png" alt="">
                    </div>

                    <span>Ngân hàng Đầu tư và Phát triển Việt Nam - BIDV</span>

                    <span>Ngân hàng tài chính</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-51.png" alt="">
                        <img src="./images/logo/website otp 3-72.png" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán Nhật Bản – JSi</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/hnx.jpg" alt="">
                        <img src="./images/logo/hnx.jpg" alt="">
                    </div>

                    <span>Sở Giao dịch chứng khoán Hà nội – HNX</span>

                    <span>Sở giao dịch</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/ISC.jpg" alt="">
                        <img src="./images/logo/ISC.jpg" alt="">
                    </div>

                    <span>Công ty CP Chứng khoán Công Nghiệp</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-62.png" alt="">
                        <img src="./images/logo/website otp 3-77.png" alt="">
                    </div>

                    <span>Tổng cục Thuế</span>

                    <span>Tổng cục Thuế</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/Teckcomsecurity.png" alt="">
                        <img src="./images/logo/Teckcomsecurity.png" alt="">
                    </div>

                    <span>Công ty TNHH Chứng khoán Kỹ Thương</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-61.png" alt="">
                        <img src="./images/logo/website otp 3-73.png" alt="">
                    </div>

                    <span>Công ty Cổ phần chứng khoán Đại Nam</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/ABS.png" alt="">
                        <img src="./images/logo/ABS.png" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán An Bình – ABS</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/tvs.jpg" alt="">
                        <img src="./images/logo/tvs.jpg" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán Tân việt</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/ABBank.png" alt="">
                        <img src="./images/logo/ABBank.png" alt="">
                    </div>

                    <span>Ngân hàng TMCP An Bình – ABBank</span>

                    <span>Ngân hàng tài chính</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-34.png" alt="">
                        <img src="./images/logo/website otp 3-30.png" alt="">
                    </div>

                    <span>Ngân hàng TMCP Quốc tế - VIBank</span>

                    <span>Ngân hàng tài chính</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-57.png" alt="">
                        <img src="./images/logo/website otp 3-68.png" alt="">
                    </div>

                    <span>Công ty Cổ phần chứng khoán Hoàng Gia – IRS</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-59.png" alt="">
                        <img src="./images/logo/website otp 3-71.png" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán Trí Việt – TVSC</span>

                    <span>Công ty chứng khoán</span>
                </li>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/sgtr.png" alt="">
                        <img src="./images/logo/sgtr.png" alt="">
                    </div>

                    <span>Công ty cổ phần chứng khoán Sài Gòn Tourist</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/PXS.jpg" alt="">
                        <img src="./images/logo/PXS.jpg" alt="">
                    </div>

                    <span>Công ty CP Chứng khoán Phượng Hoàng</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/logo_vsec.png" alt="">
                        <img src="./images/logo/logo_vsec.png" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán Việt Nam</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/hbbs.jpg" alt="">
                        <img src="./images/logo/hbbs.jpg" alt="">
                    </div>

                    <span>Công ty TNHH chứng khoán ngân hàng Habubank – HBBS</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/website otp 3-49.png" alt="">
                        <img src="./images/logo/website otp 3-67.png" alt="">
                    </div>

                    <span>Công ty Cổ phần chứng khoán Hòa Bình</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/igi.png" alt="">
                        <img src="./images/logo/igi.png" alt="">
                    </div>

                    <span>Công ty cổ phần Đầu tư và Kinh doanh Vàng Quốc tế – IGI</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/seabank.jpg" alt="">
                        <img src="./images/logo/seabank.jpg" alt="">
                    </div>

                    <span>Công ty cổ phần Chứng khoán Đông Nam Á Seabank – SEABS</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/brand.gif" alt="">
                        <img src="./images/logo/brand.gif" alt="">
                    </div>

                    <span>Công ty Cổ phần chứng khoán Biển Việt – CBV</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/mks.jpg" alt="">
                        <img src="./images/logo/mks.jpg" alt="">
                    </div>

                    <span>Công ty Cổ phần chứng khoán Mekong</span>

                    <span>Công ty chứng khoán</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="./images/logo/EPS.jpg" alt="">
                        <img src="./images/logo/EPS.jpg" alt="">
                    </div>

                    <span>Công ty CP Chứng khoán Gia Quyền</span>

                    <span>Công ty chứng khoán</span>
                </li>
            </ul>
        </div>

        <h4 style="text-transform: uppercase">OUR SOLUTION YOUR Success</h4>
    </div>
</div>