<div class="page-product" id="page-product">
    <div class="content-left">
        <div>
            <img class="img-back" src="./images/icon/website otp 3-25.png" alt="">
            <div class="head-3-1">
                <h1 class="head-3-1-1">Dịch vụ và sản phẩm</h1>
            </div>
            <ul  class="nav nav-pills">
                    <li class="active">
                        <a class="tab-desktop" href="#1a" data-toggle="tab">giải pháp cho ngân hàng</a>
                        <a class="tab-mobile" href="#1a" data-toggle="tab">GP cho ngân hàng</a>
                    </li>
                    <li>
                        <a class="tab-desktop" href="#2a" data-toggle="tab">giải pháp cho ctck</a>
                        <a class="tab-mobile" href="#2a" data-toggle="tab">GP cho ctck</a>
                    </li>
                    <li>
                        <a class="tab-desktop" href="#3a" data-toggle="tab">giải pháp khác</a>
                        <a class="tab-mobile" href="#3a" data-toggle="tab">GP khác</a>
                    </li>
                </ul>
                
                <div class="tab-content clearfix" id="tab-content">
                    <div class="tab-pane active" id="1a">
                        <ul>
                        </ul>
                    </div>
                    <div class="tab-pane" id="2a">
                        <ul>
                        </ul>
                    </div>
                    <div class="tab-pane" id="3a">
                         <ul>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="content-right">
        <div id="canvas-content">
            <canvas width="410" height="410" id="myCanvas" style="padding: 20px; width: 65vh; height: 65vh;"></canvas>
            <img src="./images/logo.png" alt="">
        </div>

        <div id="canvas-tags" style="position: absolute;top: 0;opacity: 0;">
            <ul>
                <li><a href="#">NAVISOFT EWEB</a></li>
                <li><a href="#">NAVISOFT DSB</a></li>
                <li><a href="#">NAVISOFT ESMS</a></li>
                <li><a href="#">NAVISOFT EBROKER</a></li>
                <li><a href="#">NAVISOFT HNXONLINE.SECURITIES</a></li>
                <li><a href="#">NAVISOFT EPAM</a></li>
                <li><a href="#">NAVISOFT ETRADING-PRO</a></li>
                <li><a href="#">NAVISOFT HNXONLINE</a></li>
                <li><a href="#">NAVISOFT EHOLDER</a></li>
                <li><a href="#">NAVISOFT EAUTION</a></li>
                <li><a href="#">NAVISOFT LIVETRADE</a></li>
                <li><a href="#">NAVISOFT E-QLAQ</a></li>
                <li><a href="#">NAVISOFT ECLIENT</a></li>
                <li><a href="#">NAVISOFT ETRADER</a></li>
            </ul>
        </div>
    </div>
</div>