<div id="page1" class="">
    <div class="">
        <div class="col-md-5">
            <div class="align-items-center">
                <ul class="">
                    <li>
                        <i class="fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fa fa-rss"></i>
                    </li>
                    <li>
                        <i class="fa fa-google-plus"></i>
                    </li>
                </ul>
                <img src="images/icon/website otp 3-26.png" class="responsive" style="margin: auto;" />
            </div>
            <div class="tree_class">
                <img src="images/icon/website otp 3-23.png"/>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <b>Giới thiệu</b>
            <div class="xemthem">
                <img src="images/icon/website otp 3-28.jpg"/>
                <span id="see_more">Xem thêm <i class="fa fa-long-arrow-right"></i></span>
            </div>
            <p>Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng khoán, ngân hàng và tài chính. Được thành lập năm 2007, với một đội ngũ lãnh đạo giàu kinh nghiệm chuyên môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft đều có nhiệt huyết xây dựng công ty trở thành một trong những công ty phần mềm hàng đầu tại Việt Nam và khu vực.</p>
            <br>
            <table>
                <tr>
                    <td width="120"><p class="color_class">Tên đầy đủ</p></td>
                    <td><p>Công ty Cổ phần Giải pháp và Dịch vụ phần mềm Nam Việt</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Tên viết tắt</p></td>
                    <td><p>Navisoft</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Tên giao dịch</p></td>
                    <td><p>NamViet Software JSC</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Ngày thành lập</p></td>
                    <td><p>Ngày 08 tháng 3 năm 2007</p></td>
                </tr>
            </table>
            <br>
            <p>Được thành lập theo quyết định số 0103016085 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp.</p>
            <hr>
            <div class="d-flex align-items-center">
                <span>
                    <img src="images/icon/NR-12.png" class="prev_gt"/>
                    <img src="images/icon/N&R-11.png" class="next_gt"/>
                </span>
                <span>
                    <b class="summer_class">SUMMER 2017</b>
                    <p>NamViet Software JSC</p>
                </span>
            </div>
        </div>
    </div>

</div>
<!-- <div id="page2" class=" scrollbar">
    <div class="col-md-1">
        <div class="">
            <ul class="">
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-rss"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
        <b>Giới thiệu</b>
        <div class="xemthem">
            <img src="images/icon/website otp 3-28.jpg"/>
            <a id="come_back" href="#sec2"><span><i class="fa fa-long-arrow-left"></i> Quay lại</span></a>
        </div>
        <div class="content_page2">
            <p>Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng khoán, ngân hàng và tài chính. Được thành lập năm 2007, với một đội ngũ lãnh đạo giàu kinh nghiệm chuyên môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft đều có nhiệt huyết xây dựng công ty trở thành một trong những công ty phần mềm hàng đầu tại Việt Nam và khu vực.</p>
            <br>
            <table>
                <tr>
                    <td width="120"><p class="color_class">Tên đầy đủ</p></td>
                    <td><p>Công ty Cổ phần Giải pháp và Dịch vụ phần mềm Nam Việt</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Tên viết tắt</p></td>
                    <td><p>Navisoft</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Tên giao dịch</p></td>
                    <td><p>NamViet Software JSC</p></td>
                </tr>
                <tr>
                    <td><p class="color_class">Ngày thành lập</p></td>
                    <td><p>Ngày 08 tháng 3 năm 2007</p></td>
                </tr>
            </table>
            <br>
            <p>Được thành lập theo quyết định số 0103016085 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp.</p>
            <h4><b class="color_class">PHƯƠNG CHÂM LÀM VIỆC</b></h4>
            <ul>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Vì lợi ích khách hàng:</b></p>
                    </div>
                    <p>Lợi ích của khách hàng là ưu tiên hàng đầu của Navisoft, mọi hoạt động của công ty đều tập trung đến lợi ích và quan điểm của khách hàng.</p>
                </li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Lấy chất lượng làm niềm tin phát triển:</b></p>
                    </div>
                    <p>Tiêu chí làm việc của chúng tôi là chất lượng, chất lượng cao để chinh phục và gắn kết khách hàng.</p>
                </li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Đề cao tính sáng tạo:</b></p>
                    </div>
                    <p>Phát huy tối đa tính sáng tạo của tập thể cán bộ nhân viên trong công ty để đem lại các sản phẩm tốt nhất phù hợp với khách hàng, phù hợp với điều kiện thực tế.</p>
                </li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Đoàn kết</b></p>
                    </div>
                    <p>Các thành viên của công ty là một tập thể vững chắc, luôn kề vai sát cánh, cùng nhau gánh vác công việc với mục tiêu cuối cùng là lợi ích của khách hàng, sự phát triển bền vững của công ty.</p>
                </li>
            </ul>
            <h4><b class="color_class">HỆ THỐNG SẢN PHẨM</b></h4>
            <ul>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Xây dựng và triển khai giải pháp phần mềm cho các công ty chứng khoán</b></p>
                    </div>
                    <p>- Navisoft có đủ bộ giải pháp phần mềm nghiệp vụ cho các công ty chứng khoán. Bộ sản phẩm này là thành quả của nhiều năm phát triển mà Navisoft đã tích luỹ được.</p>
                    <p>- Bộ sản phẩm đáp ứng được đầy đủ các mảng nghiệp vụ khác nhau của công ty chứng khoán.</p>
                    <p>- Được đánh giá là cao, đã có hơn 10 CTCK đã sử dụng trọn bộ tài giải pháp. Có hơn 30 CTCK đã ứng dụng một trong các sản phẩm này trong thời gian qua.</p>
                </li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Xây dựng và triển khau giải pháp phần mềm cho các cơ quan quản lý trong thị trường chứng khoán</b></p>
                    </div>
                    <p>- Navisoft là đối tác xây dựng và triển khai phần mềm chính của Sở giao dịch chứng khoán Hà Nội.</p>
                    <p>- Các hệ thống của Navisoft triển khai tại Sở giao dịch chứng khoán Hà Nội được tín nhiệm và đánh giá cao, có thể so sánh ngang tầm với các hệ thống phần mềm tương tự tại các Sở giao dịch phát triển trên thế giới.</p>
                    <p>- Xây dựng và triển khai thành công các sản phẩm phần mềm cho Trung tâm Lưu ký Chứng khoán Việt Nam (VSD).</p>
                </li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-check-circle "></i>
                        <p><b>Tư vấn, xây dựng giải pháp, triển khai các sản phẩm phần mềm trong lĩnh vực tài chính dựa theo nhu cầu của khách hàng</b></p>
                    </div>
                    <p>- Cung cấp giải pháp phần mềm quản lý nghiệp vụ cho Ngân hàng Lưu ký giám sát.</p>
                    <p>- Cung cấp giải pháp phần mềm sàn giao dịch hàng hoá: Sàn giao dịch vàng, sàn giao dịch nông sản...</p>
                    <p>- Cung cấp và triển khai phần mềm tích hợp cho các tổ chức tài chính, ngân hàng, công ty chứng khoán.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <img src="images/icon/website otp 3-24.png"/>
    </div>
</div> -->