<div class="">
    <div class="map_class" style="">
        <iframe src="https://snazzymaps.com/embed/156200" width="100%" style="border:none;height: 100vh"></iframe>
    </div>
    <div class="contact_class animated is-animated fadeInDown">
        <h3><b>LIÊN HỆ.</b></h3>
        <div class="line"></div>
        <table>
            <tr>
                <td>
                    <p><i class="fa fa-map-marker"></i></p>
                </td>
                <td>
                    <label>TRỤ SỞ CHÍNH</label>
                    <p>Tầng 14, Tòa nhà Center Building (Hapulico), số 1 Nguyễn Huy Tưởng, Thanh Xuân, HN</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="fa fa-map-marker"></i></p>
                </td>
                <td>
                    <label>CHI NHÁNH</label>
                    <p>P206, Khu Chung cư Đào Duy Từ, Q10, Tp.HCM</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="fa fa-phone"></i></p>
                </td>
                <td>
                    <label>PHONE</label>
                    <div>Hotline: (84-4) 66 646969</div>
                    <p>Fax: (84-4) 66 646969</p>
                </td>
            </tr>
        </table>
        <div class="d-flex">
            <ul class="">
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-rss"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus"></i>
                </li>
            </ul>
        </div>
        <div class="mail_class">
            <a href="mailto: letiehoan96@gmail.com">ĐĂNG KÝ ỨNG TUYỂN</a>
        </div>
    </div>
</div>