<div class="page-menu">
    <div class="col-left">
        <div class="list-menu">
            <ul>
                <li><a class="item-menu-click" href="#sec1">Trang chủ</a></li>
                <li><a class="item-menu-click" href="#sec2">Giới thiệu</a></li>
                <!-- <li class="active"><a class="item-menu-click" href="#">Dịch vụ & sản phẩm</a></li> -->
                <li><a class="item-menu-click" href="#sec3">Dịch vụ & sản phẩm</a></li>
                <li><a class="item-menu-click" href="#sec4">Khách hàng</a></li>
                <li><a class="item-menu-click" href="#sec5">Tầm nhìn và sứ mệnh</a></li>
                <li><a class="item-menu-click" href="#sec6">Liên hệ</a></li>
            </ul>
        </div>
        <div class="list-social">
            <ul style="overflow: auto;">
                <li>
                    <a href="#">
                        <img src="./images/icon/website otp 3 - đen-19.png" alt="">
                        <img class="active" src="./images/icon/website otp 3-14.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/icon/website otp 3 - đen-20.png" alt="">
                        <img class="active" src="./images/icon/website otp 3-15.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/icon/website otp 3 - đen-21.png" alt="">
                        <img class="active" src="./images/icon/website otp 3-16.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/icon/website otp 3 - đen-22.png" alt="">
                        <img class="active" src="./images/icon/website otp 3-17.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="group-register">
            <button class="btn-register">
                <span>Đăng ký ứng tuyển</span>
            </button>
        </div>
    </div>

    <div class="col-right">
        <h2>Các hoạt động của navisoft</h2>
        <div class="owl-carousel owl-theme post-content">
            <div>
                <div class="img-gallery">
                    <div class="products">
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_1.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_2.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_3.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_4.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_5.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_6.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_7.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_8.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper"style="width: 40%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_9.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/Pinic_2017/slide_10.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Chuyến đi ngày hôm qua</p>
                    <p class="create-date">
                        <img src="./images/icon/website otp 3-42.png" alt="">
                        <span>15/09/2011</span>
                    </p>
                    <p class="content-des">Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và
                        giải pháp về lĩnh vực chứng khoán, ngân hàng và tài chính. Được thành lập năm 2007 với một đội
                        ngũ lãnh đào giàu kinh nghiệm chuyên môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft
                        đều có nhiệt huyết xây dựng công ty thành một trong những công ty phần mềm hàng đầu tại Việt Nam
                        và khu vực</p>
                </div>
                <div class="page-content">
                    <span>01</span>
                    <span>/</span>
                    <span>03</span>
                </div>
            </div>
            <div>
                <div class="img-gallery">
                    <div class="products">
                        <div class="product-wrapper" style="width: 40%; ">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_1.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%; ">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_2.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%; ">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_3.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%; ">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_4.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_5.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_6.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_7.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_8.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 100%">
                            <img class="product-image" data-src="./images/slide/summer_2017/slide_9.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Nghỉ mát 2017</p>
                    <p class="create-date">
                        <img src="./images/icon/website otp 3-42.png" alt="">
                        <span>15/09/2017</span>
                    </p>
                    <p class="content-des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>

                <div class="page-content">
                        <span>02</span>
                        <span>/</span>
                        <span>03</span>
                    </div>
            </div>
            <div>
                <div class="img-gallery">
                    <div class="products">
                        <div class="product-wrapper" style="width: 40%; ">
                            <img class="product-image" data-src="./images/slide/bavi/slide_1.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%; ">
                            <img class="product-image" data-src="./images/slide/bavi/slide_2.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%; ">
                            <img class="product-image" data-src="./images/slide/bavi/slide_3.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%; ">
                            <img class="product-image" data-src="./images/slide/bavi/slide_4.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/bavi/slide_5.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/bavi/slide_6.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 60%">
                            <img class="product-image" data-src="./images/slide/bavi/slide_7.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" style="width: 40%">
                            <img class="product-image" data-src="./images/slide/bavi/slide_8.jpg"/>
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="./images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Lorem Ipsum is simply dummy text</p>
                    <p class="create-date">
                        <img src="./images/icon/website otp 3-42.png" alt="">
                        <span>15/09/2011</span>
                    </p>
                    <p class="content-des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>

                <div class="page-content">
                        <span>03</span>
                        <span>/</span>
                        <span>03</span>
                    </div>
            </div>
        </div>
    </div>
</div>