<div id="product-detail" class="scrollbar" style="display: none">
    <div class="col-md-1">
        <ul class="">
            <li>
                <i class="fa fa-facebook"></i>
            </li>
            <li>
                <i class="fa fa-twitter"></i>
            </li>
            <li>
                <i class="fa fa-rss"></i>
            </li>
            <li>
                <i class="fa fa-google-plus"></i>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-xs-12">
        <h3><b id="product_title"></b></h3>
        <div class="xemthem">
            <img src="images/icon/website otp 3-28.jpg"/>
            <a id="come_back" href="#sec3"><span><i class="fa fa-long-arrow-left"></i> Quay lại</span></a>
        </div>
        <div class="product_content">
        </div>
    </div>
    <div class="col-md-2">
        <img src="images/icon/website otp 3-24.png"/>
    </div>
</div>