<style>
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #e3e3e3;
    }

    ::-webkit-scrollbar-thumb {
        background: #e77e22;
        border-radius: 25px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #9c531b;
    }
</style>
<div class="main-container-3">
    <div class="head-3">
<<<<<<< .mine
        <div class="head-3-1">
            <h1 class="head-3-1-1">Dịch vụ và sản phẩm</h1>
            <img class="head-3-1-2" src="images/icon/website%20otp%203-28.jpg">
        </div>
        <div class="col-md-6 general-grids grids-right widget-shadow head-3-2">
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="">
                    <a href="#gpnh" id="gpnh-tab" role="tab" data-toggle="tab" aria-controls="gpnh"
                        aria-expanded="false">Giải pháp cho ngân hàng</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#gpctck" role="tab" id="gpctck-tab" data-toggle="tab" aria-controls="gpctck"
                        aria-expanded="true">Giải pháp cho CTCK</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#gpk" role="tab" id="gpk-tab" data-toggle="tab" aria-controls="gpk"
                        aria-expanded="true">Giải pháp khác</a>
                </li>
||||||| .r4074
    <div class="head-3-1">
        <h1 class="head-3-1-1">Dịch vụ và sản phẩm</h1>
        <img class="head-3-1-2" src="images/icon/website%20otp%203-28.jpg">
    </div>
    <div class="col-md-6 general-grids grids-right widget-shadow head-3-2">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="">
                <a href="#gpnh" id="gpnh-tab" role="tab" data-toggle="tab" aria-controls="gpnh" aria-expanded="false">Giải pháp cho ngân hàng</a>
            </li>
            <li role="presentation" class="active">
                <a href="#gpctck" role="tab" id="gpctck-tab" data-toggle="tab" aria-controls="gpctck" aria-expanded="true">Giải pháp cho CTCK</a>
            </li>
            <li role="presentation" class="active">
                <a href="#gpk" role="tab" id="gpk-tab" data-toggle="tab" aria-controls="gpk" aria-expanded="true">Giải pháp khác</a>
            </li>
=======
    <div class="head-3-1">
        <h1 class="head-3-1-1">Dịch vụ và sản phẩm</h1>
        <img class="head-3-1-2" src="images/icon/website%20otp%203-28.jpg">
    </div>
    <div class="col-md-6 general-grids grids-right widget-shadow head-3-2">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="">
                <a href="#gpnh" id="gpnh-tab" role="tab" data-toggle="tab" aria-controls="gpnh" aria-expanded="false">Giải pháp cho ngân hàng</a>
            </li>
            <li role="presentation" class="">
                <a href="#gpctck" role="tab" id="gpctck-tab" data-toggle="tab" aria-controls="gpctck" aria-expanded="true">Giải pháp cho CTCK</a>
            </li>
            <li role="presentation" class="">
                <a href="#gpk" role="tab" id="gpk-tab" data-toggle="tab" aria-controls="gpk" aria-expanded="true">Giải pháp khác</a>
            </li>
>>>>>>> .r4078

<<<<<<< .mine
            </ul>
            <div id="myTabContent" class="tab-content scrollbar1">
                <div role="tabpanel" class="tab-pane fade" id="gpnh" aria-labelledby="gpnh-tab">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                        retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                        Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                        terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan
                        american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div role="tabpanel" class="tab-pane fade active in" id="gpctck" aria-labelledby="gpctck-tab">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                        aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
                        labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
                        ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                        vero sint qui sapiente accusamus tattooed echo park.</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="gpk" aria-labelledby="gpk-tab">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                        aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
                        labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
                        ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                        vero sint qui sapiente accusamus tattooed echo park.</p>
                </div>
                <div class="clearfix"> </div>
||||||| .r4074
        </ul>
        <div id="myTabContent" class="tab-content scrollbar1">
            <div role="tabpanel" class="tab-pane fade" id="gpnh" aria-labelledby="gpnh-tab">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
=======
        </ul>
        <div id="myTabContent" class="tab-content scrollbar1 head-3-scroll">
            <div role="tabpanel" class="tab-pane fade" id="gpnh" aria-labelledby="gpnh-tab">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
>>>>>>> .r4078
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
<<<<<<< .mine
||||||| .r4074
            <div role="tabpanel" class="tab-pane fade active in" id="gpctck" aria-labelledby="gpctck-tab">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="gpk" aria-labelledby="gpk-tab">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div class="clearfix"> </div>
=======
            <div role="tabpanel" class="tab-pane fade active in" id="gpctck" aria-labelledby="gpctck-tab">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="gpk" aria-labelledby="gpk-tab">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div class="clearfix"> </div>
>>>>>>> .r4078
        </div>
    </div>
<<<<<<< .mine
||||||| .r4074
    </div>
=======
        <div class="next-prev">
            <button onclick="prev()" class="prev"><img src="images/icon/NR-12.png" /> </button>
            <button onclick="next()" class="next"><img src="images/icon/N&R-11.png" /> </button>
        </div>
    </div>
>>>>>>> .r4078

</div>