<div class="align-items-center">
    <div class="text-center" style="margin: auto;">
        <h2><b>TẦM NHÌN VÀ SỨ MỆNH</b></h2>
        <img src="images/icon/website%20otp%203-35.png"/>
        <div class="row-5-page1 animated is-animated fadeInLeft">
            <h4><b>TẦM NHÌN</b></h4>
            <p>Trở thành nhà cung cấp giải pháp, dịch vụ phần mềm hàng đầu trong nước và khu vực trong lĩnh vực tài chính, ngân hàng, chứng khoán. Trên cơ sở là sự hiểu biết nhu cầu của khách hàng và ứng dụng các công nghệ hiện đại để nâng cao năng lực cạnh tranh của sản phẩm. Những sản phẩm, dịch vụ Navisoft cungcấp hướng tới đáp ứng những quy chuẩn của quốc tế, trở thành các sản phẩm có tên tuổi trong nước và trên trường quốc tế.</p>
        </div>
        <div class="row-5-page2 animated is-animated fadeInLeft">
            <h4>Sứ Mệnh</h4>
            <p>Không ngừng gia tăng giá trị các doanh nghiệp cũng như sự phát triển của CNTT bằng các sản phẩm chất lượng, có tính thực tiễn cao, khả năng ứng dụng rộng rãi và với chi phí phụ hợp.</p>
            <p>Xây dựng văn hoá doanh nghiệp, gắn kết lợi ích của mỗi cá nhân người lao động với lợi ích chung của toàn công ty, gắn kết lợi ích của doanh nghiệp với lợi ích của xã hội và cộng đồng.</p>
            <p>Navisoft đề cao trách nhiệm củamình và  từng thành viên công ty trong cộng đồng doanh nghiệp Việt Nam, cam kết góp phần vào sự phát triển của cộng đồng.</p>
        </div>
        <div>
            <img src="images/icon/NR-12.png" class="prev"/> 
            <img src="images/icon/N&R-11.png" class="next"/>
        </div>
    </div>
</div>