<div id="myCarousel" class=" carousel" data-ride="carousel" style="height: calc(100vh);background: #fff">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-right">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="back-ground-opacity"></div>
            <img class="img-background" src="./images/IMG_5319-min.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <div class="is-animated animated fadeInLeft">
                    <h1><b><span>NAVI</span> SOFT</b></h1>
                    <p>Là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
                        khoán, ngân hàng và tài chính.</p>
                </div>

            </div>
        </div>
        <div class="item">
            <div class="back-ground-opacity"></div>
            <img class="img-background" src="./images/3-min.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <div class="is-animated animated fadeInLeft">
                    <h1><b><span>NAVI</span> SOFT</b></h1>
                    <p>Là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
                        khoán, ngân hàng và tài chính.</p>
                </div>

            </div>
        </div>
        <div class="item">
            <div class="back-ground-opacity"></div>
            <img class="img-background" src="./images/IMG_2326.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <div class="is-animated animated fadeInLeft">
                    <h1><b><span>NAVI</span> SOFT</b></h1>
                    <p>Là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
                        khoán, ngân hàng và tài chính.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <div style="position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%);">
    <a href="#sec2"><img src="./images/icon/website otp 3-18.png" alt="#"></a> 
</div> -->