.about { background: url("../images/bg-about.png") center top no-repeat; background-size: 1920px auto; }
.about .company-name { color: #f5821f; font-size: 18px; margin-top: 350px; margin-bottom: 150px; }
.about .company-name span { display: block; font-size: 40px; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; margin-bottom: 5px; }
.about .short-description { font-size: 18px; color: #085097; max-width: 700px; position: relative; margin-bottom: 192px; }
.about .short-description span { position: relative; }
.about .short-description:before { content: ""; position: absolute; top: -40px; left: -40px; width: 90px; height: 90px; background-color: #d8f0fe; }
.about .scope-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 60px; }
.about .scope-wrapper .box { background-size: 100% 100%; background-repeat: no-repeat; background-position: center center; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); padding: 0 15px 15px; height: 100%; }
.about .scope-wrapper .box-1 { background-image: url("../images/about-scope-bg-1.png"); }
.about .scope-wrapper .box-2 { background-image: url("../images/about-scope-bg-2.png"); }
.about .scope-wrapper .box-3 { background-image: url("../images/about-scope-bg-3.png"); }
.about .scope-wrapper .box-4 { background-image: url("../images/about-scope-bg-4.png"); }
.about .scope-wrapper img { margin: 0 auto 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%); display: block; }
.about .scope-wrapper label { display: block; font-size: 18px; font-family: 'SVN-Nexa Rush Sans Black'; text-align: center; color: #085097; margin: -72px 0 15px; }
.about .credo { margin-bottom: 90px; }
.about .credo label { font-size: 24px; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; text-align: center; display: block; margin-bottom: 30px; }
.about .credo label b { color: #f5821f; }
.about .credo label span { color: white; background-color: #f5821f; padding: 0 10px 3px; }
.about .credo div[class*="article"] { background: url("../images/about-credo-bg.png") left center no-repeat; background-size: 100% auto; padding: 15px 30px; height: 75px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 20px 0; font-size: 16px; color: #085097; }
.about .credo div[class*="article"] img { margin-right: 10px; }
.about .credo div[class*="article"] span { text-transform: uppercase; font-weight: bold; color: #f5821f; }
.about .history-wrapper { font-size: 16px; }
.about .history-wrapper div { margin-bottom: 30px; }
.about .history-wrapper div:last-child { margin-bottom: 60px; }
.about .history-wrapper label { color: white; background-color: #f5821f; padding: 0 5px; position: relative; }
.about .history-wrapper label:before { content: ""; position: absolute; top: 0; right: 100%; background-color: #f5821f; width: 10px; height: 100%; }
.about .album { margin-top: 60px; margin-bottom: 60px; }
.about .album .img-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.about .album .img-group div { width: calc((100% - 20px) / 5); margin: 0 5px 5px 0; }
.about .album .img-group div:nth-child(5n) { margin-right: 0; }
.about .album .img-group div:nth-child(n+10) { margin-bottom: 0; }
.about .album .img-group a { padding-top: 100%; display: block; width: 100%; position: relative; }
.about .album .img-group img { position: absolute; min-width: 100%; min-height: 100%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.about .album .img-group img:hover { border: 5px solid #085097; border-radius: 8px; -webkit-transform: translate(-50%, -50%) scale(1.4); transform: translate(-50%, -50%) scale(1.4); z-index: 3; }
