@import "variables";



.about {
	background: url('../images/bg-about.png') center top no-repeat;
	background-size: 1920px auto;

	.company-name {
		color: $sub-color;
		font-size: 18px;
		margin-top: 350px;
		margin-bottom: 150px;

		span {
			display: block;
			font-size: 40px;
			font-family: 'SVN-Nexa Rush Sans Black';
			color: $main-color;
			margin-bottom: 5px;
		}
	}

	.short-description {
		font-size: 18px;
		color: $main-color;
		max-width: 700px;
		position: relative;
		margin-bottom: 192px;

		span {
			position: relative;
		}

		&:before {
			content: "";
			position: absolute;
			top: -40px;
			left: -40px;
			width: 90px;
			height: 90px;
			background-color: $main-color-light;
		}
	}

	.scope-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;

		.box {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
			padding: 0 15px 15px;
			height: 100%;
		}

		.box-1 {
			background-image: url('../images/about-scope-bg-1.png');
		}

		.box-2 {
			background-image: url('../images/about-scope-bg-2.png');
		}

		.box-3 {
			background-image: url('../images/about-scope-bg-3.png');
		}

		.box-4 {
			background-image: url('../images/about-scope-bg-4.png');
		}

		img {
			margin: 0 auto 15px;
			transform: translateY(-50%);
			display: block;
		}

		label {
			display: block;
			font-size: 18px;
			font-family: 'SVN-Nexa Rush Sans Black';
			text-align: center;
			color: $main-color;
			margin: -72px 0 15px;
		}
	}

	.credo {
		margin-bottom: 90px;

		label {
			font-size: 24px;
			font-family: 'SVN-Nexa Rush Sans Black';
			color: $main-color;
			text-align: center;
			display: block;
			margin-bottom: 30px;

			b {
				color: $sub-color;
			}

			span {
				color: white;
				background-color: $sub-color;
				padding: 0 10px 3px;
			}
		}

		div[class*="article"] {
			background: url('../images/about-credo-bg.png') left center no-repeat;
			background-size: 100% auto;
			padding: 15px 30px;
			height: 75px;
			display: flex;
			align-items: center;
			margin: 20px 0;
			font-size: 16px;
			color: $main-color;

			img {
				margin-right: 10px;
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
				color: $sub-color;
			}
		}
	}

	.history-wrapper {
		font-size: 16px;

		div {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 60px;
			}
		}

		label {
			color: white;
			background-color: $sub-color;
			padding: 0 5px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				background-color: $sub-color;
				width: 10px;
				height: 100%;
			}
		}
	}

	.album {
		margin-top: 60px;
		margin-bottom: 60px;

		.img-group {
			display: flex;
			flex-wrap: wrap;

			div {
				width: calc((100% - 20px) / 5);
				margin: 0 5px 5px 0;

				&:nth-child(5n) {
					margin-right: 0;
				}

				&:nth-child(n+10) {
					margin-bottom: 0;
				}
			}

			a {
				padding-top: 100%;
				display: block;
				width: 100%;
				position: relative;
			}

			img {
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);

				&:hover {
					border: 5px solid $main-color;
					border-radius: 8px;
					transform: translate(-50%,-50%) scale(1.4);
					z-index: 3;
				}
			}
		}
	}
}