.activities #content { padding-top: 105px; }

@media screen and (max-width: 999px) { .activities #content { padding-top: 75px; } }
/*---------- Portlet Global ----------*/
.page-theme .portlet { margin-bottom: 30px; }
.page-theme .portlet .portlet-title { font-size: 20px; margin: 15px 0 15px; border-bottom: 2px solid #085097; padding-bottom: 10px; font-weight: bold; color: #085097; }

.page-theme .bg-grey { background-color: #f6f6f6; }
.page-theme .bg-grey .portlet-title { font-size: 20px; margin: 15px 0 15px; border-bottom: 2px solid #085097; font-weight: bold; color: #085097; padding: 10px 15px; }
.page-theme .bg-grey .portlet-content { padding: 0 0 15px; }

/*---------- List ----------*/
.portlet-asset-publisher .asset-bounddary { margin-bottom: 30px; }
.portlet-asset-publisher .asset-bounddary:last-child { margin-bottom: 0; }
.portlet-asset-publisher .asset-bounddary .asset-abstract { margin-bottom: 0; }
.portlet-asset-publisher .asset-bounddary .asset-content { margin: 0; }
.portlet-asset-publisher .asset-bounddary .asset-image { width: 20%; max-width: 200px; float: left; margin-right: 15px; }
.portlet-asset-publisher .asset-bounddary .asset-image a { display: block; width: 100%; overflow: hidden; padding-top: 75%; position: relative; }
.portlet-asset-publisher .asset-bounddary .asset-image img { width: 100%; min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.portlet-asset-publisher .asset-bounddary .asset-title { margin: 0 0 5px; line-height: 20px; font-size: 16px; font-weight: bold; border: 0; }
.portlet-asset-publisher .asset-bounddary .asset-title a:hover, .portlet-asset-publisher .asset-bounddary .asset-title a:focus { text-decoration: none; color: #085097; }
.portlet-asset-publisher .asset-bounddary .assetPublishDate { color: #999; font-style: italic; margin-bottom: 5px; }

/*---------- Detail view ----------*/
.portlet-asset-publisher .asset-full-content-title { font-weight: bold; font-size: 18px; margin-bottom: 5px; }
.portlet-asset-publisher .asset-content { margin: 0; overflow: hidden; }
.portlet-asset-publisher .sapo-wrapper strong { margin-top: 10px; display: block; font-style: italic; }
.portlet-asset-publisher table { margin: 10px 0; }
.portlet-asset-publisher .journal-content-article, .portlet-asset-publisher .journal-content-article * { font-size: 14px !important; }
.portlet-asset-publisher .journal-content-article img { max-width: 100%; display: block; margin: auto; }

/*---------- Other news ----------*/
.related_asset { margin-bottom: 30px; }
.related_asset .related_asset_title { margin: 30px 0 5px; font-weight: bold; font-size: 16px; }
.related_asset li a { padding: 3px 0 3px 10px; display: block; position: relative; }
.related_asset li a:hover { color: #085097; }
.related_asset li a:before { content: "\f0c8"; font-family: FontAwesome; font-size: 6px; color: #085097; position: absolute; left: 0; top: 8px; }

/*---------- Kho-Tri-Thuc ----------*/
.mBody .news-list-title { padding-bottom: 15px; }
.mBody .news-list-title li a { display: block; padding: 5px 15px 5px 30px; position: relative; }
.mBody .news-list-title li a:hover { color: #085097; }
.mBody .news-list-title li a:before { content: "\f0c8"; font-family: FontAwesome; font-size: 6px; color: #085097; position: absolute; left: 15px; top: 10px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/*---------- Su-Kien-Noi-Bo ----------*/
.mBody .news-abstract { padding: 0 15px 15px; }
.mBody .news-abstract .datefomart, .mBody .news-abstract .news-summary, .mBody .news-abstract .viewmore-panel { display: none; }
.mBody .news-abstract li { overflow: hidden; margin-bottom: 15px; }
.mBody .news-abstract li:last-child { margin-bottom: 0; }
.mBody .news-abstract .news-simage { width: 30%; float: left; margin-right: 15px; }
.mBody .news-abstract .news-simage a { display: block; width: 100%; overflow: hidden; padding-top: 75%; position: relative; }
.mBody .news-abstract .news-simage img { width: 100%; min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.mBody .news-abstract .news-title a { font-weight: bold; }
.mBody .news-abstract .news-title a:hover { color: #085097; }
