@import "variables";


.activities {

	#content {
		padding-top: 105px;
	}
}


@media screen and (max-width: 999px) {
	.activities {

		#content {
			padding-top: 75px;
		}
	}
}


/*---------- Portlet Global ----------*/
.page-theme .portlet {
	margin-bottom: 30px;

	.portlet-title {
		font-size: 20px;
		margin: 15px 0 15px;
		border-bottom: 2px solid $main-color;
		padding-bottom: 10px;
		font-weight: bold;
		color: $main-color;
	}
}

.page-theme .bg-grey {
	background-color: #f6f6f6;

	.portlet-title {
		font-size: 20px;
		margin: 15px 0 15px;
		border-bottom: 2px solid $main-color;
		font-weight: bold;
		color: $main-color;
		padding: 10px 15px;
	}

	.portlet-content {
		padding: 0 0 15px;
	}
}



/*---------- List ----------*/
.portlet-asset-publisher {

	.asset-bounddary {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		.asset-abstract  {
			margin-bottom: 0;
		}

		.asset-content {
			margin: 0;
		}

		.asset-image {
			width: 20%;
			max-width: 200px;
			float: left;
			margin-right: 15px;

			a {
				display: block;
				width: 100%;
				overflow: hidden;
				padding-top: 75%;
				position: relative;
			}

			img {
				width: 100%;
				min-width: 100%;
				min-height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}

		.asset-title {
			margin: 0 0 5px;
			line-height: 20px;
			font-size: 16px;
			font-weight: bold;
			border: 0;

			a {

				&:hover, &:focus {
					text-decoration: none;
					color: $main-color;
				}
			}
		}

		.assetPublishDate {
			color: #999;
			font-style: italic;
			margin-bottom: 5px;
		}
	}
}



/*---------- Detail view ----------*/
.portlet-asset-publisher {

	.asset-full-content-title {
	    font-weight: bold;
	    font-size: 18px;
	    margin-bottom: 5px;	
	}

	.asset-content {
		margin: 0;
		overflow: hidden;
	}

	.sapo-wrapper {

		strong {
			margin-top: 10px;
		    display: block;
		    font-style: italic;
		}
	}

	table {
		margin: 10px 0;
	}

	.journal-content-article, .journal-content-article * {
		font-size: 14px !important;
	}

	.journal-content-article {

		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}
}



/*---------- Other news ----------*/
.related_asset {
	margin-bottom: 30px;

	.related_asset_title {
		margin: 30px 0 5px;
		font-weight: bold;
		font-size: 16px;	
	}

	li {

		a {
			padding: 3px 0 3px 10px;
		    display: block;
		    position: relative;

		    &:hover {
		    	color: $main-color;
		    }

		    &:before {
				content: "\f0c8";
			    font-family: FontAwesome;
			    font-size: 6px;
			    color: $main-color;
			    position: absolute;
			    left: 0;
			    top: 8px;
		    }
		}
	}
}



/*---------- Kho-Tri-Thuc ----------*/
.mBody .news-list-title {
	padding-bottom: 15px;
	
	li {

		a {
			display: block;
			padding: 5px 15px 5px 30px;
			position: relative;

			&:hover {
				color: $main-color;
			}

			&:before {
				content: "\f0c8";
			    font-family: FontAwesome;
			    font-size: 6px;
			    color: $main-color;
			    position: absolute;
			    left: 15px;
			    top: 10px;
			    transform: rotate(45deg);
			}
		}
	}
}



/*---------- Su-Kien-Noi-Bo ----------*/
.mBody .news-abstract {
	padding: 0 15px 15px;

	.datefomart, .news-summary, .viewmore-panel {
		display: none;
	}

	li {
		overflow: hidden;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.news-simage {
		width: 30%;
		float: left;
		margin-right: 15px;

		a {
			display: block;
			width: 100%;
			overflow: hidden;
			padding-top: 75%;
			position: relative;
		}

		img {
			width: 100%;
			min-width: 100%;
			min-height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}

	.news-title {

		a {
			font-weight: bold;

			&:hover {
				color: $main-color;
			}
		}
	}
}