@font-face { font-family: 'SVN-Nexa Rush Sans Black'; src: url("../fonts/SVN-NexaRushSansBlack.ttf"); }
@font-face { font-family: 'SVN-Russell'; src: url("../fonts/SVN-Russell.ttf"); }
@font-face { font-family: 'SVN-Square'; src: url("../fonts/SVN-Square.ttf"); }
@font-face { font-family: 'SVN-Batman Forever Alternate'; src: url("../fonts/SVN-BatmanForeverAlternate.otf"); }
/*------------------------------
			Global
------------------------------*/
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mBody { font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; color: #2a2a2a; overflow-x: hidden; }
.mBody a, .mBody a:hover, .mBody a:focus { color: inherit; text-decoration: none; }
.mBody ul { list-style: none; padding: 0; margin: 0; }
.mBody .portlet { margin: 0; }
.mBody .portlet .portlet-content { padding: 0; border: 0; background-color: transparent; }
.mBody .portlet .portlet-content h2 { display: none; }
.mBody #content { min-height: calc(100vh - 215px); padding-top: 0; padding-bottom: 0; }
.mBody .truncated { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }
.mBody .text-medium { font-weight: 500; }
.mBody .text-bold { font-weight: bold; }
.mBody .pointer:hover { cursor: pointer; }

/*------------------------------
			Header
------------------------------*/
#header { position: fixed; z-index: 5; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; top: 40px; left: 40px; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
#header .toggle-nav { width: 60px; height: 60px; background-color: #085097; opacity: 1 !important; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: 40px; border: 0; }
#header .toggle-nav i { color: white; font-size: 24px; }
#header a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
#header a img { margin-right: 15px; }
#header a label { font-weight: normal; font-size: 16px; text-transform: uppercase; margin-bottom: 0; text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white; color: #f5821f; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
#header a label span { display: block; font-weight: bold; color: #085097; }
#header.has-nav { top: 15px; left: 15px; }
#header.has-nav a label { opacity: 0; }

/*------------------------------
			Navbar
------------------------------*/
.home-theme .dropdown-nav { height: 0; width: 100%; position: fixed; z-index: 101; top: 0; left: 0; background-color: #f6f6f6; overflow: hidden; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; font-size: 16px; }
.home-theme .dropdown-nav.full { height: 100vh; }
.home-theme .dropdown-nav .head { font-size: 24px; color: #085097; margin-top: 250px; margin-bottom: 30px; font-family: 'SVN-Nexa Rush Sans Black'; }
.home-theme .dropdown-nav .head a { padding: 0; }
.home-theme .dropdown-nav .head a:before { content: "" !important; }
.home-theme .dropdown-nav .head a:hover, .home-theme .dropdown-nav .head a:focus { padding: 0; color: #f5821f !important; padding: 0 !important; }
.home-theme .dropdown-nav li { padding: 5px 0; }
.home-theme .dropdown-nav a:not(.closebtn) { display: block; overflow: hidden; padding-left: 0; position: relative; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.home-theme .dropdown-nav a:not(.closebtn):before { content: "\f0da"; font-family: FontAwesome; position: absolute; top: -1px; left: 50%; color: #085097; opacity: 0; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.home-theme .dropdown-nav a:not(.closebtn):hover, .home-theme .dropdown-nav a:not(.closebtn):focus { color: #085097; font-weight: bold; padding-left: 15px; }
.home-theme .dropdown-nav a:not(.closebtn):hover:before, .home-theme .dropdown-nav a:not(.closebtn):focus:before { left: 0; opacity: 1; }
.home-theme .dropdown-nav .col-1 { text-align: justify; padding-right: 30px; }
.home-theme .dropdown-nav .col-1 li:not(.head) a { color: #085097; margin-top: 15px; display: inline-block; }
.home-theme .dropdown-nav .col-1 li:not(.head) a:before { content: "" !important; }
.home-theme .dropdown-nav .col-1 li:not(.head) a:hover, .home-theme .dropdown-nav .col-1 li:not(.head) a:focus { color: #f5821f; padding: 0 !important; }
.home-theme .dropdown-nav .col-4 .icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; font-size: 16px; }
.home-theme .dropdown-nav .col-4 i { width: 20px; text-align: center; margin-right: 5px; -ms-flex-negative: 0; flex-shrink: 0; }
.home-theme .dropdown-nav .col-4 i.fa-map-marker { font-size: 18px; }
.home-theme .dropdown-nav .col-4 i.fa-mobile { font-size: 22px; }
.home-theme .dropdown-nav .closebtn { margin-top: 90px; font-size: 60px; padding: 0; opacity: 0.5; display: inline-block; }
.home-theme .dropdown-nav .closebtn:hover, .home-theme .dropdown-nav .closebtn:focus { opacity: 1; text-decoration: none; }

@media screen and (max-width: 1599px) { .home-theme .dropdown-nav .head { margin-top: 100px; font-size: 22px; } }
