@import "variables";



@font-face {
	font-family: 'SVN-Nexa Rush Sans Black';
	src: url('../fonts/SVN-NexaRushSansBlack.ttf');
}
@font-face {
	font-family: 'SVN-Russell';
	src: url('../fonts/SVN-Russell.ttf');
}
@font-face {
	font-family: 'SVN-Square';
	src: url('../fonts/SVN-Square.ttf');
}
@font-face {
	font-family: 'SVN-Batman Forever Alternate';
	src: url('../fonts/SVN-BatmanForeverAlternate.otf');
}



/*------------------------------
			Global
------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mBody {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	color: #2a2a2a;
	overflow-x: hidden;
	
	a, a:hover, a:focus {
		color: inherit;
		text-decoration: none;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.portlet {
		margin: 0;
		
		.portlet-content {
			padding: 0;
			border: 0;
			background-color: transparent;
			
			h2 {
				display: none;
			}
		}
	}
	
	#content {
		min-height: -webkit-calc(100vh - 215px);
		min-height: calc(100vh - 215px);
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.truncated {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
	}

	.text {

		&-medium {
			font-weight: 500;
		}

		&-bold {
			font-weight: bold;
		}
	}
	
	.pointer {
		
		&:hover {
			cursor: pointer;
		}
	}
}





/*------------------------------
			Header
------------------------------*/
#header {
	position: fixed;
	z-index: 5;
	display: flex;
    align-items: center;
    top: 40px;
    left: 40px;
	transition: all ease 0.3s;

	.toggle-nav {
		width: 60px;
		height: 60px;
		background-color: $main-color;
		opacity: 1 !important;
		padding: 0;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-right: 40px;
	    border: 0;

	    i {
	    	color: white;
	    	font-size: 24px;
	    }
	}

	a {
		display: flex;
		align-items: flex-end;

		img {
			margin-right: 15px;
		}

		label {
			font-weight: normal;
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 0;
			text-shadow:  1px 1px 1px rgba(255, 255, 255, 1),
							  -1px 1px 1px rgba(255, 255, 255, 1),
							  1px -1px 1px rgba(255, 255, 255, 1),
							  -1px -1px 1px rgba(255, 255, 255, 1);
			color: $sub-color;
			transition: all ease 0.3s;

			span {
				display: block;
				font-weight: bold;
				color: $main-color;
			}
		}
	}

	&.has-nav {
		top: 15px;
    	left: 15px;
		
		a {
			
			label {
				opacity: 0;
			}
		}
	}
}



/*------------------------------
			Navbar
------------------------------*/
.home-theme .dropdown-nav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    overflow: hidden;
    transition: all 0.5s ease;
    font-size: 16px;

    &.full {
    	height: 100vh;
    }

    .head {
		font-size: 24px;
		color: $main-color;
		margin-top: 250px;
		margin-bottom: 30px;
		font-family: 'SVN-Nexa Rush Sans Black';

		a {
			padding: 0;

			&:before {
				content: "" !important;
			}

			&:hover, &:focus {
				padding: 0;
				color: $sub-color !important;
				padding: 0 !important;
			}
		}
    }

    li {
    	padding: 5px 0;
    }

    a:not(.closebtn) {
    	display: block;
    	overflow: hidden;
    	padding-left: 0;
    	position: relative;;
    	transition: all ease 0.3s;

    	&:before {
    		content: "\f0da";
    		font-family: FontAwesome;
    		position: absolute;
    		top: -1px;
    		left: 50%;
    		color: $main-color;
    		opacity: 0;
    		transition: all ease 0.3s;
    	}

    	&:hover, &:focus {
    		color: $main-color;
    		font-weight: bold;
    		padding-left: 15px;

    		&:before {
    			left: 0;
    			opacity: 1;
    		}
    	}
    }

    .col-1 {
    	text-align: justify;
    	padding-right: 30px;

    	li:not(.head) a {
    		color: $main-color;
    		margin-top: 15px;
    		display: inline-block;

    		&:before {
    			content: "" !important;
    		}

    		&:hover, &:focus {
    			color: $sub-color;
    			padding: 0 !important;
    		}
    	}
    }

    .col-4 {

    	.icon {
    		display: flex;
    		align-items: baseline;
    		font-size: 16px;
    	}

    	i {
    		width: 20px;
    		text-align: center;
    		margin-right: 5px;
    		flex-shrink: 0;

    		&.fa-map-marker {
    			font-size: 18px;
    		}

    		&.fa-mobile {
    			font-size: 22px;
    		}
    	}
    }

    .closebtn {
    	margin-top: 90px;
	    font-size: 60px;
	    padding: 0;
	    opacity: 0.5;
	    display: inline-block;

	    &:hover, &:focus {
	    	opacity: 1;
			text-decoration: none;
	    }
    }
}


@media screen and (max-width: 1599px) {
	.home-theme .dropdown-nav {

	    .head {
	    	margin-top: 100px;
			font-size: 22px;
	    }
	}
}