.river-wave-area {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1;
}
.river-wave {
    background: url(https://phamngocson.com/wp-content/themes/flatsome/homepro/media/designer/wave.svg) repeat-x;
    position: absolute;
    top: -100px;
    width: 6400px;
    height: 100px;
    animation: river-wave 35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
} 
.river-wave:nth-of-type(2) {
    top: -56px;
    animation: river-wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -2.25s infinite;
    opacity: 1;
}
.mBody {
    background: #eee;
}
@keyframes river-wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-45px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
