/*---------- List ----------*/
.products-list { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 60px; }
.products-list .box { background-color: white; -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); border-radius: 10px; text-align: center; font-weight: bold; color: #085097; background-size: auto 50px; background-position: center 30px; background-repeat: no-repeat; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; }
.products-list .box:hover, .products-list .box.active { background-color: #085097; color: white; }
.products-list div[class*="col-"]:nth-child(1) .box { background-image: url("../images/icon-product-1b.png"); -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.products-list div[class*="col-"]:nth-child(1) .box:hover, .products-list div[class*="col-"]:nth-child(1) .box.active { background-image: url("../images/icon-product-1w.png"); }
.products-list div[class*="col-"]:nth-child(2) .box { background-image: url("../images/icon-product-2b.png"); -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.products-list div[class*="col-"]:nth-child(2) .box:hover, .products-list div[class*="col-"]:nth-child(2) .box.active { background-image: url("../images/icon-product-2w.png"); }
.products-list div[class*="col-"]:nth-child(3) .box { background-image: url("../images/icon-product-3b.png"); -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.products-list div[class*="col-"]:nth-child(3) .box:hover, .products-list div[class*="col-"]:nth-child(3) .box.active { background-image: url("../images/icon-product-3w.png"); }
.products-list div[class*="col-"]:nth-child(4) .box { background-image: url("../images/icon-product-4b.png"); -webkit-animation-delay: 1.8s; animation-delay: 1.8s; }
.products-list div[class*="col-"]:nth-child(4) .box:hover, .products-list div[class*="col-"]:nth-child(4) .box.active { background-image: url("../images/icon-product-4w.png"); }
.products-list div[class*="col-"]:nth-child(5) .box { background-image: url("../images/icon-product-5b.png"); -webkit-animation-delay: 2.1s; animation-delay: 2.1s; }
.products-list div[class*="col-"]:nth-child(5) .box:hover, .products-list div[class*="col-"]:nth-child(5) .box.active { background-image: url("../images/icon-product-5w.png"); }
.products-list div[class*="col-"]:nth-child(6) .box { background-image: url("../images/icon-product-6b.png"); -webkit-animation-delay: 2.4s; animation-delay: 2.4s; }
.products-list div[class*="col-"]:nth-child(6) .box:hover, .products-list div[class*="col-"]:nth-child(6) .box.active { background-image: url("../images/icon-product-6w.png"); }
.products-list div[class*="col-"] a { display: block; padding: 100px 10px 15px; width: 100%; height: 100%; }

.products-content { padding-bottom: 30px; }
.products-content .description { display: none; }
.products-content .description.show { display: block; }
.products-content .portal .title { margin-bottom: 20px; }
.products-content .portal .sub-title { margin: 20px 0; }
.products-content .portal label { color: #085097; text-align: center; margin-bottom: 15px; }
.products-content .portal ul { margin-top: 20px; }
.products-content .portal ul li { position: relative; margin-bottom: 20px; padding-left: 30px; }
.products-content .portal ul li:before { content: "\f111"; font-family: FontAwesome; position: absolute; left: 15px; top: 3px; color: #00bff3; font-size: 10px; }
.products-content .portal .not-title { margin: 30px auto; }
.products-content .opencps label { font-size: 18px; text-transform: uppercase; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; margin: 25px 0; text-align: center; display: block; }
.products-content .opencps label.label-sm { font-size: 16px; font-family: Tahoma, Geneva, Verdana, sans-serif; }
.products-content .opencps label span { color: #f5821f; }
.products-content .opencps img { margin-top: 15px; margin-bottom: 30px; }
.products-content .opencps img.img-title { width: calc(100% + 60px); margin-left: -30px; max-width: inherit; }
.products-content .opencps ul { margin: 15px 0; }
.products-content .opencps ul li { padding: 0 0 0 45px; position: relative; }
.products-content .opencps ul li:before { content: ""; position: absolute; top: 7px; left: 25px; width: 6px; height: 6px; background-color: #085097; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.products-content .opencps ul.special-list-icon li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.products-content .opencps ul.special-list-icon li:before { display: none; }
.products-content .opencps ul.special-list-icon li img { margin: 0 15px 0 0; }
.products-content .opencps ul.space-out { margin-top: 0; }
.products-content .opencps ul.space-out li { padding: 10px 0 10px 45px; }
.products-content .opencps ul.space-out li:before { top: 17px; }
.products-content .opencps a { display: inline-block; margin: 15px auto 30px; color: white; background-color: #085097; border-radius: 6px; padding: 10px 20px; }
.products-content .opencps a:hover, .products-content .opencps a:focus { color: white; background-color: #f5821f; }
.products-content .opencps .logos-wrapper .line { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.products-content .opencps .logos-wrapper .line span { font-weight: bold; width: 50%; color: #085097; }
.products-content .opencps .logos-wrapper .line img { margin-left: 30px; }
.products-content .opencps .slider .slick-slide { margin: 0 15px; }
.products-content .integrated .title { margin-bottom: 20px; }
.products-content .integrated .sub-title { margin: 20px 0; }
.products-content .integrated .sub-title-lv2 { margin: 40px 0 20px -30px; }
.products-content .integrated label { color: #085097; text-align: center; }
.products-content .integrated ul.list-style-1 li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 15px 0; }
.products-content .integrated ul.list-style-1 li img { margin-right: 15px; margin-left: -20px; }
.products-content .integrated ul.list-style-2 { margin-bottom: 30px; }
.products-content .integrated ul.list-style-2 li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 15px 0; }
.products-content .integrated ul.list-style-2 li img { margin-right: 15px; margin-left: -20px; }
.products-content .integrated ul.list-style-3 li { position: relative; padding-left: 20px; margin: 15px 0; }
.products-content .integrated ul.list-style-3 li:before { content: "\f111"; font-family: FontAwesome; position: absolute; top: 3px; left: 0; font-size: 10px; color: #085097; }
.products-content .integrated .icons-round { text-align: center; margin: 30px 0 0; color: #085097; }
.products-content .integrated .icons-round > div { margin-bottom: 30px; }
.products-content .integrated .icons-round > div:nth-last-child(-n+3) { margin-bottom: 0; }
.products-content .integrated .icons-round img { margin-bottom: 15px; }
.products-content .integrated .group-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.products-content .integrated .group-icons > div { margin-top: 30px; }
.products-content .integrated .group-icons b { color: #085097; display: block; margin: 15px 0 0; }
.products-content .integrated .group-icons .box { text-align: center; background-color: #d8f0fe; height: 100%; padding: 20px 5px; }
.products-content .integrated .not-title { margin: 30px auto; }
.products-content .mobilink > div { background: url("../images/product-mobilink-bg.png") center top no-repeat; background-size: 100% auto; }
.products-content .mobilink > div .row:not(.icons-row) { margin-top: 45px; margin-bottom: 45px; }
.products-content .mobilink .title { font-family: 'SVN-Nexa Rush Sans Black'; font-size: 36px; text-transform: uppercase; color: #085097; text-align: center; padding: 90px 0; }
.products-content .mobilink .sub-title { color: #f5821f; text-align: center; text-transform: uppercase; margin-bottom: 30px; }
.products-content .mobilink .sub-title span { font-size: 22px; font-family: 'SVN-Batman Forever Alternate'; display: block; margin-bottom: 5px; }
.products-content .mobilink label { font-family: 'SVN-Nexa Rush Sans Black'; font-size: 18px; margin-bottom: 30px; color: #085097; }
.products-content .mobilink .icons-row { color: #085097; text-align: center; margin: 30px -15px 0; }
.products-content .mobilink .icons-row .box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #085097; border-radius: 50%; width: 100px; height: 100px; margin: 0 auto 10px; }
.products-content .mobilink .icons-row .box img { height: 45%; }
.products-content .mobilink a { display: inline-block; margin-top: 35px; }
.products-content .mobilink a img { -webkit-box-shadow: -3px 5px 0px 0px #d0f0f5; box-shadow: -3px 5px 0px 0px #d0f0f5; border-radius: 25px; }
.products-content .mobilink .mobilink-list-utilities { -webkit-column-count: 2; column-count: 2; -webkit-column-gap: 30px; column-gap: 30px; }
.products-content .mobilink .mobilink-list-utilities li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.products-content .mobilink .mobilink-list-utilities li i { margin-right: 10px; color: #085097; }
.products-content .hsm .title { margin-bottom: 120px; }
.products-content .hsm .content-wrapper { width: 100%; height: 610px; position: relative; clear: both; }
.products-content .hsm .content-wrapper > img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.products-content .hsm .content-wrapper div[class*="box-"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; position: absolute; }
.products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 550px; top: -50px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-top: 10px; }
.products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 100%; }
.products-content .hsm .content-wrapper .box-2 { width: 500px; top: 180px; right: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-2 img { margin-right: 10px; }
.products-content .hsm .content-wrapper .box-3 { width: 485px; top: 350px; right: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-3 img { margin-right: 10px; }
.products-content .hsm .content-wrapper .box-4 { width: 485px; top: 350px; left: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-left: 10px; }
.products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
.products-content .hsm .content-wrapper .box-5 { width: 480px; top: 180px; left: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-left: 10px; }
.products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
.products-content .hsm label { display: block; color: #085097; margin-bottom: 15px; }
.products-content .agriculture > div { background: url("../images/product-agriculture-bg.png") center top no-repeat; background-size: 100% auto; }
.products-content .agriculture label { display: block; text-align: center; font-size: 30px; font-family: 'SVN-Nexa Rush Sans Black'; padding: 105px 0 60px; color: white; text-shadow: 1px 1px 5px black; }
