@import "variables";



/*---------- List ----------*/
.products-list {
	margin-top: 100px;
	display: flex;
	margin-bottom: 60px;

	.box {
		background-color: white;
		box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.4);
		border-radius: 10px;
		text-align: center;
		font-weight: bold;
		color: $main-color;
		background-size: auto 50px;
		background-position: center 30px;
		background-repeat: no-repeat;
		transition: all ease 0.3s;
		display: flex;
		height: 100%;

		&:hover, &.active {
			background-color: $main-color;
			color: white;
		}
	}

	div[class*="col-"] {

		&:nth-child(1) .box {
			background-image: url("../images/icon-product-1b.png");
			animation-delay: 0.9s;

			&:hover, &.active {
				background-image: url("../images/icon-product-1w.png");
			}
		}

		&:nth-child(2) .box {
			background-image: url("../images/icon-product-2b.png");
			animation-delay: 1.2s;

			&:hover, &.active {
				background-image: url("../images/icon-product-2w.png");
			}
		}

		&:nth-child(3) .box {
			background-image: url("../images/icon-product-3b.png");
			animation-delay: 1.5s;

			&:hover, &.active {
				background-image: url("../images/icon-product-3w.png");
			}
		}

		&:nth-child(4) .box {
			background-image: url("../images/icon-product-4b.png");
			animation-delay: 1.8s;

			&:hover, &.active {
				background-image: url("../images/icon-product-4w.png");
			}
		}

		&:nth-child(5) .box {
			background-image: url("../images/icon-product-5b.png");
			animation-delay: 2.1s;

			&:hover, &.active {
				background-image: url("../images/icon-product-5w.png");
			}
		}

		&:nth-child(6) .box {
			background-image: url("../images/icon-product-6b.png");
			animation-delay: 2.4s;

			&:hover, &.active {
				background-image: url("../images/icon-product-6w.png");
			}
		}

		a {
			display: block;
			padding: 100px 10px 15px;
			width: 100%;
			height: 100%;
		}
	}
}

.products-content {
	padding-bottom: 30px;

	.description {
		display: none;

		&.show {
			display: block;
		}
	}

	.portal {

		.title {
			margin-bottom: 20px;
		}

		.sub-title {
			margin: 20px 0;
		}

		label {
			color: $main-color;
			text-align: center;
			margin-bottom: 15px;
		}

		ul {
			margin-top: 20px;

			li {
				position: relative;
				margin-bottom: 20px;
				padding-left: 30px;

				&:before {
					content: "\f111";
					font-family: FontAwesome;
					position: absolute;
					left: 15px;
					top: 3px;
					color: $main-color-medium;
					font-size: 10px;
				}
			}
		}

		.not-title {
			margin: 30px auto;
		}
	}

	.opencps {

		label {
			font-size: 18px;
			text-transform: uppercase;
			font-family: 'SVN-Nexa Rush Sans Black';
			color: $main-color;
			margin: 25px 0;
			text-align: center;
			display: block;

			&.label-sm {
				font-size: 16px;
				font-family: Tahoma, Geneva, Verdana, sans-serif;
			}

			span {
				color: $sub-color;
			}
		}

		img {
			margin-top: 15px;
			margin-bottom: 30px;

			&.img-title {
				width: calc(100% + 60px);
				margin-left: -30px;
				max-width: inherit;
			}
		}

		ul {
			margin: 15px 0;

			li {
				padding: 0 0 0 45px;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: 7px;
					left: 25px;
					width: 6px;
					height: 6px;
					background-color: $main-color;
					transform: rotate(-45deg);
				}
			}

			&.special-list-icon {

				li {
					display: flex;
					align-items: center;
					padding: 5px 0;

					&:before {
						display: none;
					}

					img {
						margin: 0 15px 0 0;
					}
				}
			}

			&.space-out {
				margin-top: 0;

				li {
					padding: 10px 0 10px 45px;

					&:before {
						top: 17px;
					}
				}
			}
		}

		a {
			display: inline-block;
			margin: 15px auto 30px;
			color: white;
			background-color: $main-color;
			border-radius: 6px;
			padding: 10px 20px;

			&:hover, &:focus {
				color: white;
				background-color: $sub-color;
			}
		}

		.logos-wrapper {
			
			.line {
				display: flex;
				align-items: center;

				span {
					font-weight: bold;
					width: 50%;
					color: $main-color
				}

				img {
					
					margin-left: 30px;
				}
			}
		}

		.slider {

			.slick-slide {
				margin: 0 15px;
			}
		}
	}

	.integrated {

		.title {
			margin-bottom: 20px;
		}

		.sub-title {
			margin: 20px 0;
		}

		.sub-title-lv2 {
			margin: 40px 0 20px -30px;
		}

		label {
			color: $main-color;
			text-align: center;
		}

		ul {

			&.list-style-1 {

				li {
					display: flex;
					align-items: center;
					margin: 15px 0;

					img {
						margin-right: 15px;
						margin-left: -20px;
					}
				}
			}

			&.list-style-2 {
				margin-bottom: 30px;

				li {
					display: flex;
					align-items: center;
					margin: 15px 0;

					img {
						margin-right: 15px;
						margin-left: -20px;
					}
				}
			}

			&.list-style-3 {

				li {
					position: relative;
					padding-left: 20px;
					margin: 15px 0;

					&:before {
						content: "\f111";
						font-family: FontAwesome;
						position: absolute;
						top: 3px;
						left: 0;
						font-size: 10px;
						color: $main-color;
					}
				}
			}
		}

		.icons-round {
			text-align: center;
			margin: 30px 0 0;
			color: $main-color;

			> div {
				margin-bottom: 30px;

				&:nth-last-child(-n+3) {
					margin-bottom: 0;
				}
			}

			img {
				margin-bottom: 15px;
			}
		}

		.group-icons {
			display: flex;
			flex-wrap: wrap;

			> div {
				margin-top: 30px;
			}

			b {
				color: $main-color;
				display: block;
				margin: 15px 0 0;
			}

			.box {
				text-align: center;
				background-color: $main-color-light;
				height: 100%;
				padding: 20px 5px;
			}
		}

		.not-title {
			margin: 30px auto;
		}
	}

	.mobilink {

		> div {
			background: url('../images/product-mobilink-bg.png') center top no-repeat;
			background-size: 100% auto;

			.row:not(.icons-row) {
				margin-top: 45px;
				margin-bottom: 45px;
			}
		}

		.title {
			font-family: 'SVN-Nexa Rush Sans Black';
			font-size: 36px;
			text-transform: uppercase;
			color: $main-color;
			text-align: center;
			padding: 90px 0;
		}

		.sub-title {
			color: $sub-color;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 30px;

			span {
				font-size: 22px;
				font-family: 'SVN-Batman Forever Alternate';
				display: block;
				margin-bottom: 5px;
			}
		}

		label {
			font-family: 'SVN-Nexa Rush Sans Black';
			font-size: 18px;
			margin-bottom: 30px;
			color: $main-color;
		}

		.icons-row {
			color: $main-color;
			text-align: center;
			margin: 30px -15px 0;

			.box {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $main-color;
				border-radius: 50%;
				width: 100px;
				height: 100px;
				margin: 0 auto 10px;

				img {
					height: 45%;
				}
			}
		}

		a {
			display: inline-block;
			margin-top: 35px;

			img {
				box-shadow: -3px 5px 0px 0px #d0f0f5;
				border-radius: 25px;
			}
		}

		.mobilink-list-utilities {
			column-count: 2;
			column-gap: 30px;

			li {
				display: flex;
				align-items: center;
				padding: 5px 0;

				i {
					margin-right: 10px;
					color: $main-color;
				}
			}
		}
	}

	.hsm {

		.title {
			margin-bottom: 120px;
		}

		.content-wrapper {
			width: 100%;
			height: 610px;
			position: relative;
			clear: both;

			> img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}

			div[class*="box-"] {
				display: flex;
				align-items: center;
				text-align: center;
				position: absolute;
			}

			.box-1 {
				flex-wrap: wrap;
				justify-content: center;
				width: 550px;
				top: -50px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;

				img {
					order: 2;
					margin-top: 10px;
				}

				div {
					order: 1;
					width: 100%;
				}
			}

			.box-2 {
				width: 500px;
				top: 180px;
				right: 40px;
				display: flex;

				img {
					margin-right: 10px;
				}
			}

			.box-3 {
				width: 485px;
				top: 350px;
				right: 70px;
				display: flex;

				img {
					margin-right: 10px;
				}
			}

			.box-4 {
				width: 485px;
				top: 350px;
				left: 70px;
				display: flex;

				img {
					order: 2;
					margin-left: 10px;
				}

				div {
					order: 1;
				}
			}

			.box-5 {
				width: 480px;
				top: 180px;
				left: 35px;
				display: flex;

				img {
					order: 2;
					margin-left: 10px;
				}

				div {
					order: 1;
				}
			}
		}

		label {
			display: block;
			color: $main-color;
			margin-bottom: 15px;
		}
	}

	.agriculture {

		> div {
			background: url('../images/product-agriculture-bg.png') center top no-repeat;
			background-size: 100% auto;
		}

		label {
			display: block;
			text-align: center;
			font-size: 30px;
			font-family: 'SVN-Nexa Rush Sans Black';
			padding: 105px 0 60px;
			color: white;
			text-shadow: 1px 1px 5px black;
		}
	}
}