@media screen and (min-width: 1200px) and (max-width: 1365px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; } }
@media screen and (min-width: 1000px) and (max-width: 1199px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; }
  .about .credo { margin-bottom: 60px; }
  .about .history-wrapper { font-size: 16px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; } }
@media screen and (min-width: 768px) and (max-width: 999px) { .about { background: url("../images/bg-about-v2.png") center top no-repeat; background-size: 1920px auto; }
  .about .company-name { margin-top: 350px; margin-bottom: 60px; }
  .about .company-name span { font-size: 30px; }
  .about .scope-wrapper > div:nth-child(-n+2) { margin-bottom: 105px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; } }
@media screen and (max-width: 767px) { .about { background: url("../images/bg-about-v2.png") left top no-repeat; background-size: 1920px auto; }
  .about .company-name { margin-top: 30px; margin-bottom: 30px; font-size: 14px; }
  .about .company-name span { font-size: 20px; }
  .about .short-description { font-size: 14px; margin-bottom: 90px; }
  .about .short-description:before { display: none; }
  .about .scope-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 0; }
  .about .scope-wrapper > div { margin-bottom: 60px; }
  .about .scope-wrapper img { height: 90px; }
  .about .scope-wrapper label { font-size: 16px; margin: -45px 0 15px; }
  .about .credo { margin-bottom: 45px; }
  .about .credo label { font-size: 16px; }
  .about .credo div[class*="article"] { margin: 0; font-size: 14px; }
  .about .credo div[class*="article"] img { margin-right: 10px; height: 20px; }
  .about .history-wrapper { font-size: 14px; }
  .about .history-wrapper div { margin-bottom: 15px; }
  .about .history-wrapper div:last-child { margin-bottom: 45px; }
  .about .album .img-group { margin-top: 30px; } }
@media (min-width: 768px) { .about .col-sm-6 { width: 49%; } }
@media (min-width: 992px) { .about .col-md-3 { width: 24%; } }
