@import "variables";



@media screen and (min-width: 1200px) {
	.products-content {

		.integrated {

			.col-lg-4 {
				width: 30%;
			}
		}
	}
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
	.products-content {

		.integrated {

			.col-sm-6 {
				width: 49%;
			}
		}

		.mobilink {

			.mobilink-group {

				&:first-child {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-top: 30px;
				}
			}
		}

		.hsm {

			.title {
				margin-bottom: 45px;
			}

			.content-wrapper {
				height: auto;
				clear: both;
				padding: 0 15px;
				width: 83.33333333%;

				> img {
					display: none;
				}

				div[class*="box-"] {
					position: relative;
					text-align: left;
					width: 100%;
					top: 0;
					left: 0;
					right: 0;
					transform: none;					

					img {
						width: 25%;
						max-width: 100px;
						margin: 0 10px 0 0;
					}

					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}

				.box-1 {
					flex-wrap: nowrap;

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-4 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-5 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}
			}

			label {
				margin-bottom: 10px;

				br {
					display: none;
				}
			}
		}
	}
}


@media screen and (min-width: 768px) and (max-width: 999px) {
	#products-list {
		margin: 100px 0 45px;
	}

	.products-content {

		.integrated {

			.col-sm-6 {
				width: 49%;
			}
		}

		.mobilink {

			> div {

				.row:not(.icons-row) {
					margin-top: 15px;
					margin-bottom: 15px;
					
					img {
						margin: 15px auto;
						display: block;
						max-width: 100%;
					}
				}
			}

			.sub-title {

				span {
					font-size: 24px;
				}
			}

			.col-md-pull-2 {
				margin-left: 0;
			}

			label {
				margin-bottom: 15px;
			}

			.mobilink-group {

				&:first-child {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-top: 30px;
				}
			}
		}

		.hsm {

			.title {
				margin-bottom: 45px;
			}

			.content-wrapper {
				height: auto;
				clear: both;
				padding: 0 15px;
				width: 83.33333333%;

				> img {
					display: none;
				}

				div[class*="box-"] {
					position: relative;
					text-align: left;
					width: 100%;
					top: 0;
					left: 0;
					right: 0;
					transform: none;					

					img {
						width: 25%;
						max-width: 100px;
						margin: 0 10px 0 0;
					}

					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}

				.box-1 {
					flex-wrap: nowrap;

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-4 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-5 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}
			}

			label {
				margin-bottom: 10px;

				br {
					display: none;
				}
			}
		}

		.agriculture {

			label {
				font-size: 26px;
				padding-bottom: 30px;

				br {
					display: none;
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {
	#products-list {
		margin: 100px 0 45px;
	}

	.products-content {
		padding-bottom: 30px;

		.integrated {

			.sub-title-lv2 {
				margin: 30px 0 15px;
			}

			ul {

				&.list-style-1 {

					li {

						img {
							margin-left: 0;
							height: 30px;
						}
					}
				}

				&.list-style-2 {

					li {

						img {
							margin-left: 0;
							height: 30px;
						}
					}
				}
			}

			.icons-round {
				text-align: center;
				margin: 30px 0 0;
				color: $main-color;

				> div {
					margin-bottom: 30px;

					&:nth-last-child(-n+3) {
						margin-bottom: 30px;
					}
				}

				img {
					margin-bottom: 15px;
				}
			}

			.group-icons {

				> div {
					margin-top: 15px;
					width: 100%;
				}

				b {
					color: $main-color;
					display: block;
					margin: 15px 0 0;
				}

				.box {
					text-align: center;
					background-color: $main-color-light;
					height: 100%;
					padding: 20px 5px;
				}
			}

			.not-title {
				margin: 30px auto;
			}
		}

		.mobilink {

			> div {

				.row:not(.icons-row) {
					margin-top: 15px;
					margin-bottom: 15px;
					
					img {
						margin: 15px auto;
						display: block;
						max-width: 100%;
					}
				}
			}

			.title {
				font-size: 20px;
				padding: 60px 0 30px;

				br {
					display: none;
				}
			}

			.sub-title {
				margin-bottom: 30px;

				span {
					font-size: 18px;
				}
			}

			label {
				font-size: 16px;
				margin-bottom: 10px;
			}

			.icons-row {
				margin: 15px 0;

				> div {
					
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}

			a {
				display: inline-block;
				margin-top: 35px;

				img {
					box-shadow: -3px 5px 0px 0px #d0f0f5;
					border-radius: 25px;
				}
			}

			.mobilink-group {

				&:first-child {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-top: 30px;
				}
			}

			.mobilink-list-utilities {
				column-count: 1;
			}
		}

		.hsm {

			.title {
				margin-bottom: 45px;
			}

			.content-wrapper {
				height: auto;
				clear: both;
				padding: 0 15px;

				> img {
					display: none;
				}

				div[class*="box-"] {
					position: relative;
					text-align: left;
					width: 100%;
					top: 0;
					left: 0;
					right: 0;
					transform: none;					

					img {
						width: 25%;
						max-width: 100px;
						margin: 0 10px 0 0;
					}

					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}

				.box-1 {
					flex-wrap: nowrap;

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-4 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}

				.box-5 {

					img {
						order: 1;
					}

					div {
						order: 2;
					}
				}
			}

			label {
				margin-bottom: 10px;

				br {
					display: none;
				}
			}
		}

		.agriculture {

			> div {
				background: url('../images/product-agriculture-bg.png') center top no-repeat;
				background-size: 100% auto;
			}

			label {
				font-size: 20px;
				padding: 60px 0 30px;
			}
		}
	}
}