@import "variables";



@media screen and (min-width: 1200px) and (max-width: 1365px) {
	.about {
		background: url('../images/bg-about-v2.png') center top no-repeat;
		background-size: 1920px auto;
	}
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
	.about {
		background: url('../images/bg-about-v2.png') center top no-repeat;
		background-size: 1920px auto;

		.credo {
			margin-bottom: 60px;
		}

		.history-wrapper {
			font-size: 16px;

			div {

				&:last-child {
					margin-bottom: 45px;
				}
			}
		}
	}
}


@media screen and (min-width: 768px) and (max-width: 999px) {
	.about {
		background: url('../images/bg-about-v2.png') center top no-repeat;
		background-size: 1920px auto;

		.company-name {
			margin-top: 350px;
			margin-bottom: 60px;

			span {
				font-size: 30px;
			}
		}

		.scope-wrapper {

			> div:nth-child(-n+2) {
				margin-bottom: 105px;
			}
		}

		.history-wrapper {

			div {

				&:last-child {
					margin-bottom: 45px;
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.about {
		background: url('../images/bg-about-v2.png') left top no-repeat;
		background-size: 1920px auto;

		.company-name {
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 14px;

			span {
				font-size: 20px;
			}
		}

		.short-description {
			font-size: 14px;
			margin-bottom: 90px;

			&:before {
				display: none;
			}
		}

		.scope-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;

			> div {
				margin-bottom: 60px;
			}

			img {
				height: 90px;
			}

			label {
				font-size: 16px;
				margin: -45px 0 15px;
			}
		}

		.credo {
			margin-bottom: 45px;

			label {
				font-size: 16px;
			}

			div[class*="article"] {
				margin: 0;
				font-size: 14px;

				img {
					margin-right: 10px;
					height: 20px;
				}
			}
		}

		.history-wrapper {
			font-size: 14px;

			div {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 45px;
				}
			}
		}

		.album {

			.img-group {
				margin-top: 30px;
			}
		}
	}
}



@media (min-width: 768px) {
	.about {

		.col-sm-6 {
			width: 49%;
		}
	}
}

@media (min-width: 992px) {
	.about {

		.col-md-3 {
			width: 24%;
		}
	}
}