@import "variables";



@media screen and (min-width: 1600px) and (max-width: 1680px) {
	/*---------- Row 1 ----------*/
	
}


@media screen and (min-width: 1366px) and (max-width: 1599px) {
	/*---------- Header ----------*/
	#header {
		top: 20px;
		left: 20px;
	}

	/*---------- Row 1 ----------*/
	
}


@media screen and (min-width: 1200px) and (max-width: 1365px) {
	/*---------- Header ----------*/
	#header {
		top: 20px;
		left: 20px;
	}

	/*---------- Row 1 ----------*/
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
	/*---------- Header ----------*/
	#header {
		top: 20px;
		left: 20px;
	}

	/*---------- Row 1 ----------*/
	
}


@media screen and (min-width: 768px) and (max-width: 999px) {
	/*---------- Header ----------*/
	#header {
		top: 20px;
		left: 20px;
	}

	/*---------- Row 1 ----------*/
	
}


@media screen and (max-width: 767px) {
	/*---------- Header ----------*/
	#header {
		top: 20px;
		left: 20px;

		.toggle-nav {
			width: 40px;
			height: 40px;
			margin-right: 15px;
			line-height: 45px;
			text-align: center;
			display: block;

			i {
				font-size: 16px;
			}
		}

		a {

			img {
				margin: 0;
				height: 40px;
			}
		}
	}

	/*---------- Navbar ----------*/
	.home-theme .dropdown-nav {
		font-size: 14px;
		overflow: auto;

		.head {
			font-size: 18px;
			padding: 0;
			margin: 30px 0 15px;
	    }

	    .col-1 {

	    	li:not(.head) a {
	    		margin: 0;
	    	}
	    }

	    .closebtn {
	    	margin-top: 60px;
	    }
	}

	/*---------- Row 1 ----------*/
	
}