@media screen and (min-width: 1200px) { .products-content .integrated .col-lg-4 { width: 30%; } }
@media screen and (min-width: 1000px) and (max-width: 1199px) { .products-content .integrated .col-sm-6 { width: 49%; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; width: 83.33333333%; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; } }
@media screen and (min-width: 768px) and (max-width: 999px) { #products-list { margin: 100px 0 45px; }
  .products-content .integrated .col-sm-6 { width: 49%; }
  .products-content .mobilink > div .row:not(.icons-row) { margin-top: 15px; margin-bottom: 15px; }
  .products-content .mobilink > div .row:not(.icons-row) img { margin: 15px auto; display: block; max-width: 100%; }
  .products-content .mobilink .sub-title span { font-size: 24px; }
  .products-content .mobilink .col-md-pull-2 { margin-left: 0; }
  .products-content .mobilink label { margin-bottom: 15px; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; width: 83.33333333%; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; }
  .products-content .agriculture label { font-size: 26px; padding-bottom: 30px; }
  .products-content .agriculture label br { display: none; } }
@media screen and (max-width: 767px) { #products-list { margin: 100px 0 45px; }
  .products-content { padding-bottom: 30px; }
  .products-content .integrated .sub-title-lv2 { margin: 30px 0 15px; }
  .products-content .integrated ul.list-style-1 li img { margin-left: 0; height: 30px; }
  .products-content .integrated ul.list-style-2 li img { margin-left: 0; height: 30px; }
  .products-content .integrated .icons-round { text-align: center; margin: 30px 0 0; color: #085097; }
  .products-content .integrated .icons-round > div { margin-bottom: 30px; }
  .products-content .integrated .icons-round > div:nth-last-child(-n+3) { margin-bottom: 30px; }
  .products-content .integrated .icons-round img { margin-bottom: 15px; }
  .products-content .integrated .group-icons > div { margin-top: 15px; width: 100%; }
  .products-content .integrated .group-icons b { color: #085097; display: block; margin: 15px 0 0; }
  .products-content .integrated .group-icons .box { text-align: center; background-color: #d8f0fe; height: 100%; padding: 20px 5px; }
  .products-content .integrated .not-title { margin: 30px auto; }
  .products-content .mobilink > div .row:not(.icons-row) { margin-top: 15px; margin-bottom: 15px; }
  .products-content .mobilink > div .row:not(.icons-row) img { margin: 15px auto; display: block; max-width: 100%; }
  .products-content .mobilink .title { font-size: 20px; padding: 60px 0 30px; }
  .products-content .mobilink .title br { display: none; }
  .products-content .mobilink .sub-title { margin-bottom: 30px; }
  .products-content .mobilink .sub-title span { font-size: 18px; }
  .products-content .mobilink label { font-size: 16px; margin-bottom: 10px; }
  .products-content .mobilink .icons-row { margin: 15px 0; }
  .products-content .mobilink .icons-row > div:not(:last-child) { margin-bottom: 15px; }
  .products-content .mobilink a { display: inline-block; margin-top: 35px; }
  .products-content .mobilink a img { -webkit-box-shadow: -3px 5px 0px 0px #d0f0f5; box-shadow: -3px 5px 0px 0px #d0f0f5; border-radius: 25px; }
  .products-content .mobilink .mobilink-group:first-child { margin-bottom: 30px; }
  .products-content .mobilink .mobilink-group:last-child { margin-top: 30px; }
  .products-content .mobilink .mobilink-list-utilities { -webkit-column-count: 1; column-count: 1; }
  .products-content .hsm .title { margin-bottom: 45px; }
  .products-content .hsm .content-wrapper { height: auto; clear: both; padding: 0 15px; }
  .products-content .hsm .content-wrapper > img { display: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] { position: relative; text-align: left; width: 100%; top: 0; left: 0; right: 0; -webkit-transform: none; transform: none; }
  .products-content .hsm .content-wrapper div[class*="box-"] img { width: 25%; max-width: 100px; margin: 0 10px 0 0; }
  .products-content .hsm .content-wrapper div[class*="box-"]:not(:last-child) { margin-bottom: 30px; }
  .products-content .hsm .content-wrapper .box-1 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .products-content .hsm .content-wrapper .box-1 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-1 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-4 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-4 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm .content-wrapper .box-5 img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .products-content .hsm .content-wrapper .box-5 div { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .products-content .hsm label { margin-bottom: 10px; }
  .products-content .hsm label br { display: none; }
  .products-content .agriculture > div { background: url("../images/product-agriculture-bg.png") center top no-repeat; background-size: 100% auto; }
  .products-content .agriculture label { font-size: 20px; padding: 60px 0 30px; } }
