@media screen and (min-width: 1600px) and (max-width: 1680px) { /*---------- Row 1 ----------*/
  .row-1 .slogan { font-size: 30px; }
  .row-1 .slogan b { font-size: 36px; }
  .row-1 a { margin-top: 45px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 26px; }
  .row-2 .head span { font-size: 40px; }
  .row-2 .head label { font-size: 30px; }
  .row-2 .content > div { margin-top: 60px; }
  .row-2 .content .box { width: 220px; height: 240px; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row > img { margin-right: 45px; }
  .row-3 .icons-group { margin: 0 -15px; }
  .row-3 .icons-group .icon { padding: 0 15px; }
  .row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 30px; }
  .row-3 .icons-group .icon div { width: 120px; height: 120px; margin-right: 15px; }
  .row-3 .icons-group .icon img { height: 50px; }
  .row-3 .last-row { margin-top: 60px; }
  .row-3 .wrapper { padding-right: 30px; }
  .row-3 .wrapper div[class*="step-2-"] { font-size: 16px; }
  .row-3 .split { margin: 0 30px; }
  /*---------- Row 4 ----------*/
  .row-4 .slogan { font-size: 22px; }
  .row-4 div[class*="lv"]:not(.lv4-icons) { margin-bottom: 30px; }
  .row-4 div[class*="lv"] img:not(:first-child) { margin-left: 45px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 680px; }
  .row-5 .sidebar .mBar { width: 100px; }
  .row-5 .sidebar .logo.vfossa { left: 80px; }
  .row-5 .sidebar .logo.via { left: 98px; }
  .row-5 .sidebar .logo.iocv { left: 97px; }
  .row-5 .sidebar .logo.opencps { left: 80px; }
  .row-5 .content { max-width: calc(100% - 440px); left: 380px; font-size: 16px; }
  .row-5 .content .description .img-title { max-height: 100px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 15px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0 75px; }
  /*---------- Row 7 ----------*/
  .row-7 .first { margin-bottom: 15px; margin-top: 60px; } }
@media screen and (min-width: 1366px) and (max-width: 1599px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  .row-1 .slogan { font-size: 26px; }
  .row-1 .slogan b { font-size: 30px; }
  .row-1 a { font-size: 14px; margin-top: 30px; padding: 10px 20px; border-radius: 6px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 20px; }
  .row-2 .head span { font-size: 30px; }
  .row-2 .head label { font-size: 22px; }
  .row-2 .content > div { margin-top: 30px; }
  .row-2 .content .box { border-radius: 6px; width: 180px; height: 200px; font-size: 16px; background-size: 50px 50px; background-position: center 45px; }
  .row-2 .content .box a { padding-top: 120px; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row, .row-3 .last-row { margin: 0 60px; }
  .row-3 .first-row > img { margin-right: 45px; width: 590px; }
  .row-3 .icons-group { margin: 0 -15px; }
  .row-3 .icons-group .icon { padding: 0 15px; }
  .row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 45px; }
  .row-3 .icons-group .icon div { width: 90px; height: 90px; margin-right: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
  .row-3 .icons-group .icon img { height: 30px; }
  .row-3 .icons-group .icon span { font-size: 14px; }
  .row-3 .last-row { margin-top: 30px; }
  .row-3 .hexagon-wrapper { width: 25px; height: 40px; font-size: 26px; margin-right: 20px; }
  .row-3 .hexagon-wrapper:before { left: -10px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-right: 10px solid white; }
  .row-3 .hexagon-wrapper:after { right: -10px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 10px solid white; }
  .row-3 .step-1 { font-size: 14px; padding: 20px 5px 20px 30px; }
  .row-3 .step-1:before { border-top: 40px solid transparent; border-bottom: 40px solid transparent; }
  .row-3 .step-2 { font-size: 14px; padding: 20px 5px 20px 30px; margin-right: 45px; }
  .row-3 .step-2:before { border-top: 40px solid transparent; border-bottom: 40px solid transparent; }
  .row-3 .wrapper { margin-left: 50px; padding-right: 30px; }
  .row-3 .wrapper div[class*="step-2-"] { font-size: 14px; }
  .row-3 .split { margin: 0 30px; }
  /*---------- Row 4 ----------*/
  .row-4 .slogan { font-size: 18px; }
  .row-4 .icons-group { margin-right: 75px; }
  .row-4 div[class*="lv"] img { height: 45px; }
  .row-4 div[class*="lv"]:not(.lv4-icons) { margin-bottom: 30px; }
  .row-4 div[class*="lv"] img:not(:first-child) { margin-left: 45px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 480px; }
  .row-5 .sidebar .mBar { width: 90px; height: 300px; -webkit-box-shadow: 10px 0px 0 0 #085097; box-shadow: 10px 0px 0 0 #085097; }
  .row-5 .sidebar img { max-height: 50px; max-width: 120px; }
  .row-5 .sidebar .logo.vfossa { top: 0; left: 70px; }
  .row-5 .sidebar .logo.via { top: 85px; left: 89px; }
  .row-5 .sidebar .logo.iocv { top: 175px; left: 87px; }
  .row-5 .sidebar .logo.opencps { top: 265px; left: 67px; }
  .row-5 .sidebar .hexagon-icon { width: 10px; height: 20px; margin-right: 15px; }
  .row-5 .sidebar .hexagon-icon:before { left: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 6px solid #085097; }
  .row-5 .sidebar .hexagon-icon:after { right: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 6px solid #085097; }
  .row-5 .content { max-width: calc(100% - 330px); left: 270px; font-size: 14px; }
  .row-5 .content .description .img-title { max-height: 80px; max-width: 180px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 10px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0 75px; }
  .row-6 .col-md-4 { margin-top: 100px; }
  /*---------- Row 7 ----------*/
  .row-7 .container-fluid { margin: 0 45px; }
  .row-7 .text-title { margin-bottom: 10px; }
  .row-7 .first { margin-bottom: 15px; margin-top: 90px; } }
@media screen and (min-width: 1200px) and (max-width: 1365px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  .row-1 .slogan { font-size: 20px; margin-left: 45px; }
  .row-1 .slogan b { font-size: 26px; }
  .row-1 a { font-size: 14px; margin-left: 45px; margin-top: 15px; padding: 10px 20px; border-radius: 6px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 20px; }
  .row-2 .head span { font-size: 30px; }
  .row-2 .head label { font-size: 22px; }
  .row-2 .content > div { margin-top: 30px; }
  .row-2 .content .box { border-radius: 6px; width: 160px; height: 180px; font-size: 14px; background-size: 50px 50px; background-position: center 30px; }
  .row-2 .content .box a { padding-top: 100px; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row, .row-3 .last-row { margin: 0 30px; }
  .row-3 .first-row > img { margin-right: 45px; width: 500px; }
  .row-3 .icons-group { margin: 0 -15px; }
  .row-3 .icons-group .icon { padding: 0 15px; }
  .row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 30px; }
  .row-3 .icons-group .icon div { width: 90px; height: 90px; margin-right: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
  .row-3 .icons-group .icon img { height: 30px; }
  .row-3 .icons-group .icon span { font-size: 14px; }
  .row-3 .last-row { display: none; }
  /*---------- Row 4 ----------*/
  .row-4 .slogan { font-size: 16px; margin-left: 30px; }
  .row-4 .icons-group { margin-right: 60px; }
  .row-4 div[class*="lv"] img { height: 40px; }
  .row-4 div[class*="lv"]:not(.lv4-icons) { margin-bottom: 30px; }
  .row-4 div[class*="lv"] img:not(:first-child) { margin-left: 30px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 480px; }
  .row-5 .sidebar .mBar { width: 90px; height: 300px; -webkit-box-shadow: 10px 0px 0 0 #085097; box-shadow: 10px 0px 0 0 #085097; }
  .row-5 .sidebar img { max-height: 50px; max-width: 120px; }
  .row-5 .sidebar .logo.vfossa { top: 0; left: 70px; }
  .row-5 .sidebar .logo.via { top: 85px; left: 89px; }
  .row-5 .sidebar .logo.iocv { top: 175px; left: 87px; }
  .row-5 .sidebar .logo.opencps { top: 265px; left: 67px; }
  .row-5 .sidebar .hexagon-icon { width: 10px; height: 20px; margin-right: 15px; }
  .row-5 .sidebar .hexagon-icon:before { left: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 6px solid #085097; }
  .row-5 .sidebar .hexagon-icon:after { right: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 6px solid #085097; }
  .row-5 .content { max-width: calc(100% - 330px); left: 270px; font-size: 14px; }
  .row-5 .content .description .img-title { max-height: 80px; max-width: 180px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 10px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0 75px; }
  .row-6 .col-md-4 { margin-top: 100px; }
  /*---------- Row 7 ----------*/
  .row-7 .container-fluid { margin: 0 45px; }
  .row-7 .text-title { margin-bottom: 10px; }
  .row-7 .first { margin-bottom: 15px; margin-top: 90px; } }
@media screen and (min-width: 1000px) and (max-width: 1199px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  .row-1 .slogan { font-size: 20px; margin-left: 45px; }
  .row-1 .slogan b { font-size: 26px; }
  .row-1 a { font-size: 14px; margin-left: 45px; margin-top: 15px; padding: 10px 20px; border-radius: 6px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 18px; }
  .row-2 .head span { font-size: 26px; }
  .row-2 .head label { font-size: 18px; }
  .row-2 .content { width: calc(100% - 100px); }
  .row-2 .content > div { margin-top: 30px; }
  .row-2 .content .box { border-radius: 6px; width: 135px; height: 150px; font-size: 14px; background-size: 40px 40px; background-position: center 25px; }
  .row-2 .content .box a { padding: 75px 15px 0; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row, .row-3 .last-row { margin: 0 30px; }
  .row-3 .first-row { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-3 .first-row > img { margin-bottom: 30px; width: 500px; }
  .row-3 .icons-group { margin: 0 -15px; }
  .row-3 .icons-group .icon { padding: 0 15px; }
  .row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 30px; }
  .row-3 .icons-group .icon div { width: 90px; height: 90px; margin-right: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
  .row-3 .icons-group .icon img { height: 30px; }
  .row-3 .icons-group .icon span { font-size: 14px; }
  .row-3 .last-row { display: none; }
  /*---------- Row 4 ----------*/
  .row-4 .r4-wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-4 .slogan { font-size: 16px; margin-left: 0; margin-top: 60px; }
  .row-4 .icons-group { margin: 0 auto; width: 90%; }
  .row-4 .icons-group .icons-wrapper { margin-top: 30px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 480px; }
  .row-5 .sidebar .mBar { width: 90px; height: 300px; -webkit-box-shadow: 10px 0px 0 0 #085097; box-shadow: 10px 0px 0 0 #085097; }
  .row-5 .sidebar img { max-height: 50px; max-width: 120px; }
  .row-5 .sidebar .logo.vfossa { top: 0; left: 70px; }
  .row-5 .sidebar .logo.via { top: 85px; left: 89px; }
  .row-5 .sidebar .logo.iocv { top: 175px; left: 87px; }
  .row-5 .sidebar .logo.opencps { top: 265px; left: 67px; }
  .row-5 .sidebar .hexagon-icon { width: 10px; height: 20px; margin-right: 15px; }
  .row-5 .sidebar .hexagon-icon:before { left: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 6px solid #085097; }
  .row-5 .sidebar .hexagon-icon:after { right: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 6px solid #085097; }
  .row-5 .content { max-width: calc(100% - 330px); left: 270px; font-size: 14px; }
  .row-5 .content .description .img-title { max-height: 80px; max-width: 180px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 10px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0 75px; }
  .row-6 .col-md-4 { margin-top: 100px; }
  /*---------- Row 7 ----------*/
  .row-7 .container-fluid { margin: 0 45px; }
  .row-7 .text-title { margin-bottom: 10px; }
  .row-7 .first { margin-bottom: 15px; margin-top: 90px; } }
@media screen and (min-width: 768px) and (max-width: 999px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  /*---------- Row 1 ----------*/
  .row-1 .slogan { font-size: 20px; margin-left: 20px; }
  .row-1 .slogan b { font-size: 26px; }
  .row-1 a { font-size: 14px; margin-left: 20px; margin-top: 15px; padding: 10px 20px; border-radius: 6px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 18px; }
  .row-2 .head span { font-size: 26px; }
  .row-2 .head label { font-size: 18px; }
  .row-2 .content { width: calc(100% - 100px); }
  .row-2 .content > div { margin-top: 30px; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .row-2 .content .box { border-radius: 6px; width: 200px; height: 130px; font-size: 14px; background-size: 40px 40px; background-position: center 25px; }
  .row-2 .content .box:nth-child(-n+3) { margin-bottom: 30px; }
  .row-2 .content .box a { padding: 75px 15px 0; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row, .row-3 .last-row { margin: 0 60px; }
  .row-3 .first-row { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-3 .first-row > img { margin-bottom: 30px; width: 500px; }
  .row-3 .icons-group { margin: 0 -15px; }
  .row-3 .icons-group .icon { padding: 0 15px; }
  .row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 30px; }
  .row-3 .icons-group .icon div { width: 90px; height: 90px; margin-right: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
  .row-3 .icons-group .icon img { height: 30px; }
  .row-3 .icons-group .icon span { font-size: 14px; }
  .row-3 .last-row { display: none; }
  /*---------- Row 4 ----------*/
  .row-4 .r4-wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-4 .slogan { font-size: 16px; margin-left: 0; margin-top: 60px; }
  .row-4 .icons-group { margin: 0 auto; width: 90%; }
  .row-4 .icons-group .icons-wrapper { margin-top: 30px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 480px; }
  .row-5 .sidebar .mBar { width: 90px; height: 300px; -webkit-box-shadow: 10px 0px 0 0 #085097; box-shadow: 10px 0px 0 0 #085097; }
  .row-5 .sidebar img { max-height: 50px; max-width: 120px; }
  .row-5 .sidebar .logo.vfossa { top: 0; left: 70px; }
  .row-5 .sidebar .logo.via { top: 85px; left: 89px; }
  .row-5 .sidebar .logo.iocv { top: 175px; left: 87px; }
  .row-5 .sidebar .logo.opencps { top: 265px; left: 67px; }
  .row-5 .sidebar .hexagon-icon { width: 10px; height: 20px; margin-right: 15px; }
  .row-5 .sidebar .hexagon-icon:before { left: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 6px solid #085097; }
  .row-5 .sidebar .hexagon-icon:after { right: -6px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 6px solid #085097; }
  .row-5 .content { max-width: calc(100% - 330px); left: 270px; font-size: 14px; }
  .row-5 .content .description .img-title { max-height: 80px; max-width: 180px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 10px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0; }
  .row-6 .col-md-4 { padding: 0 75px; }
  .row-6 .col-md-4:first-child { margin-top: 120px; }
  /*---------- Row 7 ----------*/
  .row-7 .container-fluid { margin: 0 45px; }
  .row-7 .text-title { margin-bottom: 10px; }
  .row-7 .first { margin-bottom: 15px; margin-top: 90px; } }
@media screen and (max-width: 767px) { /*---------- Header ----------*/
  #header { top: 20px; left: 20px; }
  #header .toggle-nav { width: 40px; height: 40px; margin-right: 15px; line-height: 45px; text-align: center; display: block; }
  #header .toggle-nav i { font-size: 16px; }
  #header a img { margin: 0; height: 40px; }
  /*---------- Navbar ----------*/
  .home-theme .dropdown-nav { font-size: 14px; overflow: auto; }
  .home-theme .dropdown-nav .head { font-size: 18px; padding: 0; margin: 30px 0 15px; }
  .home-theme .dropdown-nav .col-1 li:not(.head) a { margin: 0; }
  .home-theme .dropdown-nav .closebtn { margin-top: 60px; }
  /*---------- Row 1 ----------*/
  .row-1 { background-color: #f2f2f2; background-size: contain; background-position: left bottom; }
  .row-1 .slogan { font-size: 16px; margin-left: 20px; padding-right: 45px; }
  .row-1 .slogan b { font-size: 20px; }
  .row-1 a { font-size: 14px; margin-left: 20px; margin-top: 15px; padding: 8px 15px; border-radius: 6px; }
  /*---------- Row 2 ----------*/
  .row-2 .head { font-size: 18px; margin-top: 90px; }
  .row-2 .head span { font-size: 26px; }
  .row-2 .head label { font-size: 18px; }
  .row-2 .content { width: calc(100% - 100px); padding-bottom: 45px; }
  .row-2 .content > div { margin-top: 30px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-2 .content .box { border-radius: 6px; width: 100%; max-width: 200px; height: 130px; font-size: 14px; background-size: 40px 40px; background-position: center 25px; margin-bottom: 15px !important; }
  .row-2 .content .box a { padding: 75px 15px 0; }
  /*---------- Row 3 ----------*/
  .row-3 .first-row, .row-3 .last-row { margin: 0 60px; }
  .row-3 .first-row { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-3 .first-row > img { margin-bottom: 30px; width: 100%; margin-top: 90px; }
  .row-3 .icons-group { margin: 0 -15px 60px; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .row-3 .icons-group .icon { padding: 0 15px; width: 100%; }
  .row-3 .icons-group .icon:nth-child(-n+3) { margin-bottom: 15px; }
  .row-3 .icons-group .icon div { width: 60px; height: 60px; margin-right: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
  .row-3 .icons-group .icon img { height: 25px; }
  .row-3 .icons-group .icon span { font-size: 14px; }
  .row-3 .last-row { display: none; }
  /*---------- Row 4 ----------*/
  .row-4 .r4-wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .row-4 .slogan { font-size: 16px; margin-left: 0; margin-top: 90px; }
  .row-4 .icons-group { margin: 0 auto 60px; width: 90%; }
  .row-4 .icons-group .icons-wrapper { margin-top: 30px; }
  /*---------- Row 5 ----------*/
  .row-5 .sidebar:before { width: 250px; border-radius: 0; }
  .row-5 .sidebar .mBar { width: 25px; height: 200px; border-radius: 0; -webkit-box-shadow: 5px 0px 0 0 #085097; box-shadow: 5px 0px 0 0 #085097; }
  .row-5 .sidebar img { max-height: 30px; max-width: 75px; }
  .row-5 .sidebar .logo.vfossa { top: 0px; left: 20px; }
  .row-5 .sidebar .logo.via { top: 60px; left: 20px; }
  .row-5 .sidebar .logo.iocv { top: 120px; left: 20px; }
  .row-5 .sidebar .logo.opencps { top: 180px; left: 20px; }
  .row-5 .sidebar .hexagon-icon { width: 15px; height: 15px; border-radius: 50%; margin-right: 15px; }
  .row-5 .sidebar .hexagon-icon:before, .row-5 .sidebar .hexagon-icon:after { border: 0; }
  .row-5 .content { max-width: calc(100% - 190px); left: 140px; font-size: 14px; height: 60%; }
  .row-5 .content .description { height: 100%; }
  .row-5 .content .description .img-title { max-height: 60px; max-width: 150px; }
  .row-5 .content .description b { margin: 15px 0; }
  .row-5 .content .description p { margin-bottom: 10px; }
  /*---------- Row 6 ----------*/
  .row-6 > .fp-tableCell { padding: 0; }
  .row-6 .col-md-4 { padding: 0 45px; }
  .row-6 .col-md-4:first-child { margin-top: 90px; }
  .row-6 .col-md-4:last-child { margin-bottom: 60px; }
  .row-6:not(:last-child) { margin-bottom: 15px; }
  /*---------- Row 7 ----------*/
  .row-7 .container-fluid { margin: 105px 45px 0 15px; }
  .row-7 .text-title { margin-bottom: 15px; }
  .row-7 .first { margin-bottom: 15px; }
  .row-7 .copyright { margin-top: 15px; font-size: 12px; margin-bottom: 30px; }
  .row-7 .album-wrapper { margin-bottom: 30px; } }
