/*------------------------------
			Global
------------------------------*/
#fp-nav ul li a span, .fp-slidesNav ul li a span { margin: -6px 0 0 -6px; height: 12px; width: 12px; border: 3px solid white; background-color: transparent; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); }

#fp-nav ul li a.active span { background-color: white; }

.mBody .fancybox-button, .mBody .fancybox-button:visited, .mBody .fancybox-button:link { color: #ccc; }

/*------------------------------
			Row 1
------------------------------*/
/* .row-1 { background: url("../images/bg-home-row-1.jpg") center center no-repeat; background-size: cover; }
.row-1 .slogan { font-size: 36px; font-family: 'SVN-Russell'; margin-left: 75px; }
.row-1 .slogan b { font-size: 40px; text-transform: uppercase; color: #f5821f; font-family: 'SVN-Nexa Rush Sans Black'; }
.row-1 .slogan span { color: #f5821f; text-transform: uppercase; font-family: 'SVN-Square'; }
.row-1 .slogan div:nth-child(1) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.row-1 .slogan div:nth-child(2) { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.row-1 .slogan div:nth-child(3) { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.row-1 .slogan div:nth-child(4) { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.row-1 a { font-size: 16px; display: inline-block; margin-left: 75px; margin-top: 55px; border: 1px solid #085097; color: #085097; padding: 15px 20px; border-radius: 10px; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.row-1 a:hover, .row-1 a:focus { background-color: #085097; color: white; } */

/*------------------------------
			Row 2
------------------------------*/
/* .row-2 { background: url("../images/bg-home-row-2.jpg") center center no-repeat; background-size: cover; }
.row-2 .head { font-size: 30px; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; text-align: center; }
.row-2 .head span { color: #f5821f; font-size: 48px; }
.row-2 .head label { color: white; background-color: #f5821f; font-size: 36px; padding: 5px 15px; }
.row-2 .head > div:nth-child(1) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.row-2 .head > div:nth-child(2) { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.row-2 .content { width: calc(100% - 150px); margin: auto; }
.row-2 .content > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 90px; }
.row-2 .content .box { background-color: white; -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4); border-radius: 10px; width: 250px; height: 260px; text-align: center; font-size: 18px; color: #085097; background-size: 70px 70px; background-position: center 60px; background-repeat: no-repeat; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.row-2 .content .box:hover { background-color: #085097; color: white; }
.row-2 .content .box:nth-child(1) { background-image: url("../images/icon-product-1b.png"); -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.row-2 .content .box:nth-child(1):hover { background-image: url("../images/icon-product-1w.png"); }
.row-2 .content .box:nth-child(2) { background-image: url("../images/icon-product-2b.png"); -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.row-2 .content .box:nth-child(2):hover { background-image: url("../images/icon-product-2w.png"); }
.row-2 .content .box:nth-child(3) { background-image: url("../images/icon-product-3b.png"); -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.row-2 .content .box:nth-child(3):hover { background-image: url("../images/icon-product-3w.png"); }
.row-2 .content .box:nth-child(4) { background-image: url("../images/icon-product-4b.png"); -webkit-animation-delay: 1.8s; animation-delay: 1.8s; }
.row-2 .content .box:nth-child(4):hover { background-image: url("../images/icon-product-4w.png"); }
.row-2 .content .box:nth-child(5) { background-image: url("../images/icon-product-5b.png"); -webkit-animation-delay: 2.1s; animation-delay: 2.1s; }
.row-2 .content .box:nth-child(5):hover { background-image: url("../images/icon-product-5w.png"); }
.row-2 .content .box:nth-child(6) { background-image: url("../images/icon-product-6b.png"); -webkit-animation-delay: 2.4s; animation-delay: 2.4s; }
.row-2 .content .box:nth-child(6):hover { background-image: url("../images/icon-product-6w.png"); }
.row-2 .content .box a { display: block; padding-top: 150px; width: 100%; height: 100%; } */

/*------------------------------
			Row 3
------------------------------*/
/* .row-3 { background: url("../images/bg-home-row-3.jpg") center center no-repeat; background-size: cover; }
.row-3 .first-row, .row-3 .last-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 75px; }
.row-3 .icons-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: auto; max-width: 900px; }
.row-3 .icons-group .icon { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.row-3 .icons-group .icon:nth-child(-n+2) { margin-bottom: 45px; }
.row-3 .icons-group .icon div { width: 175px; height: 175px; background-color: white; border-radius: 50%; -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: 20px; }
.row-3 .icons-group .icon img { height: 75px; }
.row-3 .icons-group .icon span { text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white; font-weight: bold; font-size: 16px; color: #085097; text-transform: uppercase; }
.row-3 .last-row { margin-top: 100px; }
.row-3 .hexagon-wrapper { width: 30px; height: 50px; background: white; position: relative; font-size: 36px; font-weight: bold; margin-right: 25px; }
.row-3 .hexagon-wrapper:before { content: ""; position: absolute; top: -0; left: -15px; width: 0; height: 0; border-top: 25px solid transparent; border-bottom: 25px solid transparent; border-right: 15px solid white; }
.row-3 .hexagon-wrapper:after { content: ""; position: absolute; top: 0; right: -15px; width: 0; height: 0; border-top: 25px solid transparent; border-bottom: 25px solid transparent; border-left: 15px solid white; }
.row-3 .hexagon-wrapper span { position: relative; z-index: 1; }
.row-3 .step-1 { background-color: #f5821f; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 16px; padding: 20px 5px 20px 35px; border-radius: 10px 0 0 10px; position: relative; }
.row-3 .step-1:before { content: ""; position: absolute; top: 0; right: -30px; width: 0; height: 0; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 30px solid #f5821f; }
.row-3 .step-1 .hexagon-wrapper { color: #f5821f; }
.row-3 .step-1 span { display: block; }
.row-3 .step-2 { background-color: #085097; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 16px; padding: 20px 5px 20px 35px; border-radius: 10px 0 0 10px; position: relative; margin-right: 70px; }
.row-3 .step-2:before { content: ""; position: absolute; top: 0; right: -30px; width: 0; height: 0; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 30px solid #085097; }
.row-3 .step-2 .hexagon-wrapper { color: #085097; }
.row-3 .step-2 span { display: block; }
.row-3 .wrapper { background-color: #d8f0fe; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 50px; padding-right: 125px; }
.row-3 .wrapper div[class*="step-2-"] { text-transform: uppercase; font-size: 18px; color: #085097; }
.row-3 .split { width: 1px; height: 60px; background-color: #085097; -webkit-transform: rotate(30deg); transform: rotate(30deg); margin: 0 60px; } */

/*------------------------------
			Row 4
------------------------------*/
/* .row-4 { background: url("../images/bg-home-row-4.png") center center no-repeat; background-size: cover; }
.row-4 .r4-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.row-4 .slogan { font-size: 24px; text-transform: uppercase; font-family: 'SVN-Nexa Rush Sans Black'; color: #085097; text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white; margin-left: 75px; }
.row-4 .slogan label { background-color: #f5821f; color: white; text-shadow: none; padding: 0 10px 5px; }
.row-4 .slogan label:nth-child(5) { margin-top: 5px; }
.row-4 .icons-group { margin-left: auto; margin-right: 115px; }
.row-4 div[class*="lv"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.row-4 div[class*="lv"]:not(.lv4-icons) { margin-bottom: 90px; }
.row-4 div[class*="lv"] img:not(:first-child) { margin-left: 100px; } */

/*------------------------------
			Row 5
------------------------------*/
/* .row-5 { background: url("../images/bg-home-row-5.jpg") center center no-repeat; background-size: cover; overflow: hidden; }
.row-5 .sidebar:before { content: ""; width: 800px; height: 200vh; top: 50%; left: 0; position: absolute; background-color: rgba(255, 255, 255, 0.5); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 50%; }
.row-5 .sidebar .mBar { position: absolute; top: 50%; left: -10px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 150px; height: 400px; border-radius: 50%; -webkit-box-shadow: 15px 0px 0 0 #085097; box-shadow: 15px 0px 0 0 #085097; }
.row-5 .sidebar img { max-height: 70px; max-width: 170px; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.row-5 .sidebar .active img { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
.row-5 .sidebar .active .hexagon-icon { background-color: #f5821f; }
.row-5 .sidebar .active .hexagon-icon:before { border-right-color: #f5821f; }
.row-5 .sidebar .active .hexagon-icon:after { border-left-color: #f5821f; }
.row-5 .sidebar .logo { position: absolute; }
.row-5 .sidebar .logo.vfossa { top: 5px; left: 120px; }
.row-5 .sidebar .logo.via { top: 110px; left: 148px; }
.row-5 .sidebar .logo.iocv { top: 225px; left: 147px; }
.row-5 .sidebar .logo.opencps { top: 335px; left: 120px; }
.row-5 .sidebar a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.row-5 .sidebar .hexagon-icon { width: 15px; height: 30px; background-color: #085097; position: relative; margin-right: 25px; display: block; }
.row-5 .sidebar .hexagon-icon:before { content: ""; position: absolute; top: -0; left: -10px; width: 0; height: 0; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-right: 10px solid #085097; }
.row-5 .sidebar .hexagon-icon:after { content: ""; position: absolute; top: 0; right: -10px; width: 0; height: 0; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: 10px solid #085097; }
.row-5 .content { max-width: 1350px; position: absolute; top: 50%; left: 450px; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 18px; }
.row-5 .content .description { display: none; }
.row-5 .content .description.show { display: block; }
.row-5 .content .description .img-title { max-height: 140px; }
.row-5 .content .description b { margin: 30px 0 45px; display: block; color: #085097; }
.row-5 .content .description p { margin-bottom: 30px; }
.row-5 .content .description p:last-child { margin-bottom: 0; }
.row-5 .content .description span { color: #f5821f; font-weight: bold; }
.row-5 .content .bg-img-transparent { background-color: rgba(255, 255, 255, 0.5); } */

/*------------------------------
			Row 6
------------------------------*/
/* .row-6 { background: url("../images/bg-home-row-6.jpg") center center no-repeat; background-size: cover; }
.row-6 > .fp-tableCell { padding: 0 75px; }
.row-6 .portlet { position: relative; }
.row-6 .portlet .portlet-title { position: absolute; left: 0; top: 30px; z-index: 1; margin: 0; font-size: 14px; text-transform: uppercase; font-weight: bold; display: inline-block; background-color: #085097; padding: 10px 15px; color: white; line-height: normal; pointer-events: none; }
.row-6 .portlet .portlet-title .portlet-title-text { max-width: 100%; }
.row-6 .news-mt { position: relative; }
.row-6 .news-mt > a { position: relative; overflow: hidden; padding-top: 75%; display: block; }
.row-6 .news-mt > a img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; min-height: 100%; min-width: 100%; }
.row-6 .news-mt h3 { margin: 0; position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px; color: white; font-size: 16px; line-height: 22px; text-transform: uppercase; font-weight: bold; background: #ffffff; background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#085097)); background: linear-gradient(to bottom, transparent 0%, #085097 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#085097',GradientType=0 ); }
.row-6 .news-mt .news-summary { display: none; }
.row-6 .news-ul3 { background-color: rgba(255, 255, 255, 0.5); padding: 15px; }
.row-6 .news-ul3 a { display: block; padding: 5px 0 5px 20px; position: relative; }
.row-6 .news-ul3 a:before { content: "\f04d"; font-family: FontAwesome; color: #085097; position: absolute; top: 9px; left: 0; font-size: 8px; -webkit-transform: rotate(45deg); transform: rotate(45deg); } */

/*------------------------------
			Row 7
------------------------------*/
/* .row-7 { background: url("../images/bg-home-row-7.jpg") center center no-repeat; background-size: cover; }
.row-7 .container-fluid { margin: 0 115px; }
.row-7 .text-title { text-transform: uppercase; color: #085097; margin-bottom: 15px; font-family: "SVN-Nexa Rush Sans Black"; }
.row-7 i { width: 20px; text-align: center; color: #085097; margin-right: 5px; }
.row-7 .first { margin-bottom: 30px; }
.row-7 .first .address i, .row-7 .first .phone i { font-size: 16px; }
.row-7 .first .mobile i { font-size: 20px; }
.row-7 .first .bank-account i { font-size: 13px; }
.row-7 .first .business-location, .row-7 .first .bank-account { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; }
.row-7 .copyright { font-style: italic; color: #085097; margin-top: 30px; text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white; }

.map-wrapper { width: 100%; max-width: 650px; padding-top: 45%; position: relative; overflow: hidden; }
.map-wrapper iframe { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100% !important; height: 100% !important; }

.album-wrapper { max-width: 650px; position: relative; }
.album-wrapper .title { background-color: #085097; color: white; padding: 10px 20px; text-transform: uppercase; font-weight: bold; display: inline-block; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 1; }

.fancybox-thumbs { top: auto; width: auto; bottom: 0; left: 0; right: 0; height: 80px; padding: 10px 10px 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; background: rgba(0, 0, 0, 0.3); }

.fancybox-show-thumbs .fancybox-inner { right: 0; bottom: 80px; } */
