*{
    font-family: Arial, Helvetica, sans-serif
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button:focus{
    outline: none;
}

.clearfix {
    overflow: auto;
}

.customer-main-background{
    width: calc(100vw - 8px);
    height: calc(100vh - 16px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/wave-background.jpg');
    position: absolute;
    z-index: -1;
}

.customer-main-conntent{
    width: calc(100% - 100px );
    height: 450px;
    margin-left: 50px;
    transform: translateY(50%)
}

.customer-col-left{
    width: calc((100% - 40px)/2);
    float: left;
    padding: 10px;
}

.customer-col-right{
    width: calc((100% - 40px)/2);
    float: right;
    padding: 10px;
}

.customer-col-left .owl-carousel .owl-stage-outer{
    border-radius: 35px;
    -webkit-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    -moz-box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
    box-shadow: 3px 17px 68px -27px rgba(0,0,0,0.53);
}

.customer-col-left .owl-carousel .owl-dot{
    width: 12px;
    background-color: #E0E0E0;   
    height: 12px;
    margin: 15px 5px 0 5px;
    border-radius: 12px;
}

.customer-col-left .owl-carousel .owl-dot.active {
    background-image: linear-gradient(to right, #E69122 , #E45A21);
}


.customer-col-left .owl-carousel .owl-nav{
    float: right;
    color: #E9BF67;
    font-weight: bold;
}

.customer-col-left .owl-carousel .owl-nav button{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #E9BF67!important;
    margin: 10px 5px;;
}

.customer-col-left .owl-carousel .owl-nav button.owl-next{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #E45A21!important;
    color: #fff!important;
    background-image: linear-gradient(to right, #E69122 , #E45A21)!important;
}

.customer-list-customer ul li img:first-child{
    display: none;
}

.customer-list-customer ul li img:last-child{
    display: block;
}

.customer-list-customer ul li.active img:last-child{
    display: none;
}

.customer-list-customer ul li.active img:first-child{
    display: block;
}

.customer-list-customer li .thumbnail{
    float: left;
}

.customer-col-right h1{
    border-bottom: 2px solid #B9B9B9;
    font-weight: 800;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    margin: 0 0 0 60px;
    position: relative;
    color: #333;
}

.customer-col-right h4{
    border-top: 2px solid #B9B9B9;
    font-weight: bold;
    margin: 0 0 20px 60px;
    text-transform: uppercase;
    position: fixed;
    width: calc((100% - 150px)/2);
    bottom: 0px;
    padding-top: 10px;
    color: #858585;
}

.customer-col-right h1::after { 
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #E69122 , #E45A21)!important;
    bottom:0px;
    left: 0px;
    height: 7px;
    width: 100px;
}
.customer-list-customer li span{
    height: 33px;
    color: #888888;
    font-size: 15px;
}
.customer-list-customer li span:nth-child(2){
    margin: 0 10px 0 30px;
    padding: 0px 10px 0 15px;
    border-right: 2px solid #B9B9B9;
    border-left: 2px solid #B9B9B9;
    font-weight: bold;
    width: 200px;
}

.customer-list-customer li.active span{
    color: #333;
}

.customer-list-customer li.active span:nth-child(2){
    font-size: 18px;
    height: 40px;
    width: 250px;
}


.customer-list-customer li{
    padding: 20px 0;
    display:flex;
    align-items: center;
}

.customer-list-customer li.active{
    background-color:#b9b9b957;
    padding: 50px 0;
}

.customer-list-customer li.active span:nth-child(3){
    font-size: 16px;
    font-weight: 550
}