@import "variables";



/*------------------------------
			Global
------------------------------*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	margin: -6px 0 0 -6px;
	height: 12px;
    width: 12px;
	border: 3px solid white;
	background-color: transparent;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}
#fp-nav ul li a.active span {
	background-color: white;
}
.mBody .fancybox-button, .mBody .fancybox-button:visited, .mBody .fancybox-button:link {
    color: #ccc;
}



/*------------------------------
			Row 1
------------------------------*/


.map-wrapper {
	width: 100%;
	max-width: 650px;
	padding-top: 45%;
	position: relative;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100% !important;
		height: 100% !important;
	}
}

.album-wrapper {
	max-width: 650px;
	position: relative;

	.title {
		background-color: $main-color;
		color: white;
		padding: 10px 20px;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
}

.fancybox-thumbs {
	top: auto;
	width: auto;
	bottom: 0;
	left: 0;
	right : 0;
	height: 80px;
	padding: 10px 10px 5px 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
}
.fancybox-show-thumbs .fancybox-inner {
	right: 0;
	bottom: 80px;
}