/*------------------------------
			All
------------------------------*/
.page-theme { background-size: 100% auto; }
.page-theme.products { background: url("../images/bg-top-page-products.png") center top no-repeat; }
.page-theme.activities { background: url("../images/bg-top-page-activities.png") center top no-repeat; }

@media screen and (max-width: 767px) { .page-theme #content { padding-top: 75px; } }
/*------------------------------
			Navbar
------------------------------*/
.page-theme #mMenu { background-color: rgba(255, 255, 255, 0.6); border: 0; border-radius: 0; -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3); }
.page-theme #mMenu.affix { background-color: white; }
.page-theme #mMenu .navbar-brand { height: auto; }
.page-theme #mMenu #navbar { margin-top: 25px; }
.page-theme #mMenu #navbar li a { font-size: 16px; padding: 10px 30px; border-radius: 50px; }
.page-theme #mMenu #navbar li.active a { background-color: #085097; color: white; font-weight: bold; }
.page-theme #mMenu #navbar li:hover a { background-color: #085097; color: white; }

@media screen and (min-width: 768px) and (max-width: 999px) { .page-theme #mMenu #navbar li a { padding: 10px 20px; } }
@media screen and (max-width: 767px) { .page-theme #mMenu { background-color: white; }
  .page-theme #mMenu .navbar-toggle { margin-top: 12px; }
  .page-theme #mMenu .navbar-brand img { height: 30px; }
  .page-theme #mMenu #navbar { margin-top: 0; }
  .page-theme #mMenu #navbar li a { font-size: 14px; border-radius: 0; } }
/*------------------------------
			Footer
------------------------------*/
.page-theme #footer { background: url("../images/bg-footer.png") left center no-repeat; background-size: cover; position: relative; color: white; padding: 30px 0; overflow: hidden; }
.page-theme #footer .map-wrapper-page { width: 40%; height: 100%; position: absolute; top: 0; right: 0; }
.page-theme #footer .map-wrapper-page iframe { width: 100% !important; height: 100% !important; }
.page-theme #footer .site-name { font-weight: bold; font-size: 24px; margin-bottom: 30px; }
.page-theme #footer .contact-info .info { position: relative; padding-left: 25px; }
.page-theme #footer .contact-info i { position: absolute; left: 0; top: 2px; width: 15px; text-align: center; }
.page-theme #footer .contact-info .address i { font-size: 16px; top: 0; }
.page-theme #footer .contact-info .hotline i { font-size: 20px; top: -1px; }
.page-theme #footer .copyright { font-style: italic; margin-top: 20px; }

@media screen and (max-width: 999px) { .page-theme #footer { padding: 20px 0 0; }
  .page-theme #footer .map-wrapper-page { width: 100%; position: relative; padding-top: 56.25%; margin-top: 15px; }
  .page-theme #footer .map-wrapper-page iframe { position: absolute; top: 0; left: 0; }
  .page-theme #footer .site-name { font-size: 18px; margin-bottom: 15px; }
  .page-theme #footer .site-name br { display: none; }
  .page-theme #footer .contact-info .info { position: relative; padding-left: 25px; }
  .page-theme #footer .contact-info i { position: absolute; left: 0; top: 2px; width: 15px; text-align: center; }
  .page-theme #footer .contact-info .address i { font-size: 16px; top: 0; }
  .page-theme #footer .contact-info .hotline i { font-size: 20px; top: -1px; }
  .page-theme #footer .copyright { font-style: italic; margin-top: 20px; } }
/*------------------------------
			
------------------------------*/
