@import "variables";



/*------------------------------
			All
------------------------------*/
.page-theme {
	background-size: 100% auto;

	&.products {
		background: url('../images/bg-top-page-products.png') center top no-repeat;
	}

	&.activities {
		background: url('../images/bg-top-page-activities.png') center top no-repeat;
	}
}


@media screen and (max-width: 767px) {
	.page-theme {

		#content {
			padding-top: 75px;
		}
	}
}



/*------------------------------
			Navbar
------------------------------*/
.page-theme #mMenu {
	background-color: rgba(255,255,255,0.6);
	border: 0;
	border-radius: 0;
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);

	&.affix {
		background-color: white;
	}

	.navbar-brand {
		height: auto;
	}

	#navbar {
		margin-top: 25px;

		li {

			a {
				font-size: 16px;
				padding: 10px 30px;
				border-radius: 50px;
			}

			&.active {

				a {
					background-color: $main-color;
					color: white;
					font-weight: bold;
				}
			}

			&:hover {

				a {
					background-color: $main-color;
					color: white;
				}
			}
		}
	}
}


@media screen and (min-width: 768px) and (max-width: 999px) {
	.page-theme #mMenu {

		#navbar {

			li {

				a {
					padding: 10px 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.page-theme #mMenu {
		background-color: white;

		.navbar-toggle {
			margin-top: 12px;
		}

		.navbar-brand {
			
			img {
				height: 30px;
			}
		}

		#navbar {
			margin-top: 0;

			li {

				a {
					font-size: 14px;
					border-radius: 0;
				}
			}
		}
	}
}



/*------------------------------
			Footer
------------------------------*/
.page-theme #footer {
	background: url('../images/bg-footer.png') left center no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	padding: 30px 0;
	overflow: hidden;

	.map-wrapper-page {
		width: 40%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;

		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}

	.site-name {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.contact-info {

		.info {
			position: relative;
			padding-left: 25px;
		}

		i {
			position: absolute;
			left: 0;
			top: 2px;
			width: 15px;
			text-align: center;
		}

		.address {

			i {
				font-size: 16px;
				top: 0;
			}
		}

		.hotline {

			i {
				font-size: 20px;
				top: -1px;
			}
		}
	}

	.copyright {
		font-style: italic;
		margin-top: 20px;
	}
}


@media screen and (max-width: 999px) {
	.page-theme #footer {
		padding: 20px 0 0;

		.map-wrapper-page {
			width: 100%;
			position: relative;
			padding-top: 56.25%;
			margin-top: 15px;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.site-name {
			font-size: 18px;
			margin-bottom: 15px;

			br {
				display: none;
			}
		}

		.contact-info {

			.info {
				position: relative;
				padding-left: 25px;
			}

			i {
				position: absolute;
				left: 0;
				top: 2px;
				width: 15px;
				text-align: center;
			}

			.address {

				i {
					font-size: 16px;
					top: 0;
				}
			}

			.hotline {

				i {
					font-size: 20px;
					top: -1px;
				}
			}
		}

		.copyright {
			font-style: italic;
			margin-top: 20px;
		}
	}
}



/*------------------------------
			
------------------------------*/