// Main Variable
$main-color: #085097;
$main-color-light: #d8f0fe;
$main-color-medium: #00bff3;
$sub-color: #f5821f;



//Mixin
@mixin box-shadow($value) {
  	-webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin transform($value) {
  	-webkit-transform: $value;
    transform: $value;
}

@mixin transition($value) {
  	-webkit-transition: $value;
    transition: $value;
}

@mixin d_flex {
  	display: -webkit-box;
  	display: flex;
}

@mixin flex_wrap($value) {
  	-webkit-flex-wrap: $value;
  	flex-wrap: $value;
}

@mixin flex_align($value) {
  	-webkit-align-items: $value;
  	align-items: $value;
}

@mixin flex_justify($value) {
  	-webkit-justify-content: $value;
  	justify-content: $value;
}