<div class="customer-main-background">
    <img src="../images/wave-background.png">
</div>

<div class="customer-main-conntent">
    <div class="customer-col-left">
        <div class="owl-carousel owl-theme owl-carousel-customer">
            <div><img src="../images/hnx.jpg" alt="image"></div>
            <div><img src="../images/hnx-1.jpg" alt="image"></div>
            <div><img src="../images/hnx.jpg" alt="image"></div>
            <div><img src="../images/hnx-1.jpg" alt="image"></div>
        </div>
    </div>

    <div class="customer-col-right">
        <h1>Khách hàng</h1>

        <div class="customer-list-customer">
            <ul>
                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="../images/icon/website otp 3-33.png" alt="">
                        <img src="../images/icon/website otp 3-28.png" alt="">
                    </div>

                    <span>Ngân hàng đầu tư và phát triển việt nam</span>

                    <span>Ngân hàng tài chính</span>
                </li>

                <li class="clearfix active">
                    <div class="thumbnail">
                        <img src="../images/icon/website otp 3-29.png" alt="">
                        <img src="../images/icon/website otp 3 bidv-35.png" alt="">
                    </div>

                    <span>Ngân hàng Đầu tư và Phát triển Việt Nam - BIDV</span>

                    <span>Ngân hàng tài chính</span>
                </li>

                <li class="clearfix">
                    <div class="thumbnail">
                        <img src="../images/icon/website otp 3-34.png" alt="">
                        <img src="../images/icon/website otp 3-30.png" alt="">
                    </div>

                    <span>Ngân hàng đầu tư và phát triển việt nam</span>

                    <span>Ngân hàng tài chính</span>
                </li>
            </ul>
        </div>

        <h4 style="text-transform: uppercase">OUR SOLUTION YOUR Success</h4>
    </div>
</div>