<div id="page1">
    <div class="col-xs-5">
        <div class="align-items-center">
            <ul class="margin-left">
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-rss"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus"></i>
                </li>
            </ul>
            <img src="../images/icon/website otp 3-26.png" class="margin-left" />
        </div>
        <div>
            <img src="../images/icon/website otp 3-23.png" />
        </div>
    </div>
    <div class="col-xs-7">
        <b>Giới thiệu</b>
        <div class="xemthem">
            <img src="../images/icon/website otp 3-28.jpg" />
            <span id="see_more">Xem thêm <i class="fa fa-long-arrow-right"></i></span>
        </div>
        <p>Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
            khoán, ngân hàng và tài chính. Được thành lập năm 2007, với một đội ngũ lãnh đạo giàu kinh nghiệm chuyên
            môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft đều có nhiệt huyết xây dựng công ty trở thành
            một trong những công ty phần mềm hàng đầu tại Việt Nam và khu vực.</p>
        <table>
            <tr>
                <td width="120">
                    <p class="color_class">Tên đầy đủ</p>
                </td>
                <td>
                    <p>Công ty Cổ phần Giải pháp và Dịch vụ phần mềm Nam Việt</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="color_class">Tên viết tắt</p>
                </td>
                <td>
                    <p>Navisoft</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="color_class">Tên giao dịch</p>
                </td>
                <td>
                    <p>NamViet Software JSC</p>
                </td>
            </tr>
        </table>
        <p>Được thành lập theo quyết định số 0103016085 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp.</p>
        <hr>
        <div class="d-flex align-items-center">
            <span>
                <img src="../images/icon/N&R-12.png" />
                <img src="../images/icon/N&R-11.png" />
            </span>
            <span>
                <b>SUMMER 2017</b>
                <p>NamViet Software JSC</p>
            </span>
        </div>
    </div>
</div>

<div id="page2" class="align-items-center">
    <div class="col-xs-2">
        <div class="">
            <ul class="text-center">
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-rss"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-8">
        <b>Giới thiệu</b>
        <div class="xemthem">
            <img src="../images/icon/website otp 3-28.jpg" />
            <span id="come_back"><i class="fa fa-long-arrow-left"></i> Quay lại</span>
        </div>
        <p>Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
            khoán, ngân hàng và tài chính. Được thành lập năm 2007, với một đội ngũ lãnh đạo giàu kinh nghiệm chuyên
            môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft đều có nhiệt huyết xây dựng công ty trở thành
            một trong những công ty phần mềm hàng đầu tại Việt Nam và khu vực.</p>
        <table>
            <tr>
                <td width="120">
                    <p class="color_class">Tên đầy đủ</p>
                </td>
                <td>
                    <p>Công ty Cổ phần Giải pháp và Dịch vụ phần mềm Nam Việt</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="color_class">Tên viết tắt</p>
                </td>
                <td>
                    <p>Navisoft</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="color_class">Tên giao dịch</p>
                </td>
                <td>
                    <p>NamViet Software JSC</p>
                </td>
            </tr>
        </table>
        <p>Được thành lập theo quyết định số 0103016085 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp.</p>
        <h4><b class="color_class">HỆ THỐNG SẢN PHẨM</b></h4>
        <ul>
            <li class="d-flex align-items-center">
                <i class="fa fa-check-circle "></i>
                <p>Xây dựng và triển khai giải pháp phần mềm cho các công ty chứng khoán</p>
            </li>
            <li class="d-flex align-items-center">
                <i class="fa fa-check-circle "></i>
                <p>Xây dựng và triển khau giải pháp phần mềm cho các cơ quan quản lý trong thị trường chứng khoán
                </p>
            </li>
            <li class="d-flex align-items-center">
                <i class="fa fa-check-circle "></i>
                <p>Tư vấn, xây dựng giải pháp, triển khai các sản phẩm phần mềm trong lĩnh vực tài chính dựa theo
                    nhu cầu của khách hàng</p>
            </li>
        </ul>
    </div>
    <div class="col-xs-2">
        <img src="../images/icon/website otp 3-24.png" />
    </div>
</div>