<div class="page-menu">
    <div class="col-left">
        <div class="list-menu">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <!-- <li class="active"><a href="#">Dịch vụ & sản phẩm</a></li> -->
                <li><a href="#">Dịch vụ & sản phẩm</a></li>
                <li><a href="#">Khách hàng</a></li>
                <li><a href="#">Tầm nhìn và sứ mệnh</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="list-social">
            <ul style="overflow: auto;">
                <li>
                    <a href="#">
                        <img src="../images/icon/website otp 3 - đen-19.png" alt="">
                        <img class="active" src="../images/icon/website otp 3-14.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/icon/website otp 3 - đen-20.png" alt="">
                        <img class="active" src="../images/icon/website otp 3-15.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/icon/website otp 3 - đen-21.png" alt="">
                        <img class="active" src="../images/icon/website otp 3-16.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/icon/website otp 3 - đen-22.png" alt="">
                        <img class="active" src="../images/icon/website otp 3-17.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="group-register">
            <button class="btn-register">
                <span>Đăng ký ứng tuyển</span>
            </button>
        </div>
    </div>

    <div class="col-right">
        <h2>Các hoạt động của navisoft</h2>
        <div class="owl-carousel owl-theme post-content">
            <div>
                <div class="img-gallery">
                    <div class="products">
                        <div class="product-wrapper" data-width="500" data-height="450">
                            <img class="product-image" src="../images/icon/website otp 3-26.png" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" data-width="500" data-height="450">
                            <img class="product-image" src="../images/icon/website otp 3-23.png" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/350x700" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/500x450/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/300x650/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/1024x768/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/400x400" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/350x700" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/300x650/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/1024x768/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Chuyến đi ngày hôm qua</p>
                    <p class="create-date">
                        <img src="../images/icon/website otp 3-42.png" alt="">
                        <span>15/09/2011</span>
                    </p>
                    <p class="content-des">Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và
                        giải pháp về lĩnh vực chứng khoán, ngân hàng và tài chính. Được thành lập năm 2007 với một đội
                        ngũ lãnh đào giàu kinh nghiệm chuyên môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft
                        đều có nhiệt huyết xây dựng công ty thành một trong những công ty phần mềm hàng đầu tại Việt Nam
                        và khu vực</p>
                </div>
            </div>
            <div>
                <div class="img-gallery">
                    <div class="products">
                        <div class="product-wrapper" data-width="500" data-height="450">
                            <img class="product-image" src="../images/icon/website otp 3-26.png" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper" data-width="500" data-height="450">
                            <img class="product-image" src="../images/icon/website otp 3-23.png" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/350x700" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/500x450/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/300x650/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/1024x768/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/400x400" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/350x700" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/300x650/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-wrapper">
                            <img class="product-image" src="https://placehold.it/1024x768/" />
                            <div class="product-overlay">
                                <a class="plus-sign" href="javascript:void(0)">
                                    <img src="../images/icon/website otp 3-45.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Chuyến đi ngày hôm qua</p>
                    <p class="create-date">
                        <img src="../images/icon/website otp 3-42.png" alt="">
                        <span>15/09/2011</span>
                    </p>
                    <p class="content-des">Navisoft là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và
                        giải pháp về lĩnh vực chứng khoán, ngân hàng và tài chính. Được thành lập năm 2007 với một đội
                        ngũ lãnh đào giàu kinh nghiệm chuyên môn, đội ngũ quản lý và tất cả các nhân viên của Navisoft
                        đều có nhiệt huyết xây dựng công ty thành một trong những công ty phần mềm hàng đầu tại Việt Nam
                        và khu vực</p>
                </div>
            </div>
        </div>
    </div>
</div>