<div id="myCarousel" class=" carousel" data-ride="carousel" style="height: calc(100vh)">
    <!-- Indicators -->
    <ol class="carousel-indicators-right">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../images/IMG_5319-min.jpg" alt="Los Angeles" width="100%" style="height: 100vh">
            <div class="carousel-caption">
                <div class="is-animated animated fadeInLeft">
                    <h1><b><span>NAVI</span> SOFT</b></h1>
                    <p>Là một công ty phần mềm tập trung vào việc cung cấp các dịch vụ và giải pháp về lĩnh vực chứng
                        khoán, ngân hàng và tài chính.</p>
                </div>

            </div>
        </div>
        <!-- <div class="item">
                            <img src="../images/logo.png" alt="Los Angeles" width="100%" height="100%">
                            <div class="carousel-caption">
                                <h3>Chicago</h3>
                                <p>Thank you, Chicago!</p>
                            </div>
                        </div>
                    -->
    </div>
</div>